<app-navbar></app-navbar>

<app-page-loading *ngIf="!currentUser"></app-page-loading>

<section *ngIf="currentUser">
  <div class="flex items-center justify-center w-full py-8">
  <!-- Card code block start -->
  <div class="bg-white dark:bg-gray-800 shadow rounded w-2/3">
    <div class="relative">
      <img class="h-56 shadow rounded-t w-full object-cover object-center" src="assets/images/ill_25.png" alt="" />
      <div class="inset-0 m-auto w-24 h-24 absolute bottom-0 -mb-12 xl:ml-10 rounded-full border-2 shadow border-white">
        <img class="w-full h-full overflow-hidden object-cover rounded-full" src="{{currentUser.photo ? currentUser.photo : 'assets/images/user.png'}}" alt="" />
      </div>
    </div>
    <div class="px-5 xl:px-10 pb-10">
      <div class="flex justify-center xl:justify-end w-full pt-16 xl:pt-5">
        <!--div class="flex items-center">
          <svg class="w-4 mr-1 text-yellow-400 icon icon-tabler icon-tabler-star" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" fill="none" d="M0 0h24v24H0z" />
            <path fill="currentColor" d="M12 17.75l-6.172 3.245 1.179-6.873-4.993-4.867 6.9-1.002L12 2l3.086 6.253 6.9 1.002-4.993 4.867 1.179 6.873z" />
          </svg>
          <svg class="w-4 mr-1 text-yellow-400 icon icon-tabler icon-tabler-star" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" fill="none" d="M0 0h24v24H0z" />
            <path fill="currentColor" d="M12 17.75l-6.172 3.245 1.179-6.873-4.993-4.867 6.9-1.002L12 2l3.086 6.253 6.9 1.002-4.993 4.867 1.179 6.873z" />
          </svg>
          <svg class="w-4 mr-1 text-yellow-400 icon icon-tabler icon-tabler-star" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" fill="none" d="M0 0h24v24H0z" />
            <path fill="currentColor" d="M12 17.75l-6.172 3.245 1.179-6.873-4.993-4.867 6.9-1.002L12 2l3.086 6.253 6.9 1.002-4.993 4.867 1.179 6.873z" />
          </svg>
          <svg class="w-4 mr-1 text-yellow-400 icon icon-tabler icon-tabler-star" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" fill="none" d="M0 0h24v24H0z" />
            <path fill="currentColor" d="M12 17.75l-6.172 3.245 1.179-6.873-4.993-4.867 6.9-1.002L12 2l3.086 6.253 6.9 1.002-4.993 4.867 1.179 6.873z" />
          </svg>
          <svg class="w-4 text-gray-200 icon icon-tabler icon-tabler-star" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" fill="none" d="M0 0h24v24H0z" />
            <path fill="currentColor" d="M12 17.75l-6.172 3.245 1.179-6.873-4.993-4.867 6.9-1.002L12 2l3.086 6.253 6.9 1.002-4.993 4.867 1.179 6.873z" />
          </svg>
        </div-->
      </div>
      <div class="pt-3 xl:pt-5 flex flex-col xl:flex-row items-start xl:items-center justify-between">
        <div class="xl:pr-16 w-full xl:w-2/3">
          <div class="text-center xl:text-left mb-3 xl:mb-0 flex flex-col xl:flex-row items-center justify-between xl:justify-start">
            <h2 class="mb-3 xl:mb-0 xl:mr-4 text-2xl text-gray-800 dark:text-gray-100 font-medium tracking-normal capitalize">{{currentUser.nom}}</h2>
            <div *ngIf="currentUser.typeUtilisateur === 'vendor'" class="text-sm bg-indigo-700 dark:bg-indigo-600 text-white px-5 py-1 font-normal rounded-full">Pro</div>
          </div>
          <p class="text-center xl:text-left mt-2 text-sm tracking-normal text-gray-600 dark:text-gray-400 leading-5">{{currentEvent ? 'Hi everyone, my current event starts in ' +
             getTimeRemaining(currentEvent.dateEvenement).jours + ' days : ' +
              getTimeRemaining(currentEvent.dateEvenement).heures + ' hr : ' +
              getTimeRemaining(currentEvent.dateEvenement).minutes + ' mn : ' +
              getTimeRemaining(currentEvent.dateEvenement).seconds + ' sc'
            : 'Hi everyone, I use evauxie to manage my event!'}}</p>
        </div>
        <div class="xl:px-10 xl:border-l xl:border-r w-full py-5 flex items-start justify-center xl:w-1/3">
          <div class="mr-6 xl:mr-10">
            <h2 class="text-gray-600 dark:text-gray-400 font-bold text-xl xl:text-2xl leading-6 mb-2 text-center">{{liste_my_event.length}}</h2>
            <p class="text-gray-800 dark:text-gray-100 text-sm xl:text-xl leading-5">Event{{ liste_my_event.length > 1 ? 's' : ''}}</p>
          </div>
          <div class="mr-6 xl:mr-10">
            <h2 class="text-gray-600 dark:text-gray-400 font-bold text-xl xl:text-2xl leading-6 mb-2 text-center">{{liste_topics.length}}</h2>
            <p class="text-gray-800 dark:text-gray-100 text-sm xl:text-xl leading-5">Discussion{{liste_topics.length > 1 ? 's' : ''}}</p>
          </div>
          <div>
            <h2 class="text-gray-600 dark:text-gray-400 font-bold text-xl xl:text-2xl leading-6 mb-2 text-center">{{liste_topics_like.length}}</h2>
            <p class="text-gray-800 dark:text-gray-100 text-sm xl:text-xl leading-5">Like{{liste_topics_like.length > 1 ? 's' : ''}}</p>
          </div>
        </div>
        <div class="w-full xl:w-2/3 flex-col md:flex-row justify-center xl:justify-end flex md:pl-6 px-6">
          <div class="flex items-center justify-center xl:justify-start mt-1 md:mt-0 mb-5 md:mb-0">
            <!--div class="rounded-full bg-gray-200 text-gray-600 dark:text-gray-400 text-sm px-6 py-2 flex justify-center items-center">&nbsp;</div>
            <div class="ml-5 rounded-full bg-green-200 text-green-500 text-sm px-6 py-2 flex justify-center items-center">&nbsp;</div-->
          </div>
          <button routerLink="../../mailbox" [queryParams]="{ write: currentUser.email}" *ngIf="userConnect && currentUser.email !== userConnect" class="focus:outline-none ml-0 md:ml-5 bg-indigo-700 dark:bg-indigo-600 transition duration-150 ease-in-out hover:bg-indigo-600 rounded text-white px-3 md:px-6 py-2 text-sm">Message</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Card code block end -->
</div>
</section>

<section *ngIf="currentUser">
  <div class="flex items-center justify-center w-full py-8">
    <div class="items-center justify-center w-2/3">
      <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
        <ul class="flex flex-wrap -mb-px" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
          <li class="mr-2" role="presentation">
            <button (click)="onglet = 1" class="inline-block py-4 px-4 text-sm text-center {{ onglet === 1 ? 'text-indigo-600 font-semibold border-indigo-600 active' : 'text-gray-500 font-medium border-transparent hover:text-gray-600 hover:border-gray-300'}} rounded-t-lg border-b-2 dark:text-gray-400 dark:hover:text-gray-300" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile">Current event</button>
          </li>
          <li class="mr-2" role="presentation">
            <button (click)="onglet = 2" class="inline-block py-4 px-4 text-sm text-center {{ onglet === 2 ? 'text-indigo-600 font-semibold border-indigo-600 active' : 'text-gray-500 font-medium border-transparent hover:text-gray-600 hover:border-gray-300'}} rounded-t-lg border-b-2 dark:text-gray-400 dark:hover:text-gray-300" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard">Discussions</button>
          </li>
          <li class="mr-2" role="presentation">
            <button (click)="onglet = 3" class="inline-block py-4 px-4 text-sm text-center {{ onglet === 3 ? 'text-indigo-600 font-semibold border-indigo-600 active' : 'text-gray-500 font-medium border-transparent hover:text-gray-600 hover:border-gray-300'}} rounded-t-lg border-b-2 dark:text-gray-400 dark:hover:text-gray-300" id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings">Likes</button>
          </li>
        </ul>
      </div>
      <div id="myTabContent">
        <div class="{{ onglet === 1 ? '' : 'hidden'}} space-x-5 space-y-5" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <p class="text-sm text-gray-500 dark:text-gray-400 p-4 bg-gray-50 rounded-lg dark:bg-gray-800" *ngIf="currentEvent === null"> No element for the moment </p>
          <div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700" *ngIf="currentEvent !== null">
            <a>
              <img class="rounded-t-lg" src="assets/images/ill_14.png" alt="" />
            </a>
            <div class="p-5">
              <a>
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{currentEvent.titre}}</h5>
              </a>
              <span class="mb-3 bg-indigo-100 text-indigo-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-200 dark:text-indigo-500">{{currentEvent.categorie}}</span>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{currentEvent.description ? currentEvent.description : '...'}}</p>
              <a class="inline-flex items-center py-3 px-3 text-sm font-medium text-center text-white bg-orange-500 focus:ring-4 focus:ring-orange-300 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800">
                {{currentEvent.dateEvenement | date:"MMMM dd, yyyy"}}
                <svg xmlns="http://www.w3.org/2000/svg" class="ml-2 -mr-1 w-4 h-4 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="{{ onglet === 2 ? '' : 'hidden'}} space-x-5 space-y-5" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
          <p class="text-sm text-gray-500 dark:text-gray-400 p-4 bg-gray-50 rounded-lg dark:bg-gray-800" *ngIf="liste_topics.length === 0"> No element for the moment </p>
          <app-miniature-topic skin="item" idTopic="{{topic.id}}" *ngFor="let topic of liste_topics"></app-miniature-topic>
        </div>
        <div class="{{ onglet === 3 ? '' : 'hidden'}} space-x-5 space-y-5" id="settings" role="tabpanel" aria-labelledby="settings-tab">
          <p class="text-sm text-gray-500 dark:text-gray-400 p-4 bg-gray-50 rounded-lg dark:bg-gray-800" *ngIf="liste_topics_like.length === 0"> No element for the moment </p>
          <ng-container *ngFor="let topic1 of liste_topics_like">
            <app-miniature-topic skin="item" idTopic="{{topic1.id}}"></app-miniature-topic>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
