<app-header></app-header>

<!-- vender page links -->
<div class="vendor-pg-links">
  <a href="./Client  Checklist page.html">
    <div class="pg-link-box">
      <img src="assets/icons/checklist icon.png" alt="" width="100px" />
      <p>Checklist</p>
    </div>
  </a>
  <a href="./Client Favourite Vendors.html">
    <div class="pg-link-box acc">
      <img src="assets/icons/hand shake icon.png" alt="" width="100px" />
      <p>Vendor Manager</p>
    </div>
  </a>
  <a href="./custmer Budget.html">
    <div class="pg-link-box acc">
      <img src="assets/icons/dollar.png" alt="" width="100px" />
      <p>Budget</p>
    </div>
  </a>
  <a href="./Guests Lists.html">
    <div class="pg-link-box acc">
      <img src="assets/icons/Group 489.png" alt="" width="100px" />
      <p>Guests List</p>
    </div>
  </a>
  <a href="./Client Inbox.html">
    <div class="pg-link-box acc">
      <img src="assets/icons/messeges.png" alt="" width="100px" />
      <p>Messeges</p>
    </div>
  </a>
  <a href="./payments.html">
    <div class="pg-link-box acc">
      <img src="assets/icons/PAYMENTS.png" alt="" width="100px" />
      <p>Payments</p>
    </div>
  </a>
</div>
<div class="gesuts_first_div">
  <button><i class="far fa-envelope"></i> <span>Message Guests</span></button>
  <p>guests list</p>
  <div>
    <input type="search" placeholder="Search Guests">
    <i class="fas fa-search"></i>
  </div>
</div>
<div class="overview_div">
  <h2>Overview</h2>
  <div class="over_btn">
    <button class="add_guests"><i class="fas fa-plus"></i>Guests</button>
    <button class="add_group"><i class="fas fa-plus"></i>group</button>
  </div>
</div>
<div class="gesut_final_div">
  <div class="totle_guests_div">
    <h2>totle guests</h2>
    <div class="t_gesuts_btn">
      <div id="attend" class="guest_act"><p>attending</p> <span>02</span></div>
      <div id="decline"><p>Declined</p> <span>00</span></div>
      <div id="awating"><p>awating</p> <span>00</span></div>
    </div>
  </div>
  <div id="attend_div" class="guests_show_div">
    <div class="gesut_box">
      <div class="chexk">
        <input type="checkbox">
        <span>select all</span>
      </div>

    </div>
    <div class="gesut_box gus head">
      <div class="data_box">gesuts</div>
      <div class="data_box">rsvp</div>
      <div class="data_box">contect</div>
      <div class="data_box">edit</div>
    </div>
    <div class="gesut_box gus">
      <div class="data_box"><input type="checkbox"> <span>Name of guest</span></div>
      <div class="data_box">
        <div class="dropdown">
          <div class="dropdown-toggle on_cu_ges" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="far fa-check-circle"></i> attended
          </div>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#"><i class="far fa-check-circle"></i> decline</a></li>
            <li><a class="dropdown-item" href="#"><i class="far fa-check-circle"></i> awating</a></li>
          </ul>
        </div>
      </div>
      <div class="data_box"><i class="g_ico far fa-envelope"></i></div>
      <div class="data_box">
        <div class="dropdown">
          <div id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="g_ico fas fa-ellipsis-h"></i>
          </div>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">remove</a></li>
            <li><a class="dropdown-item" href="#">edit</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="gesut_box gus">
      <div class="data_box"><input type="checkbox"> <span>Name of guest</span></div>
      <div class="data_box">
        <div class="dropdown">
          <div class="dropdown-toggle on_cu_ges" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="far fa-check-circle"></i> attended
          </div>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#"><i class="far fa-check-circle"></i> decline</a></li>
            <li><a class="dropdown-item" href="#"><i class="far fa-check-circle"></i> awating</a></li>
          </ul>
        </div>
      </div>
      <div class="data_box"><i class="g_ico far fa-envelope"></i></div>
      <div class="data_box">
        <div class="dropdown">
          <div id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="g_ico fas fa-ellipsis-h"></i>
          </div>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">remove</a></li>
            <li><a class="dropdown-item" href="#">edit</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="gesut_box gus">
      <div class="data_box"><input type="checkbox"> <span>Name of guest</span></div>
      <div class="data_box">
        <div class="dropdown">
          <div class="dropdown-toggle on_cu_ges" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="far fa-check-circle"></i> attended
          </div>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#"><i class="far fa-check-circle"></i> decline</a></li>
            <li><a class="dropdown-item" href="#"><i class="far fa-check-circle"></i> awating</a></li>
          </ul>
        </div>
      </div>
      <div class="data_box"><i class="g_ico far fa-envelope"></i></div>
      <div class="data_box">
        <div class="dropdown">
          <div id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="g_ico fas fa-ellipsis-h"></i>
          </div>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">remove</a></li>
            <li><a class="dropdown-item" href="#">edit</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="gesut_box gus">
      <div class="data_box"><input type="checkbox"> <span>Name of guest</span></div>
      <div class="data_box">
        <div class="dropdown">
          <div class="dropdown-toggle on_cu_ges" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="far fa-check-circle"></i> attended
          </div>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#"><i class="far fa-check-circle"></i> decline</a></li>
            <li><a class="dropdown-item" href="#"><i class="far fa-check-circle"></i> awating</a></li>
          </ul>
        </div>
      </div>
      <div class="data_box"><i class="g_ico far fa-envelope"></i></div>
      <div class="data_box">
        <div class="dropdown">
          <div id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="g_ico fas fa-ellipsis-h"></i>
          </div>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">remove</a></li>
            <li><a class="dropdown-item" href="#">edit</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="gesut_box gus">
      <div class="data_box"><input type="checkbox"> <span>Name of guest</span></div>
      <div class="data_box">
        <div class="dropdown">
          <div class="dropdown-toggle on_cu_ges" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="far fa-check-circle"></i> attended
          </div>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#"><i class="far fa-check-circle"></i> decline</a></li>
            <li><a class="dropdown-item" href="#"><i class="far fa-check-circle"></i> awating</a></li>
          </ul>
        </div>
      </div>
      <div class="data_box"><i class="g_ico far fa-envelope"></i></div>
      <div class="data_box">
        <div class="dropdown">
          <div id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="g_ico fas fa-ellipsis-h"></i>
          </div>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">remove</a></li>
            <li><a class="dropdown-item" href="#">edit</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="gesut_box gus">
      <div class="data_box"><input type="checkbox"> <span>Name of guest</span></div>
      <div class="data_box">
        <div class="dropdown">
          <div class="dropdown-toggle on_cu_ges" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="far fa-check-circle"></i> attended
          </div>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#"><i class="far fa-check-circle"></i> decline</a></li>
            <li><a class="dropdown-item" href="#"><i class="far fa-check-circle"></i> awating</a></li>
          </ul>
        </div>
      </div>
      <div class="data_box"><i class="g_ico far fa-envelope"></i></div>
      <div class="data_box">
        <div class="dropdown">
          <div id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="g_ico fas fa-ellipsis-h"></i>
          </div>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">remove</a></li>
            <li><a class="dropdown-item" href="#">edit</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="gesut_box gus">
      <div class="data_box"><input type="checkbox"> <span>Name of guest</span></div>
      <div class="data_box">
        <div class="dropdown">
          <div class="dropdown-toggle on_cu_ges" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="far fa-check-circle"></i> attended
          </div>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#"><i class="far fa-check-circle"></i> decline</a></li>
            <li><a class="dropdown-item" href="#"><i class="far fa-check-circle"></i> awating</a></li>
          </ul>
        </div>
      </div>
      <div class="data_box"><i class="g_ico far fa-envelope"></i></div>
      <div class="data_box">
        <div class="dropdown">
          <div id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="g_ico fas fa-ellipsis-h"></i>
          </div>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">remove</a></li>
            <li><a class="dropdown-item" href="#">edit</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="gesut_box gus">
      <div class="data_box"><input type="checkbox"> <span>Name of guest</span></div>
      <div class="data_box">
        <div class="dropdown">
          <div class="dropdown-toggle on_cu_ges" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="far fa-check-circle"></i> attended
          </div>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#"><i class="far fa-check-circle"></i> decline</a></li>
            <li><a class="dropdown-item" href="#"><i class="far fa-check-circle"></i> awating</a></li>
          </ul>
        </div>
      </div>
      <div class="data_box"><i class="g_ico far fa-envelope"></i></div>
      <div class="data_box">
        <div class="dropdown">
          <div id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="g_ico fas fa-ellipsis-h"></i>
          </div>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">remove</a></li>
            <li><a class="dropdown-item" href="#">edit</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="gesut_box gus">
      <div class="data_box"><input type="checkbox"> <span>Name of guest</span></div>
      <div class="data_box">
        <div class="dropdown">
          <div class="dropdown-toggle on_cu_ges" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="far fa-check-circle"></i> attended
          </div>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#"><i class="far fa-check-circle"></i> decline</a></li>
            <li><a class="dropdown-item" href="#"><i class="far fa-check-circle"></i> awating</a></li>
          </ul>
        </div>
      </div>
      <div class="data_box"><i class="g_ico far fa-envelope"></i></div>
      <div class="data_box">
        <div class="dropdown">
          <div id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="g_ico fas fa-ellipsis-h"></i>
          </div>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">remove</a></li>
            <li><a class="dropdown-item" href="#">edit</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="gesut_box gus">
      <div class="data_box"><input type="checkbox"> <span>Name of guest</span></div>
      <div class="data_box">
        <div class="dropdown">
          <div class="dropdown-toggle on_cu_ges" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="far fa-check-circle"></i> attended
          </div>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#"><i class="far fa-check-circle"></i> decline</a></li>
            <li><a class="dropdown-item" href="#"><i class="far fa-check-circle"></i> awating</a></li>
          </ul>
        </div>
      </div>
      <div class="data_box"><i class="g_ico far fa-envelope"></i></div>
      <div class="data_box">
        <div class="dropdown">
          <div id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="g_ico fas fa-ellipsis-h"></i>
          </div>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">remove</a></li>
            <li><a class="dropdown-item" href="#">edit</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="gesut_box gus">
      <div class="data_box"><input type="checkbox"> <span>Name of guest</span></div>
      <div class="data_box">
        <div class="dropdown">
          <div class="dropdown-toggle on_cu_ges" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="far fa-check-circle"></i> attended
          </div>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#"><i class="far fa-check-circle"></i> decline</a></li>
            <li><a class="dropdown-item" href="#"><i class="far fa-check-circle"></i> awating</a></li>
          </ul>
        </div>
      </div>
      <div class="data_box"><i class="g_ico far fa-envelope"></i></div>
      <div class="data_box">
        <div class="dropdown">
          <div id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="g_ico fas fa-ellipsis-h"></i>
          </div>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">remove</a></li>
            <li><a class="dropdown-item" href="#">edit</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="decline_div" class="guests_show_div guest_hide">
    <div class="gesut_box">
      <div class="chexk">
        <input type="checkbox">
        <span>select all</span>
      </div>

    </div>
    <div class="gesut_box gus head">
      <div class="data_box">gesuts</div>
      <div class="data_box">rsvp</div>
      <div class="data_box">contect</div>
      <div class="data_box">edit</div>
    </div>
  </div>
  <div id="awating_div" class="guests_show_div guest_hide">
    <div class="gesut_box">
      <div class="chexk">
        <input type="checkbox">
        <span>select all</span>
      </div>

    </div>
    <div class="gesut_box gus head">
      <div class="data_box">gesuts</div>
      <div class="data_box">rsvp</div>
      <div class="data_box">contect</div>
      <div class="data_box">edit</div>
    </div>
  </div>
</div>

<app-footer></app-footer>
