<div class="vendor-pg-links">
  <a routerLink="../my-events">
    <div class="pg-link-box">
      <img src="assets/icons/checklist icon.png" alt="" width="100px" />
      <p>My events</p>
    </div>
  </a>
  <a routerLink="../check-list-page">
    <div class="pg-link-box">
      <img src="assets/icons/checklist icon.png" alt="" width="100px" />
      <p>Checklist</p>
    </div>
  </a>
  <a href="./Client Favourite Vendors.html">
    <div class="pg-link-box acc">
      <img src="assets/icons/hand shake icon.png" alt="" width="100px" />
      <p>Vendor Manager</p>
    </div>
  </a>
  <a href="./custmer Budget.html">
    <div class="pg-link-box acc">
      <img src="assets/icons/dollar.png" alt="" width="100px" />
      <p>Budget</p>
    </div>
  </a>
  <a routerLink="../guests-list">
    <div class="pg-link-box acc">
      <img src="assets/icons/Group 489.png" alt="" width="100px" />
      <p>Guests List</p>
    </div>
  </a>
  <a routerLink="../messages">
    <div class="pg-link-box acc">
      <img src="assets/icons/messeges.png" alt="" width="100px" />
      <p>Messeges</p>
    </div>
  </a>
  <a href="./payments.html">
    <div class="pg-link-box acc">
      <img src="assets/icons/PAYMENTS.png" alt="" width="100px" />
      <p>Payments</p>
    </div>
  </a>
</div>
