<div *ngIf="skin === 'lateral'">
  <app-miniature-blog idBlog="{{article.id}}" skin="suggestion" *ngFor="let article of listeArticles | slice:0:3"></app-miniature-blog>
</div>

<div *ngIf="skin === 'card-home'">
  <div class="2xl:container 2xl:mx-auto flex flex-wrap items-start justify-center pt-6 gap-6">
    <div class="flex lg:flex-col sm:flex-row flex-col items-start lg:gap-0 gap-6 lg:w-96 w-auto" *ngIf="listeArticles.length >= 2">
      <div>
        <img src="{{extractImage(listeArticles[0].contenu) ? extractImage(listeArticles[0].contenu) : 'assets/images/ill_14.png'}}" alt="woman smiling" />
        <h2 class="text-xl font-semibold leading-5 mt-8 text-gray-800">{{listeArticles[0].titre}}</h2>
        <div class="mt-6 flex items-center cursor-pointer">
          <p routerLink="../article/{{listeArticles[0].id}}" class="pr-3 text-base font-medium leading-4 underline text-gray-800">Read the article</p>
          <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 5H15" stroke="#1F2937" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M11 9L15 5" stroke="#1F2937" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M11 1L15 5" stroke="#1F2937" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </div>
        <p class="text-base mt-4 italic font-italic leading-4 text-gray-600">{{listeArticles[0].date | date:"MMMM dd, yyyy"}}</p>
      </div>

      <div class="lg:mt-10">
        <img src="{{extractImage(listeArticles[1].contenu) ? extractImage(listeArticles[1].contenu) : 'assets/images/ill_14.png'}}" alt="coffe pouring" />
        <h2 class="text-xl font-semibold leading-5 mt-8 text-gray-800">{{listeArticles[1].titre}}</h2>
        <div class="mt-6 flex items-center cursor-pointer">
          <p routerLink="../article/{{listeArticles[1].id}}" class="pr-3 text-base font-medium leading-4 underline text-gray-800">Read the article</p>
          <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 5H15" stroke="#1F2937" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M11 9L15 5" stroke="#1F2937" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M11 1L15 5" stroke="#1F2937" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </div>
        <p class="text-base mt-4 italic font-italic leading-4 text-gray-600">{{listeArticles[1].date | date:"MMMM dd, yyyy"}}</p>
      </div>
    </div>
    <div class="flex lg:flex-col sm:flex-row flex-col items-center lg:gap-0 gap-6 lg:w-96 w-auto justify-center" *ngIf="listeArticles.length >= 4">
      <div>
        <img src="{{extractImage(listeArticles[2].contenu) ? extractImage(listeArticles[2].contenu) : 'assets/images/ill_14.png'}}" alt="plant held by a man" />
        <h2 class="text-xl font-semibold leading-5 mt-8 text-gray-800">{{listeArticles[2].titre}}</h2>
        <div class="mt-6 flex items-center cursor-pointer">
          <p routerLink="../article/{{listeArticles[2].id}}" class="pr-3 text-base font-medium leading-4 underline text-gray-800">Read the article</p>
          <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 5H15" stroke="#1F2937" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M11 9L15 5" stroke="#1F2937" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M11 1L15 5" stroke="#1F2937" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </div>
        <p class="text-base mt-4 italic font-italic leading-4 text-gray-600">{{listeArticles[2].date | date:"MMMM dd, yyyy"}}</p>
      </div>
    </div>
  </div>
</div>


