<section class="border-b border-t border-gray-200 dark:border-gray-700 pt-3">
  <div class="mx-auto container  2xl:mx-auto 2xl:container">
    <ul class="flex flex-wrap -mb-px w-full">
      <li class="mr-2">
        <a routerLink="../my-events" class="inline-flex py-4 px-4 text-sm font-medium text-center {{menu === 1 ? 'text-indigo-600 border-indigo-600 active dark:text-indigo-500 dark:border-indigo-500' : 'text-gray-500 border-transparent hover:text-gray-600 hover:border-gray-300 dark:text-gray-400 dark:hover:text-gray-300'}} rounded-t-lg border-b-2 group">
          <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 w-5 h-5 {{menu === 1 ? 'text-indigo-600 dark:text-indigo-500' : 'text-gray-400 group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300'}}" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
          </svg>Company
        </a>
      </li>
      <li class="mr-2">
        <a routerLink="../checklist" class="inline-flex py-4 px-4 text-sm font-medium text-center {{menu === 2 ? 'text-indigo-600 border-indigo-600 active dark:text-indigo-500 dark:border-indigo-500' : 'text-gray-500 border-transparent hover:text-gray-600 hover:border-gray-300 dark:text-gray-400 dark:hover:text-gray-300'}} rounded-t-lg border-b-2 group">
          <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 w-5 h-5 {{menu === 2 ? 'text-indigo-600 dark:text-indigo-500' : 'text-gray-400 group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300'}}" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4" />
          </svg>Checklist
        </a>
      </li>
      <li class="mr-2">
        <a routerLink="../vendors-manager" class="inline-flex py-4 px-4 text-sm font-medium text-center {{menu === 3 ? 'text-indigo-600 border-indigo-600 active dark:text-indigo-500 dark:border-indigo-500' : 'text-gray-500 border-transparent hover:text-gray-600 hover:border-gray-300 dark:text-gray-400 dark:hover:text-gray-300'}} rounded-t-lg border-b-2 group">
          <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 w-5 h-5 {{menu === 3 ? 'text-indigo-600 dark:text-indigo-500' : 'text-gray-400 group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300'}}" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
          </svg>Vendors Manager
        </a>
      </li>
      <li class="mr-2">
        <a routerLink="../guests-lists" class="inline-flex py-4 px-4 text-sm font-medium text-center {{menu === 4 ? 'text-indigo-600 border-indigo-600 active dark:text-indigo-500 dark:border-indigo-500' : 'text-gray-500 border-transparent hover:text-gray-600 hover:border-gray-300 dark:text-gray-400 dark:hover:text-gray-300'}} rounded-t-lg border-b-2 group">
          <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 w-5 h-5 {{menu === 4 ? 'text-indigo-600 dark:text-indigo-500' : 'text-gray-400 group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300'}}" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
          </svg>Guests Lists
        </a>
      </li>
      <li class="mr-2">
        <a routerLink="../budget" class="inline-flex py-4 px-4 text-sm font-medium text-center {{menu === 5 ? 'text-indigo-600 border-indigo-600 active dark:text-indigo-500 dark:border-indigo-500' : 'text-gray-500 border-transparent hover:text-gray-600 hover:border-gray-300 dark:text-gray-400 dark:hover:text-gray-300'}} rounded-t-lg border-b-2 group">
          <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 w-5 h-5 {{menu === 5 ? 'text-indigo-600 dark:text-indigo-500' : 'text-gray-400 group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300'}}" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z" />
          </svg>Budget
        </a>
      </li>
      <li class="mr-2">
        <a routerLink="../payment" class="inline-flex py-4 px-4 text-sm font-medium text-center {{menu === 6 ? 'text-indigo-600 border-indigo-600 active dark:text-indigo-500 dark:border-indigo-500' : 'text-gray-500 border-transparent hover:text-gray-600 hover:border-gray-300 dark:text-gray-400 dark:hover:text-gray-300'}} rounded-t-lg border-b-2 group">
          <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 w-5 h-5 {{menu === 6 ? 'text-indigo-600 dark:text-indigo-500' : 'text-gray-400 group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300'}}" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z" />
          </svg>Payments
        </a>
      </li>
    </ul>
  </div>
</section>
