<app-header></app-header>

<!-- vender page links -->
<div class="vendor-pg-links">
  <a href="./Client  Checklist page.html">
    <div class="pg-link-box">
      <img src="assets/icons/checklist icon.png" alt="" width="100px" />
      <p>Checklist</p>
    </div>
  </a>
  <a href="./Client Favourite Vendors.html">
    <div class="pg-link-box acc">
      <img src="assets/icons/hand shake icon.png" alt="" width="100px" />
      <p>Vendor Manager</p>
    </div>
  </a>
  <a href="./custmer Budget.html">
    <div class="pg-link-box acc">
      <img src="assets/icons/dollar.png" alt="" width="100px" />
      <p>Budget</p>
    </div>
  </a>
  <a href="./Guests Lists.html">
    <div class="pg-link-box acc">
      <img src="assets/icons/Group 489.png" alt="" width="100px" />
      <p>Guests List</p>
    </div>
  </a>
  <a href="./Client Inbox.html">
    <div class="pg-link-box acc">
      <img src="assets/icons/messeges.png" alt="" width="100px" />
      <p>Messeges</p>
    </div>
  </a>
  <a href="./payments.html">
    <div class="pg-link-box acc">
      <img src="assets/icons/PAYMENTS.png" alt="" width="100px" />
      <p>Payments</p>
    </div>
  </a>
</div>
<div class="container">
  <button class="fav_fil_catga_btn">
    <i class="fas fa-filter"></i>
  </button>
  <div class="main_div">

    <div class="fav_fil_catga"  >
      <h5>Categories</h5>
      <div class="catgo_list">
        <ul>
          <li><a href="">Accomodation</a> </li>
          <li><a href="">Budget</a> </li>
          <li><a href="">Beauty</a> </li>
          <li><a href="">Guests</a> </li>
          <li><a href="">Dress & Attire</a> </li>
          <li><a href="">Jewelery</a> </li>
          <li><a href="">April 2022</a> </li>
        </ul>
      </div>
    </div>
    <div class="secend_div">
      <div class="budgut_cutmer_div">
        <h3>Budget</h3>
        <p>estimated budget</p>
        <div class="buget_entry">
          <div class="buget_ico"><img src="assets/icons/Group 290.png" alt="" srcset=""></div>
          <input type="number">
          <i class="fas fa-dollar-sign"></i>
        </div>
        <p>You can edit this at any time.</p>
        <button class="save_budget_btn">save budget</button>
      </div>
      <div class="venue_div">
        <div class="v_txt">venue</div>
        <div class="v_cost">
          <div class="v_cost_txt">estimated cost: <span>$ 2,944</span></div>
          <div class="v_cost_txt">final cost: <span>$ 0</span></div>
        </div>
        <button><i class="fas fa-trash-alt"></i> remove</button>
        <div class="v_box">
          <div class="v_data_box">Expense</div>
          <div class="v_data_box">Estimated Cost</div>
          <div class="v_data_box">Final cost</div>
          <div class="v_data_box">Paid</div>
        </div>
        <div class="v_box">
          <div class="v_data_box">Ceremony Venue Fee</div>
          <div class="v_data_box">$ 100</div>
          <div class="v_data_box">$ 0</div>
          <div class="v_data_box">$ 0</div>
        </div>
        <div class="v_box">
          <div class="v_data_box">Ceremony Venue Fee</div>
          <div class="v_data_box">$ 100</div>
          <div class="v_data_box">$ 0</div>
          <div class="v_data_box">$ 0</div>
        </div>
        <div class="v_box">
          <div class="v_data_box">Ceremony Venue Fee</div>
          <div class="v_data_box">$ 100</div>
          <div class="v_data_box">$ 0</div>
          <div class="v_data_box">$ 0</div>
        </div>
        <div class="v_box">
          <div class="v_data_box">Ceremony Venue Fee</div>
          <div class="v_data_box">$ 100</div>
          <div class="v_data_box">$ 0</div>
          <div class="v_data_box">$ 0</div>
        </div>
        <div class="v_add_exp">
          <i class="fas fa-plus"></i>
          <p>add new expenses</p>
        </div>
        <div class="v_box">
          <div class="v_data_box">Totle...</div>
          <div class="v_data_box">$ 400</div>
          <div class="v_data_box">$ 0</div>
          <div class="v_data_box">$ 0</div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
