<app-navbar></app-navbar>

<app-menu-planning-tools></app-menu-planning-tools>

<section>
  <div class="mx-auto container bg-white dark:bg-gray-800 dark:bg-gray-800 shadow rounded">
    <div class="flex flex-col lg:flex-row p-4 lg:p-8 justify-between items-start lg:items-stretch w-full">
      <div class="w-full lg:w-1/3 flex flex-col lg:flex-row items-start lg:items-center">
        <div class="flex items-center space-x-5" *ngIf="depenses.length > 0">
          <a class="p-2" *ngIf="isLoading">
            <svg width="20" height="20" role="status" class="inline mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"></path>
              <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="w-full lg:w-2/3 flex flex-col lg:flex-row items-start lg:items-center justify-end">
        <div class="flex items-center lg:border-r border-gray-300 pb-3 lg:pb-0 lg:mx-6">
          <div class="relative w-48 z-10">
            <div
              class="pointer-events-none text-gray-600 dark:text-gray-400 absolute inset-0 m-auto mr-2 xl:mr-4 z-0 w-5 h-5">
              <svg xmlns="http://www.w3.org/2000/svg"
                   class="icon cursor-pointer icon-tabler icon-tabler-chevron-down" width="20" height="20"
                   viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                   stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z"></path>
                <polyline points="6 9 12 15 18 9"></polyline>
              </svg>
            </div>
            <select aria-label="Selected tab"
                    class="focus:outline-none border border-transparent focus:border-gray-800 focus:shadow-outline-gray text-base form-select block w-full py-2 px-2 xl:px-3 rounded text-gray-600 dark:text-gray-400 appearance-none bg-transparent">
              <option (click)="currentCategorySelect = ''" value="">All categories</option>
              <option (click)="currentCategorySelect = 'accomodation'">Accommodations</option>
              <option (click)="currentCategorySelect = 'budget'">Budget</option>
              <option (click)="currentCategorySelect = 'beauty'">Beauty</option>
              <option (click)="currentCategorySelect = 'guests'">Guests</option>
              <option (click)="currentCategorySelect = 'dress & attire'">Dress and Attire</option>
              <option (click)="currentCategorySelect = 'beauty'">Jewelery</option>
              <option (click)="currentCategorySelect = 'other'">Other</option>
            </select>
          </div>
        </div>
        <div class="sm:flex items-center justify-between">
          <div class="flex items-center">
            <a (click)="etatPrint = 0">
              <div class="py-2 px-8 {{ etatPrint === 0 ? 'bg-indigo-100 text-indigo-700' : 'text-gray-600 hover:text-indigo-700 hover:bg-indigo-100'}} rounded-full">
                <p>All</p>
              </div>
            </a>
            <a (click)="etatPrint = 1">
              <div class="py-2 px-8 {{ etatPrint === 1 ? 'bg-indigo-100 text-indigo-700' : 'text-gray-600 hover:text-indigo-700 hover:bg-indigo-100'}} rounded-full ml-4 sm:ml-8">
                <p>Paid</p>
              </div>
            </a>
            <a (click)="etatPrint = -1">
              <div class="py-2 px-8 {{ etatPrint === -1 ? 'bg-indigo-100 text-indigo-700' : 'text-gray-600 hover:text-indigo-700 hover:bg-indigo-100'}} rounded-full ml-4 sm:ml-8">
                <p>Pending</p>
              </div>
            </a>
          </div>
        </div>
        <div class="lg:ml-6 flex items-center space-x-5">
        </div>
      </div>
    </div>
    <div class="w-full overflow-x-scroll xl:overflow-x-hidden">
      <p class="text-gray-500 font-light text-center pb-6 text-xl" *ngIf="depenses.length === 0">
        {{ !currentEvent ? 'You don\'t have any events defined, please do so in the "My Event" section' : 'No results yet'}}
      </p>
      <table id="tableau_doc" class="min-w-full bg-white dark:bg-gray-800" *ngIf="depenses.length > 0">
        <thead>
        <tr class="w-full h-16 border-gray-300 border-b py-8">
          <th
            class="pl-8 text-gray-600 dark:text-gray-400 font-normal pr-6 text-left text-sm tracking-normal leading-4">
            Title</th>
          <th
            class="text-gray-600 dark:text-gray-400 font-normal pr-6 text-left text-sm tracking-normal leading-4">
            Status</th>
          <th
            class="text-gray-600 dark:text-gray-400 font-normal pr-6 text-left text-sm tracking-normal leading-4">
            Amount</th>
          <th
            class="text-gray-600 dark:text-gray-400 font-normal pr-6 text-left text-sm tracking-normal leading-4">
            Category</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let dep of depenses">
          <tr *ngIf="(dep.categorie === currentCategorySelect || currentCategorySelect === '') && ((etatPrint === -1 && dep.paye <= 0) || (etatPrint === 1 && dep.paye > 0) || etatPrint === 0)"
              class="border-b bg-white border-gray-300 h-24"
          >
            <td
              class="pl-8 text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal capitalize">
              {{dep.titre}}</td>
            <td
              class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4">
              <div class="w-2 h-2 rounded-full {{dep.paye <= 0 ? 'bg-red-400' : 'bg-green-400'}}"></div>
            </td>
            <td
              class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4">
              {{dep.paye}}
            </td>
            <td class="pr-6 whitespace-no-wrap">
              <div class="flex items-center">
                <a href="#" class="bg-blue-100 hover:bg-blue-200 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 dark:hover:bg-blue-300">{{dep.categorie}}</a>
              </div>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</section>

<app-footer></app-footer>
