
.nav-login{
  display: flex;
  justify-content: end;
  padding: 0px 20px;
  background-color: #505B8E;
 
}
.nav-login button{
  border-right: 1px solid white;
}
.nav-login a{
  color: #C6856B;
  text-decoration: none;
}
.nav-login p{
  margin-top: 14px;
}
.nav-login i,p,button{
  color: white !important;
}


.navbar-top{
  display: flex;
 
  height: 13vh;
  background-color: white;
  padding: 0px 20px;
 

}
.nav-left{
 margin-top: auto !important;
 margin-bottom: auto !important;
 width: 300px;

}
.center-links{
  display: flex;
  margin-top: 26px;
  justify-content: space-between;
  
}

.nav-center{
  margin-top: auto !important;
  margin-bottom: auto !important;

  margin-right: auto;
}
.center-links li{
  list-style: none;
  text-decoration: none;
  margin: 10px 35px;
  color: black !important;
  font-size: 17px;
  font-weight: 700;
  transition: all 0.2s;

}
.center-links a{
  text-decoration: none !important;
  text-align: center;
 
 
}
.nav-right{
  margin-left: auto !important;
 
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.right-links{
  
  margin-top: 12px;
  display: flex !important;
  float: right !important;
  justify-content: flex-end;
}
.right-links a{
  list-style: none;
  padding: 10px;
  color: #ABC502 !important;
  transition: all 0.2s;
}
.right-links a:hover{
  color: white!important;

}

.center-links li:hover{
  color: #FEB894 !important;

}


.logo-900{
  display: none ;
  margin-top: 30px;
}
/* section2-css */
/* blog-card */

.blog-top-section{
  height: 35vh;
  background-image: url(../Images/blog-topper-section.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: 30px;
}
.blog-active-page-div{
  height: auto;
  width: 40% !important;
  position: absolute;
  top: 0;
  left: 150px;
  background-color: rgba(0, 0, 0, 0.69);

}
.blog-active-page-div h5{
  margin-top: 30px;
  font-size: 50px;
  color: white;
  padding: 5px 0px;
}
.blog-active-page-div a,p{
  margin-top: 10px;
  text-decoration: none ;
  color: white !important;
  font-size: 25px !important;
  padding: 0px 10px;
}


/* blog-card */
/* section-3-left-side */
 .section-3-left-side{
   flex-basis: 70% ;
   height: auto;
 
 }
 .section-3-right-side{
   flex-basis: 30% ;
   height: auto;
   
 }
 .blog-box{
   border-top: 5px solid #FDA172;
 }
.blog-box-img{
  height: 370px;
  width: 100% !important;
}
.blog-text{
  background-color: #FDA172;
  padding: 10px 0px;
}

.blog-text i{
  padding: 0px 20px;
  color: white !important;

}


/* section-3-left-side */
/* section-3-right-side */
.search-style{
  background-color: transparent !important;
  border: 1px solid #C4C4C4;
  height: 50px;
  width: 100% !important;

}
.search-style::placeholder{
  color: #807B7B;
  padding-left: 10px;
}
.search-style:focus{
  box-shadow: none !important;
  border: 1px solid rgb(204, 204, 204) !important;
}
.btn-search{
  background-color: #FDA172 !important;
  width: 63px;
  border: none !important;
}
.btn-search i{
  color: black;
  font-size: 20px;
  font-weight: bold !important;
}
.Categories li{
  list-style:none;
  margin-top: 15px;

}
.Categories {
  transition: all 0.4s !important;
}
.Categories-links{
  border-bottom: 1px solid #c5c5c5;
}
.Categories a{
  text-decoration: none !important;
}
.Categories p{
  color: #4D4E50 !important;
  font-size: 15px !important;
}
.Categories-links:hover p{
  color: #505B8E !important;
}
#catogories-btn:focus{
  box-shadow: none !important;
}
.right-links #catogories-btn i{
  color:#C6856B ;
  font-size: 20px;
  margin-left: -20px;
}

.catgory-close-btn i{
  color: #C6856B;
  font-size: 30px;
  margin: -30px 0px 0px 20px;

}

/* section-3-right-side */

.section-4{
  margin-top: 18px ;
}

/* section-4-left-side */
.section-4-left-side{
  flex-basis: 70% !important;
 
}
.section-4-left-side p{
  color: black !important;
  
}
.section-4-left-side h3{
  color: black !important;
  font-size: 32px ;
  font-weight: bolder;

}

/* section-4-left-side */

/* section-4-right-side */
.section-4-right-side{
  flex-basis: 30% !important;



}
.latest-news-img{
  height: 105px;
  width: 55px;
  border-right: 1px solid #C6856B;
  border-bottom: 1px solid #C6856B;
}
.latest-news-img img{
  width: 100% !important;
}
.news-article p{
  font-size: 0.7rem !important;
  margin-top: -2px;
  color: black !important;
}
.latest-new-section h3{
  color: black !important;
  margin-left: 10px;
  
  font-size: 32px ;
  font-weight: bolder;

}
.latest-new-section{
  margin-top: 20px;
}
.news-article a{
  float: right;
  text-decoration: none !important;
  font-size: 0.7rem;
}


/* section-4-right-side */


/* section3-css */


.pagination-indicator{
  background-color: #505B8E;
  border: 1px solid #505B8E;
}
.pagination-indicator:hover{
 background-color: white;
 border: 1px solid #505B8E;
}
.pagination-indicator:hover i{
  color: #505B8E !important;
}
.pagination-indicator i{
  color: white ;
}
.pagination li{
  margin-left: 40px;
 
}



/* section3-css */
/* footer */
.footer-logo{
  background-color: white;
  height: 150px;
  width: 150px;
  border-radius: 50% !important;
}
.footer-logo img{
  margin: 26px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.main-footer{
  background-color: #505B8E;
  height:auto;
  margin-top: -70px;
  
}
.email-section{
  width: 80% !important;
  border-bottom: 1px solid white;
  margin-left: auto;
  margin-right: auto;
  padding-top: 110px;


}
.email-section p{
  font-size: 18px !important;
}
.email-section input{
  background-color: #505B8E;
  border: none !important;
  margin-top: 10px;
  color: white !important;
  font-size: 16px;
}
.email-section input:focus{
  background-color: #505B8E !important;
  box-shadow: none !important;
 
}
.email-section input::placeholder{

  color: white !important;
}
.email-section a{
  color: white !important;
  font-size: 30px;
  margin-top: 30px;
}
.border1{
  border-right: 1px solid white;
}
.links i{
  color: #C6856B !important;

}
.links li{
  list-style: none;
  color: white !important;
  margin-top: 5px;
}
.quick-links i{
  color: #C6856B !important;
}
.quick-links li{
  list-style: none;
  color: white !important;
  margin-top: 5px;
  
}
.links h4{
  margin-left: 50px;

}

.about h4{
  margin-left: 20px;

}
.about p{
  font-size: 16px !important;
}
.quick-links h4{
  margin-left: 40px;

}
.quick-links-a a{
  text-decoration: none;
}

/* Media quiries */
@media (max-width: 991px){
  
  .center-links{
  display: block !important;
  margin-top: 0px;
   height: 100vh !important;
   width: 100% !important;
   background-color:  white !important;
   position: absolute;
   left: -2000px;
   top: 0px;
   transition: all 0.4s;
   z-index: 99;
  }
  .filter-menu{
    display: none;
  }
  
  #logo-2{
   margin: 0px !important;
  }
  #nav-toggle-btn-2{
    color: #FEB894 !important;
    display: block !important;
    
  }
  #nav-toggle-btn i {
    color: #FEB894 !important;
    display: block !important;
  }
  .center-links-toggle{
    position: absolute;
    left: 0 !important;
    top: 0;
    padding: 0px !important;
  }
  .logo-900{
    display: block !important;
  }
  .center-links li{
    
    list-style: none;
    text-decoration: none;
    margin: 16px 30px;
    color: black !important;
    font-size: 14px;
    font-weight: 700;
    transition: all 0.2s;

  }
  .center-links {
    padding-top: 20px;
  }
  .search-box{
  
    width: 90% !important;
   margin-left: auto;
   margin-right: auto;
   position:static;
   border: none !important;
   
    
  }

  .container-lg, .container-md, .container-sm, .container {
    max-width: 800px !important;
  }
  .border1{
    border: none !important;
  }
  .border1 h4,p{
    text-align: center ;
  }
  .about{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .about h4{
    text-align: center !important;
  }
  .links{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .links ul{
    margin-left: -35px;
  }
  .quick-links-a{
    margin-left: -35px;
    
  }
  .links h4,li{
    text-align: center !important;
  }
  .links h4{
    margin-left: 9px !important;
  }
  .quick-links h4{
    margin-left: 0px !important;
  }
  .quick-links{
    display: flex;
    justify-content: center;
    flex-direction: column;

  }
  .quick-links h4{
    text-align: center !important;
  
  }
  .quick-links .quick-links-a{
    justify-content: center;
  }
  .blog-card-footer{
    text-align: center !important;
  }
  .blog-card-footer a{
    float: none !important;
  }
  .blog-active-page-div{
    width: 90% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    position: static !important;
  }
  .section-3-left-side{
    flex-basis: 100% !important ;
    height: auto !important;
    
   
  }
  .section-3-right-side{
    flex-basis: 100% !important ;
    height: auto !important;
    
  }
  .Categories{
    position: absolute;
    top: 0;
    left: -2000px;
    background-color: white !important;
    padding: 30px 50px 0px 0px;
    height: 200vh;
   
    
  }
  .Categories h5{
    color: #FDA172;
  }
  .Categories-toggle{
    transition: all 0.2s !important;
    position: absolute;
    left: 0px !important;
    
  }
  .cat-btn{
    display: block !important;
  }
  .catgory-close-btn{
    display: block !important;

  }
  .section-4{
    margin-top: 10px !important ;
  }
  .section-4-left-side{
   flex-basis: 100% !important;
  }
  .section-4-right-side{
    flex-basis: 100% !important;
   }
   .section-4-left-side p,h3{
     text-align: center !important;
   }
   .blog-text{
    text-align: center !important;

   }
   .news-article p,h5 {
    text-align: left;

  }
  .latest-news-img{
    width: 110px !important;
  }
   .latest-news-img img {
     width: 100% !important;
   }
  


}
@media (max-width: 768px){
  .nav-login span{
    display: none !important;
   
  }
}
@media (max-width: 575px){
.new-article-setting{
  flex-direction: column !important;
}
.latest-news-img{
  height: auto !important;
}
.news-article p,h5,a {
  text-align: center !important;
  float: none !important;
}
.news-article p{
  margin-top: 10px !important;
  font-size: 17px !important;
}
.latest-news-img{
  width: 100% !important;
}
.blog-active-page-div a, p {
font-size: 20px !important;
}
.news-article a {

  font-size: 0.9rem;
}
.blog-box-img{
  height: 284px !important;
}

}


/* Media quiries */
