
.nav-login{
  display: flex;
  justify-content: end;
  padding: 0px 20px;
  background-color: #505B8E;
 
}
.nav-login button{
  border-right: 1px solid white;
}
.nav-login a{
  color: #C6856B;
  text-decoration: none;
}
.nav-login p{
  margin-top: 14px;
}
.nav-login i,p,button{
  color: white !important;
}


.navbar-top{
  display: flex;
 
  height: 13vh;
  background-color: white;
  padding: 0px 20px;
 

}
.nav-left{
 margin-top: auto !important;
 margin-bottom: auto !important;
 width: 300px;

}
.center-links{
  display: flex;
  margin-top: 26px;
  justify-content: space-between;
}

.nav-center{
  margin-top: auto !important;
  margin-bottom: auto !important;
 
  margin-right: auto;
}
.center-links li{
  list-style: none;
  text-decoration: none;
  margin: 10px 15px;
  color: black !important;
  font-size: 17px;
  font-weight: 500;
  transition: all 0.2s;
}
.center-links a{
  text-decoration: none !important;
  text-align: center;
 
 
}
.nav-right{
  margin-left: auto !important;
 
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.right-links{
  
  margin-top: 12px;
  display: flex !important;
  float: right !important;
}
.right-links a{
  list-style: none;
  padding: 10px;
  color: #ABC502 !important;
  transition: all 0.2s;
}
.right-links a:hover{
  color: white!important;

}

.center-links li:hover{
  color: #FEB894 !important;

}
#nav-toggle-btn i {
  color: #ABC502;
  display: none;
}
.nav-toggle-btn-2{
  color: #ABC502 ;
  display: none;
  float: right !important;
  height: 100px ;
  width: 100px;
  background-color: black !important;
}

.logo-900{
  display: none ;
  margin-top: 30px;
}
/* section2-css */
.search-seaction{
  margin-top: 30px;
  height: 400px;
  background-image: url(../Images/planning-tools-grid-img.png);
  background-size: cover;
  background-position: center;

}
.search-box{
  padding: 30px 10px;
  height: 360px;
  width: 350px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 30px;
  bottom: 0px;
  border: 1px solid black;
}
.search-box p{
  color: black !important;
}
/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 300px !important;
 
  
  
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: white;
  border-radius: 50px !important;
 
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 18px;
  right: 16px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: rgb(0, 0, 0) transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent rgb(0, 0, 0) transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #000000;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: white;
  top: 110%;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 20px !important;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.btn-search{
  width: 150px;
  height: 50px;
  border-radius: 60px !important;
  background-color: #505B8E;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 10px;
  color: white !important;
}
.filter-btn{
  position: absolute;
  right: 210px;
  bottom: 0;
  border: 1px solid black;
  color: #4D4E50 !important;
  height: 50px;
  width: 170px;
 
}
.filter-dropdown{
  width: 170px !important;
  height: auto;
  z-index: 99;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
}
.filter-dropdown li{
  margin: 10px 0px 0px 10px;
  font-weight: bold;
}
#filter-toggle{
  color: #FEB894 !important;
  display: none;
}
.filter-menu-2{
  height: 100vh;
  background-color: white;
  width: 200px;
  position: absolute;
  right: 0px;
  top: -2000px;
  transition: all 0.3s;
  border-left: 5px solid #FEB894;
}
.filter-menu-2 i,button i{
  color: #C6856B !important;
}
.filter-menu-2-toggle{
  top: 0;
}
.filter-menu-2 li{
  margin: 30px 15px;
  list-style-type: none;
}
#side-filter-close{
  color: black !important;
}


/* section2-css */
/* section3-css */


.posts p, button{
  color: black !important;

}
.card{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: all 0.3s;
  padding: 3px;
}
.posts button{
  border: 1px solid black;
}
.card p{
  color: black !important;
}
.card h3{
  color: #505B8E;
}
.checked{
  color: #C6856B;
}
.get-price-btn{
  background-color: white;
  border: 1px solid #505B8E;
  color: #505B8E !important;
  border-radius: 60px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  display: block;
  margin-top: 15px;
  padding: 10px 40px;
  color: black !important;
}
.get-price-btn:hover{
  background-color: #505B8E;
  color: white  !important;
  border: 1px solid #505B8E;

}
.pagination-indicator{
  background-color: #505B8E;
  border: 1px solid #505B8E;
}
.pagination-indicator:hover{
 background-color: white;
 border: 1px solid #505B8E;
}
.pagination-indicator:hover i{
  color: #505B8E !important;
}
.pagination-indicator i{
  color: white ;
}
.pagination li{
  margin-left: 40px;
 
}
.btn__parent {
  position: relative;
  padding: 5px;
  overflow: hidden;
 
  user-select:none;
  cursor: pointer;
}

.btn__parent::before,
.btn__parent::after {
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: #000;
  content: "";
  z-index: -1;
  transition: top 300ms ease-in-out, bottom 300ms ease-in-out,
    right 300ms 300ms ease-in-out, left 300ms 300ms ease-in-out,
    width 300ms ease-in-out, height 300ms ease-in-out;
}
.btn__parent::before {
  top: 0;
  left: 0;
}
.btn__parent::after {
  bottom: 0;
  right: 0;
}
.btn__parent.btn_1:hover::before {
  width: 100%;
  height: 100%;
}
.btn__parent.btn_1:hover::after {
  width: 100%;
  height: 100%;
}

.btn__parent.btn_2:hover::before {
  top: 50%;
  left: 50%;
}
.btn__parent.btn_2:hover::after {
  bottom: 50%;
  right: 50%;
}
.like-button{
  position: absolute;
  top: 20px;
  right: 40px;
  z-index: 999;
  font-size: 40px;
  transition: all 0.2s;
}
.like-button-toggle{
  color: red !important;
  font-size: 45px;

}

/* section3-css */
/* footer */
.footer-logo{
  background-color: white;
  height: 150px;
  width: 150px;
  border-radius: 50% !important;
}
.footer-logo img{
  margin: 26px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.main-footer{
  background-color: #505B8E;
  height:auto;
  margin-top: -70px;
  
}
.email-section{
  width: 80% !important;
  border-bottom: 1px solid white;
  margin-left: auto;
  margin-right: auto;
  padding-top: 110px;

}
.email-section input{
  background-color: #505B8E;
  border: none !important;
  margin-top: 10px;
  color: white !important;
  font-size: 16px;
}
.email-section input:focus{
  background-color: #505B8E !important;
  box-shadow: none !important;
 
}
.email-section input::placeholder{

  color: white !important;
}
.email-section a{
  color: white !important;
  font-size: 30px;
  margin-top: 30px;
}
.border1{
  border-right: 1px solid white;
}
.links i{
  color: #C6856B !important;

}
.links li{
  list-style: none;
  color: white !important;
  margin-top: 5px;
}
.quick-links i{
  color: #C6856B !important;
}
.quick-links li{
  list-style: none;
  color: white !important;
  margin-top: 5px;
  
}
.links h4{
  margin-left: 50px;

}

.about h4{
  margin-left: 20px;

}
.quick-links h4{
  margin-left: 40px;

}
.quick-links-a a{
  text-decoration: none;
}

/* Media quiries */
@media (max-width: 991px){
  
  .center-links{
  display: block !important;
  margin-top: 0px;
   height: 100vh !important;
   width: 100% !important;
   background-color:  white !important;
   position: absolute;
   left: -2000px;
   top: 0px;
   transition: all 0.4s;
   z-index: 99;
  }
  .filter-menu{
    display: none;
  }
  
  #logo-2{
   margin: 0px !important;
  }
  #nav-toggle-btn-2{
    color: #FEB894 !important;
    display: block !important;
    
  }
  #nav-toggle-btn i {
    color: #FEB894 !important;
    display: block !important;
  }
  .center-links-toggle{
    position: absolute;
    left: 0 !important;
    top: 0;
    padding: 0px !important;
  }
  .logo-900{
    display: block !important;
  }
  .center-links li{
    
    list-style: none;
    text-decoration: none;
    margin: 16px 30px;
    color: black !important;
    font-size: 14px;
    font-weight: 700;
    transition: all 0.2s;

  }
  .center-links {
    padding-top: 20px;
  }
  .search-box{
  
    width: 90% !important;
   margin-left: auto;
   margin-right: auto;
   position:static;
   border: none !important;
   
    
  }
  .custom-select{
    width: 95% !important;
  }
  #filter-toggle{
    color: #FEB894  !important;
    display: block;
  }
  .container-lg, .container-md, .container-sm, .container {
    max-width: 800px !important;
  }
  .border1{
    border: none !important;
  }
  .border1 h4,p{
    text-align: center ;
  }
  .about{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .about h4{
    text-align: center !important;
  }
  .links{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .links ul{
    margin-left: -35px;
  }
  .quick-links-a{
    margin-left: -35px;
    
  }
  .links h4,li{
    text-align: center !important;
  }
  .links h4{
    margin-left: 9px !important;
  }
  .quick-links h4{
    margin-left: 0px !important;
  }
  .quick-links{
    display: flex;
    justify-content: center;
    flex-direction: column;

  }
  .quick-links h4{
    text-align: center !important;
  
  }
  .quick-links .quick-links-a{
    justify-content: center;
  }
  
  
  

}
@media (max-width: 768px){
  .nav-login span{
    display: none !important;
   
  }
}

/* Media quiries */