<div class="bg-white">

  <div *ngIf="sm_1" class="fixed inset-0 flex z-40 lg:hidden" role="dialog" aria-modal="true">

    <div class="fixed inset-0 bg-black bg-opacity-25" aria-hidden="true"></div>

    <div class="relative max-w-xs w-full bg-white shadow-xl pb-12 flex flex-col overflow-y-auto">
      <div class="px-4 pt-5 pb-2 flex">
        <button (click)="sm_1 = false" type="button" class="-m-2 p-2 rounded-md inline-flex items-center justify-center text-gray-400">
          <span class="sr-only">Close menu</span>
          <!-- Heroicon name: outline/x -->
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>

      <!-- Links -->
      <div class="mt-2">

        <!-- tab panel, show/hide based on tab state. -->
        <div class="pt-10 pb-8 px-4 space-y-10">
          <div>
            <a href="./planning-tools" class="cursor-pointer font-medium text-gray-900">{{'2.1' | translate}}</a>
            <ul *ngIf="!isLoadingCat && (!currentUser || (currentUser && currentUser.typeUtilisateur !== 'vendor'))" role="list" aria-labelledby="women-clothing-heading-mobile" class="mt-6 flex flex-col space-y-6">

              <li class="flow-root">
                <a href="./planning-tools{{isConnected === 1 ? '/checklist' : '#presentation-checklist'}}" class="-m-2 p-2 block text-gray-500"> {{'2.1.4' | translate}} </a>
              </li>

              <li class="flow-root">
                <a href="./planning-tools{{isConnected === 1 ? '/guests-lists' : '#presentation-guests-lists'}}" class="-m-2 p-2 block text-gray-500"> {{'2.1.5' | translate}} </a>
              </li>

              <li class="flow-root">
                <a href="./planning-tools{{isConnected === 1 ? '/vendors-manager' : '#presentation-vendors-manager'}}" class="-m-2 p-2 block text-gray-500"> {{'2.1.2' | translate}} </a>
              </li>

              <li class="flow-root">
                <a href="./planning-tools{{isConnected === 1 ? '/budget' : '#presentation-budget'}}" class="-m-2 p-2 block text-gray-500"> {{'2.1.6' | translate}} </a>
              </li>

            </ul>
            <ul role="list" aria-labelledby="women-clothing-heading-mobile" class="mt-6 flex flex-col space-y-6" *ngIf="isConnected === 1 && currentUser.typeUtilisateur === 'vendor'">

              <li class="flow-root">
                <a href="./planning-tools/booking-manager" class="hover:text-gray-800"> {{'2.1.3' | translate}} </a>
              </li>
            </ul>

            <div class="text-center" *ngIf="isConnected === -1">
              <svg role="status" class="inline w-12 h-12 text-indigo-700 animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
              </svg>
            </div>
          </div>

          <div>
            <p id="women-accessories-heading-mobile" class="font-medium text-gray-900">{{'2.2' | translate}}</p>
            <ul role="list" aria-labelledby="women-accessories-heading-mobile" class="mt-6 flex flex-col space-y-6">
              <li class="flow-root" *ngFor="let sous of sousCategoriesVenue">
                <a href="./venues?categorie={{sous.id}}" class="-m-2 p-2 block text-gray-500"> {{getValueTraduct(sous.titre)}} </a>
              </li>
              <div class="text-center" *ngIf="isLoadingSousCatVenu">
                <svg role="status" class="inline w-12 h-12 text-indigo-700 animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
                  <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
                </svg>
              </div>
            </ul>
          </div>

          <div>
            <p id="women-brands-heading-mobile" class="font-medium text-gray-900">{{'2.3.1' | translate}}</p>
            <ul role="list" aria-labelledby="women-brands-heading-mobile" class="mt-6 flex flex-col space-y-6">
              <ng-container *ngFor="let cat of categories">
                <li class="flow-root" *ngIf="cat.titre.toLocaleLowerCase() !== 'venue'">
                  <a href="./vendors/?categorie={{cat.id}}" class="-m-2 p-2 block text-gray-500"> {{getValueTraduct(cat.titre)}} </a>
                </li>
              </ng-container>
            </ul>
            <div class="text-center" *ngIf="isLoadingCat">
              <svg role="status" class="inline w-12 h-12 text-indigo-700 animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
              </svg>
            </div>
          </div>
        </div>

      </div>

      <div class="border-t border-gray-200 py-6 px-4 space-y-6">
        <div class="flow-root">
          <a href="./forum" class="-m-2 p-2 block font-medium text-gray-900">{{'2.4' | translate}}</a>
        </div>

        <div class="flow-root">
          <a href="./blogs-posts" class="-m-2 p-2 block font-medium text-gray-900">{{'2.5' | translate}}</a>
        </div>

      </div>
    </div>
  </div>

  <header class="relative bg-white">
    <div class="p-4 bg-indigo-600">
      <div class="items-center text-right items-end content-end justify-end justify-items-end right-14 flex" *ngIf="isConnected === -1">
        <svg role="status" class="mx-5 w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-white" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
          <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
        </svg>
      </div>
      <div class="items-center text-right items-end content-end justify-end justify-items-end" *ngIf="isConnected === 0">
        <span class="mx-5 md:inline block font-semibold text-white">{{'1.1' | translate}} <a routerLink="../register-vendor" class="underline">{{'1.2' | translate}}</a></span>
        <div class="mt-4 md:inline">
          <a href="./login-customer" class="font-bold mx-2 my-2 bg-white transition duration-150 ease-in-out hover:bg-gray-100 hover:text-indigo-600 rounded text-indigo-700 px-8 py-3 text-sm focus:outline-none focus:ring-2 focus:ring-offset-2  focus:ring-indigo-700">{{'1.3' | translate}}</a>
          <a href="./register-customer" class="mx-2 my-2 bg-transparent transition duration-150 ease-in-out hover:bg-gray-100 hover:text-indigo-600 font-bold rounded border border-white text-white px-8 py-3 text-sm focus:outline-none focus:ring-2 focus:ring-offset-2  focus:ring-indigo-700">{{'1.4' | translate}}</a>
        </div>
      </div>
      <div class="flex space-x-5 justify-end items-center pl-2 pr-5" *ngIf="isConnected === 1">
        <a href="./mailbox" class="relative cursor-pointer focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21 15C21 15.5304 20.7893 16.0391 20.4142 16.4142C20.0391 16.7893 19.5304 17 19 17H7L3 21V5C3 4.46957 3.21071 3.96086 3.58579 3.58579C3.96086 3.21071 4.46957 3 5 3H19C19.5304 3 20.0391 3.21071 20.4142 3.58579C20.7893 3.96086 21 4.46957 21 5V15Z" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          <div *ngIf="messagesNonLus.length > 0" class="animate-ping w-1.5 h-1.5 bg-orange-500 rounded-full absolute -top-1 -right-1 m-auto duration-200"></div>
          <div *ngIf="messagesNonLus.length > 0" class="w-1.5 h-1.5 bg-orange-500 rounded-full absolute -top-1 -right-1 m-auto shadow-lg"></div>
        </a>
        <div class="ml-6 relative">
          <div class="flex items-center relative">
            <ul *ngIf="userDropdown"
                class="px-5 py-2 border-r bg-white absolute rounded right-0 shadow top-0 mt-16 z-50">
              <li
                  class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none">
                <div>
                  <div class="flex flex-col items-center pb-3">
                    <img class="mb-3 w-24 h-24 rounded-full shadow-lg" [src]="currentUser && currentUser.photo !== '' ? currentUser.photo : 'assets/images/user.png'" alt="Profil"/>
                    <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white capitalize">{{currentUser ? currentUser.nom : ''}}</h5>
                    <span class="text-sm text-gray-500 dark:text-gray-400">{{currentUser ? currentUser.email : ''}}</span>
                    <div class="mt-2 space-y-3">
                      <a href="planning-tools" class="block items-center py-2 px-4 text-sm font-medium text-center text-white bg-indigo-500 rounded-lg hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-indigo-300">{{'18.1' | translate}}</a>
                      <a *ngIf="currentUser && currentUser.typeUtilisateur === 'vendor'" href="planning-tools/account-vendor" class="block items-center py-2 px-4 text-sm font-medium text-center text-gray-900 bg-white rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700">{{'18.2' | translate}}</a>
                      <a href="{{currentUser ? '../profil/' + currentUser.email : ''}}" class="block items-center py-2 px-4 text-sm font-medium text-center text-gray-900 bg-white rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700">{{'18.3' | translate}}</a>
                    </div>
                  </div>
                </div>
              </li>
              <li (click)="goDeconnect()"
                class="border-t border-gray-300 cursor-pointer text-gray-600 text-sm leading-3 tracking-normal mt-2 py-2 hover:text-indigo-700 flex items-center focus:text-indigo-700 focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="icon icon-tabler icon-tabler-settings" width="20" height="20"
                     viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                     stroke-linecap="round" stroke-linejoin="round">
                  <path d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                </svg>
                <span class="ml-2">{{'18.4' | translate}}</span>
              </li>
            </ul>
            <a (click)="userDropdown ? (userDropdown = false) : (userDropdown = true)"
              class="cursor-pointer flex text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-white transition duration-150 ease-in-out">
              <img class="rounded-full h-10 w-10 object-cover border-white dark:border-gray-700 border-2 bg-gray-400"
                   [src]="currentUser && currentUser.photo !== '' ? currentUser.photo : 'assets/images/user.png'"
                   alt="Profil" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <nav aria-label="Top" class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="">
        <div class="h-20 flex items-center">
          <!-- Mobile menu toggle, controls the 'mobileMenuOpen' state. -->
          <button type="button" class="bg-white p-2 rounded-md text-gray-400 lg:hidden" (click)="sm_1 = true">
            <span class="sr-only">Open menu</span>
            <!-- Heroicon name: outline/menu -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>

          <!-- Logo -->
          <div class="ml-4 flex lg:ml-0">
            <a href="./home">
              <span class="sr-only">Evauxie</span>
              <img class="h-10 w-auto" src="assets/images/logo.png" alt="">
            </a>
          </div>

          <!-- Flyout menus -->
          <div class="hidden lg:ml-8 lg:block lg:self-stretch">
            <div class="h-full flex space-x-8">
              <div class="flex">
                <div class="relative flex">
                  <a href="./planning-tools" (mouseover)="sm_1_1 = true; sm_1_2 = false; sm_1_3 = false;" type="button" class="{{ sm_1_1 ? 'border-indigo-600 text-indigo-600' : 'border-transparent text-gray-900 hover:text-gray-800'}} relative z-10 flex items-center transition-colors ease-out duration-200 text-base font-medium border-b-2 -mb-px pt-px" aria-expanded="false">{{'2.1' | translate}}</a>
                </div>
                <div class="absolute top-full inset-x-0 text-base text-gray-500 z-10" *ngIf="sm_1_1" (mouseleave)="sm_1_1 = false" >
                 <div class="absolute inset-0 top-1/2 bg-white shadow" aria-hidden="true"></div>

                  <div class="relative bg-white">
                    <div class="max-w-7xl mx-auto px-8">
                      <div class="grid grid-cols-2 gap-y-10 gap-x-8 py-7">
                        <div class="col-start-2 grid grid-cols-2 gap-x-8">
                          <div class="group relative text-base sm:text-sm">
                            <div class="aspect-w-1 aspect-h-1 rounded-lg bg-gray-100 overflow-hidden group-hover:opacity-75">
                              <img src="assets/images/ill_19.jpg" alt="Models sitting back to back, wearing Basic Tee in black and bone." class="object-center object-cover">
                            </div>
                            <a class="mt-6 block font-medium text-gray-900">
                              <span class="absolute z-10 inset-0" aria-hidden="true"></span>
                              {{'2.1.7' | translate}}
                            </a>
                          </div>

                          <div class="group relative text-base sm:text-sm">
                            <div class="aspect-w-1 aspect-h-1 rounded-lg bg-gray-100 overflow-hidden group-hover:opacity-75">
                              <img src="assets/images/ill_20.jpeg" alt="Close up of Basic Tee fall bundle with off-white, ochre, olive, and black tees." class="object-center object-cover">
                            </div>
                            <a class="mt-6 block font-medium text-gray-900">
                              <span class="absolute z-10 inset-0" aria-hidden="true"></span>
                              {{'2.1.8' | translate}}
                            </a>
                          </div>
                        </div>
                        <div class="row-start-1 grid grid-cols-3 gap-y-10 gap-x-8 text-base">
                          <div *ngIf="!isLoadingCat && (!currentUser || (currentUser && currentUser.typeUtilisateur !== 'vendor'))">
                            <div>
                              <p id="loa" class="font-medium text-gray-900 text-xl">{{'2.1' | translate}}</p>
                              <ul role="list" aria-labelledby="loa" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                                <li class="flex">
                                  <a href="./planning-tools{{isConnected === 1 ? '/checklist' : '#presentation-checklist'}}" class="hover:text-gray-800"> {{'2.1.4' | translate}} </a>
                                </li>

                                <li class="flex">
                                  <a href="./planning-tools{{isConnected === 1 ? '/guests-lists' : '#presentation-guests-lists'}}" class="hover:text-gray-800"> {{'2.1.5' | translate}} </a>
                                </li>
                              </ul>
                            </div>

                            <div>
                              <p id="mvm" class="font-medium text-gray-900">&nbsp;</p>
                              <ul role="list" aria-labelledby="mvm" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                                <li class="flex">
                                  <a href="./planning-tools{{isConnected === 1 ? '/vendors-manager' : '#presentation-vendor-manager'}}" class="hover:text-gray-800"> {{'2.1.2' | translate}} </a>
                                </li>

                                <li class="flex">
                                  <a href="./planning-tools{{isConnected === 1 ? '/budget' : '#presentation-budget'}}" class="hover:text-gray-800"> {{'2.1.6' | translate}} </a>
                                </li>
                              </ul>
                            </div>
                          </div>

                          <div *ngIf="isConnected === 1 && currentUser && currentUser.typeUtilisateur === 'vendor'">
                            <div>
                              <p class="font-medium text-gray-900 text-xl">List of actions</p>
                              <ul role="list" aria-labelledby="loa" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                                <li class="flex">
                                  <a href="./planning-tools/booking-manager" class="hover:text-gray-800"> {{'2.1.3' | translate}} </a>
                                </li>

                                <li class="flex">
                                  <a href="./planning-tools/review-vendor" class="hover:text-gray-800"> Reviews </a>
                                </li>
                              </ul>
                            </div>
                          </div>

                          <div class="text-center" *ngIf="isConnected === -1">
                            <svg role="status" class="inline w-12 h-12 text-indigo-700 animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
                              <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
                            </svg>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="flex">
                <div class="relative flex">
                  <a href="./venues" (mouseover)="sm_1_2 = true; sm_1_1 = false; sm_1_3 = false;" type="button" class="{{ sm_1_2 ? 'border-indigo-600 text-indigo-600' : 'border-transparent text-gray-900 hover:text-gray-800'}} hover:text-gray-800 relative z-10 flex items-center transition-colors ease-out duration-200 text-base font-medium border-b-2 -mb-px pt-px" aria-expanded="false">{{'2.2' | translate}}</a>
                </div>

                <div class="absolute top-full inset-x-0 text-sm text-gray-500 z-10" *ngIf="sm_1_2" (mouseleave)="sm_1_2 = false">
                  <div class="absolute inset-0 top-1/2 bg-white shadow" aria-hidden="true"></div>

                  <div class="relative bg-white">
                    <div class="max-w-7xl mx-auto px-8">
                      <div class="py-7">
                        <div class="row-start-1 text-base">
                          <div>
                            <p id="Clothing-heading" class="font-medium text-gray-900 text-xl">{{'2.2.1' | translate}}</p>
                            <ul role="list" aria-labelledby="Clothing-heading" class="grid lg:grid-cols-4 md:grid-cols-3 mt-3">
                              <li class="flex my-2" *ngFor="let sous of sousCategoriesVenue">
                                <a href="./venues?categorie={{sous.id}}" class="hover:text-gray-800 capitalize"> {{getValueTraduct(sous.titre)}} </a>
                              </li>
                            </ul>
                            <div class="text-center" *ngIf="isLoadingSousCatVenu">
                              <svg role="status" class="inline w-12 h-12 text-indigo-700 animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
                                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
                              </svg>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="flex">
                <div class="relative flex">
                  <a href="./vendors" type="button" (mouseover)="sm_1_3 = true; sm_1_1 = false; sm_1_2 = false;" class="{{ sm_1_3 ? 'border-indigo-600 text-indigo-600' : 'border-transparent text-gray-900 hover:text-gray-800'}} relative z-10 flex items-center transition-colors ease-out duration-200 text-base font-medium border-b-2 -mb-px pt-px" aria-expanded="false">{{'2.3' | translate}}</a>
                </div>
                <div class="absolute top-full inset-x-0 text-sm text-gray-500 z-10" *ngIf="sm_1_3" (mouseleave)="sm_1_3 = false">
                  <div class="absolute inset-0 top-1/2 bg-white shadow" aria-hidden="true"></div>

                  <div class="relative bg-white">
                    <div class="max-w-7xl mx-auto px-8">
                      <div class="py-7">
                        <div class="row-start-1 text-base">
                          <div>
                            <p id="Clothing-heading-2" class="font-medium text-gray-900 text-xl">{{'3.1' | translate}}</p>
                            <ul role="list" aria-labelledby="Clothing-heading" class="grid lg:grid-cols-4 md:grid-cols-3 mt-3">
                              <ng-container *ngFor="let cat of categories">
                                <li class="flex my-2" *ngIf="cat.id.toLocaleLowerCase() !== '318a527a244caec0556dae'">
                                  <a href="./vendors/?categorie={{cat.id}}" class="hover:text-gray-800 capitalize"> {{getValueTraduct(cat.titre)}} </a>
                                </li>
                              </ng-container>
                            </ul>
                            <div class="text-center" *ngIf="isLoadingCat">
                              <svg role="status" class="inline w-12 h-12 text-indigo-700 animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
                                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
                              </svg>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a href="./forum" (mouseover)="sm_1_3 = false; sm_1_1 = false; sm_1_2 = false;" class="flex items-center text-base font-medium text-gray-900 hover:text-indigo-600">{{'2.4' | translate}}</a>

              <a href="./blogs-posts" (mouseover)="sm_1_3 = false; sm_1_1 = false; sm_1_2 = false;" class="flex items-center text-base font-medium text-gray-900 hover:text-indigo-600">{{'2.5' | translate}}</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
</div>
