<div class="bg-white">

  <div *ngIf="sm_1" class="fixed inset-0 flex z-40 lg:hidden" role="dialog" aria-modal="true">

    <div class="fixed inset-0 bg-black bg-opacity-25" aria-hidden="true"></div>

    <div class="relative max-w-xs w-full bg-white shadow-xl pb-12 flex flex-col overflow-y-auto">
      <div class="px-4 pt-5 pb-2 flex">
        <button (click)="sm_1 = false" type="button" class="-m-2 p-2 rounded-md inline-flex items-center justify-center text-gray-400">
          <span class="sr-only">Close menu</span>
          <!-- Heroicon name: outline/x -->
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>

      <!-- Links -->
      <div class="mt-2">

        <!-- tab panel, show/hide based on tab state. -->
        <div class="pt-10 pb-8 px-4 space-y-10">
          <div>
            <p href="./planning-tools" class="cursor-pointer font-medium text-gray-900">Planning Tools</p>
            <ul role="list" aria-labelledby="women-clothing-heading-mobile" class="mt-6 flex flex-col space-y-6">
              <li class="flow-root">
                <a href="./planning-tools/my-events" class="-m-2 p-2 block text-gray-500"> My event </a>
              </li>

              <li class="flow-root">
                <a href="./planning-tools/checklist" class="-m-2 p-2 block text-gray-500"> Check lists </a>
              </li>

              <li class="flow-root">
                <a href="./planning-tools/vendors-manager" class="-m-2 p-2 block text-gray-500"> Guest lists </a>
              </li>

              <li class="flow-root">
                <a href="#" class="-m-2 p-2 block text-gray-500"> Vendor manager </a>
              </li>

              <li class="flow-root">
                <a href="#" class="-m-2 p-2 block text-gray-500"> Budget </a>
              </li>

              <li class="flow-root">
                <a href="#" class="-m-2 p-2 block text-gray-500"> Sweaters </a>
              </li>

              <li class="flow-root">
                <a href="#" class="-m-2 p-2 block text-gray-500"> T-Shirts </a>
              </li>

              <li class="flow-root">
                <a href="#" class="-m-2 p-2 block text-gray-500"> Jackets </a>
              </li>

              <li class="flow-root">
                <a href="#" class="-m-2 p-2 block text-gray-500"> Activewear </a>
              </li>

              <li class="flow-root">
                <a href="#" class="-m-2 p-2 block text-gray-500"> Browse All </a>
              </li>
            </ul>
          </div>

          <div>
            <p id="women-accessories-heading-mobile" class="font-medium text-gray-900">Accessories</p>
            <ul role="list" aria-labelledby="women-accessories-heading-mobile" class="mt-6 flex flex-col space-y-6">
              <li class="flow-root">
                <a href="#" class="-m-2 p-2 block text-gray-500"> Watches </a>
              </li>

              <li class="flow-root">
                <a href="#" class="-m-2 p-2 block text-gray-500"> Wallets </a>
              </li>

              <li class="flow-root">
                <a href="#" class="-m-2 p-2 block text-gray-500"> Bags </a>
              </li>

              <li class="flow-root">
                <a href="#" class="-m-2 p-2 block text-gray-500"> Sunglasses </a>
              </li>

              <li class="flow-root">
                <a href="#" class="-m-2 p-2 block text-gray-500"> Hats </a>
              </li>

              <li class="flow-root">
                <a href="#" class="-m-2 p-2 block text-gray-500"> Belts </a>
              </li>
            </ul>
          </div>

          <div>
            <p id="women-brands-heading-mobile" class="font-medium text-gray-900">Brands</p>
            <ul role="list" aria-labelledby="women-brands-heading-mobile" class="mt-6 flex flex-col space-y-6">
              <li class="flow-root">
                <a href="#" class="-m-2 p-2 block text-gray-500"> Full Nelson </a>
              </li>

              <li class="flow-root">
                <a href="#" class="-m-2 p-2 block text-gray-500"> My Way </a>
              </li>

              <li class="flow-root">
                <a href="#" class="-m-2 p-2 block text-gray-500"> Re-Arranged </a>
              </li>

              <li class="flow-root">
                <a href="#" class="-m-2 p-2 block text-gray-500"> Counterfeit </a>
              </li>

              <li class="flow-root">
                <a href="#" class="-m-2 p-2 block text-gray-500"> Significant Other </a>
              </li>
            </ul>
          </div>
        </div>

      </div>

      <div class="border-t border-gray-200 py-6 px-4 space-y-6">
        <div class="flow-root">
          <a href="#" class="-m-2 p-2 block font-medium text-gray-900">Company</a>
        </div>

        <div class="flow-root">
          <a href="#" class="-m-2 p-2 block font-medium text-gray-900">Stores</a>
        </div>
      </div>

      <div class="border-t border-gray-200 py-6 px-4 space-y-6">
        <div class="flow-root">
          <a href="#" class="-m-2 p-2 block font-medium text-gray-900">Sign in</a>
        </div>
        <div class="flow-root">
          <a href="#" class="-m-2 p-2 block font-medium text-gray-900">Create account</a>
        </div>
      </div>

      <div class="border-t border-gray-200 py-6 px-4">
        <a href="#" class="-m-2 p-2 flex items-center">
          <img src="https://tailwindui.com/img/flags/flag-canada.svg" alt="" class="w-5 h-auto block flex-shrink-0">
          <span class="ml-3 block text-base font-medium text-gray-900"> CAD </span>
          <span class="sr-only">, change currency</span>
        </a>
      </div>
    </div>
  </div>

  <header class="relative bg-white">
    <div class="p-4 bg-indigo-600">
      <div class="items-center text-right items-end content-end justify-end justify-items-end right-14" *ngIf="isConnected === 0">
        <span class="mx-5 font-semibold text-white">Are you a seller? click here to <a class="underline">sign in</a> or click here to <a class="underline">sign up</a></span>
        <button routerLink="../login-customer" class="font-bold mx-2 my-2 bg-white transition duration-150 ease-in-out hover:bg-gray-100 hover:text-indigo-600 rounded text-indigo-700 px-8 py-3 text-sm focus:outline-none focus:ring-2 focus:ring-offset-2  focus:ring-indigo-700"><a>Login</a></button>
        <button routerLink="../register-customer" class="mx-2 my-2 bg-transparent transition duration-150 ease-in-out hover:bg-gray-100 hover:text-indigo-600 font-bold rounded border border-white text-white px-8 py-3 text-sm focus:outline-none focus:ring-2 focus:ring-offset-2  focus:ring-indigo-700">Not a member? Register</button>
      </div>
      <div class="flex space-x-5 justify-end items-center pl-2 pr-5" *ngIf="isConnected === 1">
        <div class="relative cursor-pointer focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800">
          <svg routerLink="../messages" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21 15C21 15.5304 20.7893 16.0391 20.4142 16.4142C20.0391 16.7893 19.5304 17 19 17H7L3 21V5C3 4.46957 3.21071 3.96086 3.58579 3.58579C3.96086 3.21071 4.46957 3 5 3H19C19.5304 3 20.0391 3.21071 20.4142 3.58579C20.7893 3.96086 21 4.46957 21 5V15Z" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          <div *ngIf="messagesNonLus.length > 0" class="animate-ping w-1.5 h-1.5 bg-orange-500 rounded-full absolute -top-1 -right-1 m-auto duration-200"></div>
          <div *ngIf="messagesNonLus.length > 0" class="w-1.5 h-1.5 bg-orange-500 rounded-full absolute -top-1 -right-1 m-auto shadow-lg"></div>
        </div>
        <div class="ml-6 relative">
          <div class="flex items-center relative" (click)="userDropdown ? (userDropdown = false) : (userDropdown = true)">
            <ul *ngIf="userDropdown"
                class="p-2 w-40 border-r bg-white absolute rounded right-0 shadow top-0 mt-16 z-50">
              <li routerLink="../profil"
                class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none">
                <div class="flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg"
                       class="icon icon-tabler icon-tabler-user" width="20" height="20"
                       viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                       stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" />
                    <circle cx="12" cy="7" r="4" />
                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                  </svg>
                  <span class="ml-2">My Profile</span>
                </div>
              </li>
              <li (click)="goDeconnect()"
                class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal mt-2 py-2 hover:text-indigo-700 flex items-center focus:text-indigo-700 focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="icon icon-tabler icon-tabler-settings" width="20" height="20"
                     viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                     stroke-linecap="round" stroke-linejoin="round">
                  <path d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                </svg>
                <span class="ml-2">Log out</span>
              </li>
            </ul>
            <div
              class="cursor-pointer flex text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-white transition duration-150 ease-in-out">
              <img class="rounded-full h-10 w-10 object-cover border-white dark:border-gray-700 border-2"
                   [src]="currentUser && currentUser !== '' ? currentUser.photo : 'asset/images/user.png'"
                   alt="Profil" />
            </div>
            <div class="ml-2 text-gray-600">
              <svg xmlns="http://www.w3.org/2000/svg"
                   class="icon icon-tabler icon-tabler-chevron-down cursor-pointer" width="20"
                   height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none"
                   stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z"></path>
                <polyline points="6 9 12 15 18 9"></polyline>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>

    <nav aria-label="Top" class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="">
        <div class="h-20 flex items-center">
          <!-- Mobile menu toggle, controls the 'mobileMenuOpen' state. -->
          <button type="button" class="bg-white p-2 rounded-md text-gray-400 lg:hidden" (click)="sm_1 = true">
            <span class="sr-only">Open menu</span>
            <!-- Heroicon name: outline/menu -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>

          <!-- Logo -->
          <div class="ml-4 flex lg:ml-0">
            <a href="./home">
              <span class="sr-only">Evauxie</span>
              <img class="h-10 w-auto" src="assets/images/logo.png" alt="">
            </a>
          </div>

          <!-- Flyout menus -->
          <div class="hidden lg:ml-8 lg:block lg:self-stretch">
            <div class="h-full flex space-x-8">
              <div class="flex">
                <div class="relative flex">
                  <button routerLink="../planning-tools" (mouseover)="sm_1_1 = true; sm_1_2 = false; sm_1_3 = false;" type="button" class="{{ sm_1_1 ? 'border-indigo-600 text-indigo-600' : 'border-transparent text-gray-700 hover:text-gray-800'}} relative z-10 flex items-center transition-colors ease-out duration-200 text-base font-semibold border-b-2 -mb-px pt-px" aria-expanded="false">Planning Tools</button>
                </div>
                <div class="absolute top-full inset-x-0 text-sm text-gray-500 z-10" *ngIf="sm_1_1" (mouseleave)="sm_1_1 = false" >
                 <div class="absolute inset-0 top-1/2 bg-white shadow" aria-hidden="true"></div>

                  <div class="relative bg-white">
                    <div class="max-w-7xl mx-auto px-8">
                      <div class="grid grid-cols-2 gap-y-10 gap-x-8 py-16">
                        <div class="col-start-2 grid grid-cols-2 gap-x-8">
                          <div class="group relative text-base sm:text-sm">
                            <div class="aspect-w-1 aspect-h-1 rounded-lg bg-gray-100 overflow-hidden group-hover:opacity-75">
                              <img src="assets/images/ill_19.jpg" alt="Models sitting back to back, wearing Basic Tee in black and bone." class="object-center object-cover">
                            </div>
                            <a href="#" class="mt-6 block font-medium text-gray-900">
                              <span class="absolute z-10 inset-0" aria-hidden="true"></span>
                              Check your task list
                            </a>
                            <p aria-hidden="true" class="mt-1">Check now</p>
                          </div>

                          <div class="group relative text-base sm:text-sm">
                            <div class="aspect-w-1 aspect-h-1 rounded-lg bg-gray-100 overflow-hidden group-hover:opacity-75">
                              <img src="assets/images/ill_20.jpeg" alt="Close up of Basic Tee fall bundle with off-white, ochre, olive, and black tees." class="object-center object-cover">
                            </div>
                            <a href="#" class="mt-6 block font-medium text-gray-900">
                              <span class="absolute z-10 inset-0" aria-hidden="true"></span>
                              Manage your guests
                            </a>
                            <p aria-hidden="true" class="mt-1">Manage now</p>
                          </div>
                        </div>
                        <div class="row-start-1 grid grid-cols-3 gap-y-10 gap-x-8 text-sm">
                          <div>
                            <p id="loa" class="font-medium text-gray-900">List of actions</p>
                            <ul role="list" aria-labelledby="loa" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                              <li class="flex">
                                <a href="./planning-tools/my-events" class="hover:text-gray-800"> My Events </a>
                              </li>

                              <li class="flex">
                                <a href="./planning-tools/checklist" class="hover:text-gray-800"> Check Lists </a>
                              </li>

                              <li class="flex">
                                <a href="./planning-tools/guests-lists" class="hover:text-gray-800"> Guest Lists </a>
                              </li>
                            </ul>
                          </div>

                          <div>
                            <p id="mvm" class="font-medium text-gray-900">&nbsp;</p>
                            <ul role="list" aria-labelledby="mvm" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                              <li class="flex">
                                <a href="#" class="hover:text-gray-800"> Vendor Manager </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800"> Budget </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="flex">
                <div class="relative flex">
                  <button (mouseover)="sm_1_2 = true; sm_1_1 = false; sm_1_3 = false;" type="button" class="{{ sm_1_2 ? 'border-indigo-600 text-indigo-600' : 'border-transparent text-gray-700 hover:text-gray-800'}} hover:text-gray-800 relative z-10 flex items-center transition-colors ease-out duration-200 text-base font-semibold border-b-2 -mb-px pt-px" aria-expanded="false">Venues</button>
                </div>

                <div class="absolute top-full inset-x-0 text-sm text-gray-500 z-10" *ngIf="sm_1_2" (mouseleave)="sm_1_2 = false">
                  <!-- Presentational element used to render the bottom shadow, if we put the shadow on the actual panel it pokes out the top, so we use this shorter element to hide the top of the shadow -->
                  <div class="absolute inset-0 top-1/2 bg-white shadow" aria-hidden="true"></div>

                  <div class="relative bg-white">
                    <div class="max-w-7xl mx-auto px-8">
                      <div class="grid grid-cols-2 gap-y-10 gap-x-8 py-16">
                        <div class="col-start-2 grid grid-cols-2 gap-x-8">
                          <div class="group relative text-base sm:text-sm">
                            <div class="aspect-w-1 aspect-h-1 rounded-lg bg-gray-100 overflow-hidden group-hover:opacity-75">
                              <img src="https://tailwindui.com/img/ecommerce-images/product-page-04-detail-product-shot-01.jpg" alt="Drawstring top with elastic loop closure and textured interior padding." class="object-center object-cover">
                            </div>
                            <a href="#" class="mt-6 block font-medium text-gray-900">
                              <span class="absolute z-10 inset-0" aria-hidden="true"></span>
                              New Arrivals
                            </a>
                            <p aria-hidden="true" class="mt-1">Shop now</p>
                          </div>

                          <div class="group relative text-base sm:text-sm">
                            <div class="aspect-w-1 aspect-h-1 rounded-lg bg-gray-100 overflow-hidden group-hover:opacity-75">
                              <img src="https://tailwindui.com/img/ecommerce-images/category-page-02-image-card-06.jpg" alt="Three shirts in gray, white, and blue arranged on table with same line drawing of hands and shapes overlapping on front of shirt." class="object-center object-cover">
                            </div>
                            <a href="#" class="mt-6 block font-medium text-gray-900">
                              <span class="absolute z-10 inset-0" aria-hidden="true"></span>
                              Artwork Tees
                            </a>
                            <p aria-hidden="true" class="mt-1">Shop now</p>
                          </div>
                        </div>
                        <div class="row-start-1 grid grid-cols-3 gap-y-10 gap-x-8 text-sm">
                          <div>
                            <p id="Clothing-heading" class="font-medium text-gray-900">Clothing</p>
                            <ul role="list" aria-labelledby="Clothing-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                              <li class="flex">
                                <a href="#" class="hover:text-gray-800"> Tops </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800"> Pants </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800"> Sweaters </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800"> T-Shirts </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800"> Jackets </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800"> Activewear </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800"> Browse All </a>
                              </li>
                            </ul>
                          </div>

                          <div>
                            <p id="Accessories-heading" class="font-medium text-gray-900">Accessories</p>
                            <ul role="list" aria-labelledby="Accessories-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                              <li class="flex">
                                <a href="#" class="hover:text-gray-800"> Watches </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800"> Wallets </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800"> Bags </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800"> Sunglasses </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800"> Hats </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800"> Belts </a>
                              </li>
                            </ul>
                          </div>

                          <div>
                            <p id="Brands-heading" class="font-medium text-gray-900">Brands</p>
                            <ul role="list" aria-labelledby="Brands-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                              <li class="flex">
                                <a href="#" class="hover:text-gray-800"> Re-Arranged </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800"> Counterfeit </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800"> Full Nelson </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800"> My Way </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="flex">
                <div class="relative flex">
                  <button type="button" (mouseover)="sm_1_3 = true; sm_1_1 = false; sm_1_2 = false;" class="{{ sm_1_3 ? 'border-indigo-600 text-indigo-600' : 'border-transparent text-gray-700 hover:text-gray-800'}} relative z-10 flex items-center transition-colors ease-out duration-200 text-base font-semibold border-b-2 -mb-px pt-px" aria-expanded="false">Vendors</button>
                </div>

                <!--
                  'Men' flyout menu, show/hide based on flyout menu state.

                  Entering: "transition ease-out duration-200"
                    From: "opacity-0"
                    To: "opacity-100"
                  Leaving: "transition ease-in duration-150"
                    From: "opacity-100"
                    To: "opacity-0"
                -->
                <div class="absolute top-full inset-x-0 text-sm text-gray-500 z-10" *ngIf="sm_1_3" (mouseover)="sm_1_3 = false">
                  <!-- Presentational element used to render the bottom shadow, if we put the shadow on the actual panel it pokes out the top, so we use this shorter element to hide the top of the shadow -->
                  <div class="absolute inset-0 top-1/2 bg-white shadow" aria-hidden="true"></div>

                  <div class="relative bg-white">
                    <div class="max-w-7xl mx-auto px-8">
                      <div class="grid grid-cols-2 gap-y-10 gap-x-8 py-16">
                        <div class="col-start-2 grid grid-cols-2 gap-x-8">
                          <div class="group relative text-base sm:text-sm">
                            <div class="aspect-w-1 aspect-h-1 rounded-lg bg-gray-100 overflow-hidden group-hover:opacity-75">
                              <img src="https://tailwindui.com/img/ecommerce-images/product-page-04-detail-product-shot-01.jpg" alt="Drawstring top with elastic loop closure and textured interior padding." class="object-center object-cover">
                            </div>
                            <a href="#" class="mt-6 block font-medium text-gray-900">
                              <span class="absolute z-10 inset-0" aria-hidden="true"></span>
                              New Arrivals
                            </a>
                            <p aria-hidden="true" class="mt-1">Shop now</p>
                          </div>

                          <div class="group relative text-base sm:text-sm">
                            <div class="aspect-w-1 aspect-h-1 rounded-lg bg-gray-100 overflow-hidden group-hover:opacity-75">
                              <img src="https://tailwindui.com/img/ecommerce-images/category-page-02-image-card-06.jpg" alt="Three shirts in gray, white, and blue arranged on table with same line drawing of hands and shapes overlapping on front of shirt." class="object-center object-cover">
                            </div>
                            <a href="#" class="mt-6 block font-medium text-gray-900">
                              <span class="absolute z-10 inset-0" aria-hidden="true"></span>
                              Artwork Tees
                            </a>
                            <p aria-hidden="true" class="mt-1">Shop now</p>
                          </div>
                        </div>
                        <div class="row-start-1 grid grid-cols-3 gap-y-10 gap-x-8 text-sm">
                          <div>
                            <p id="Clothing-heading" class="font-medium text-gray-900">Clothing</p>
                            <ul role="list" aria-labelledby="Clothing-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                              <li class="flex">
                                <a href="#" class="hover:text-gray-800"> Tops </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800"> Pants </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800"> Sweaters </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800"> T-Shirts </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800"> Jackets </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800"> Activewear </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800"> Browse All </a>
                              </li>
                            </ul>
                          </div>

                          <div>
                            <p id="Accessories-heading" class="font-medium text-gray-900">Accessories</p>
                            <ul role="list" aria-labelledby="Accessories-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                              <li class="flex">
                                <a href="#" class="hover:text-gray-800"> Watches </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800"> Wallets </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800"> Bags </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800"> Sunglasses </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800"> Hats </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800"> Belts </a>
                              </li>
                            </ul>
                          </div>

                          <div>
                            <p id="Brands-heading" class="font-medium text-gray-900">Brands</p>
                            <ul role="list" aria-labelledby="Brands-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                              <li class="flex">
                                <a href="#" class="hover:text-gray-800"> Re-Arranged </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800"> Counterfeit </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800"> Full Nelson </a>
                              </li>

                              <li class="flex">
                                <a href="#" class="hover:text-gray-800"> My Way </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a href="./forum" class="flex items-center text-base font-semibold text-gray-700 hover:text-indigo-600">Forum</a>

              <a href="./blogs-posts" class="flex items-center text-base font-semibold text-gray-700 hover:text-indigo-600">Blogs Posts</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
</div>
