<section *ngIf="!isLoading">

  <app-navbar></app-navbar>

  <header id="up" class="bg-center bg-fixed bg-no-repeat bg-center bg-cover relative">
    <div class="relative h-fit w-full flex items-center justify-start bg-cover bg-center" [style]="'background-image:url(assets/images/ill_15.jpg);'">
      <div class="absolute top-0 right-0 bottom-0 left-0 bg-black opacity-75"></div>
      <main class="max-w-7xl px-2 mx-auto container py-20" style="z-index: 1">
        <div>
          <p class="text-xl sm:text-2xl xl:text-4xl text-center md:text-left font-semibold leading-6 xl:leading-10 text-gray-100 md:w-full" >{{'6.1' | translate}}</p>
          <p class="mt-4 w-full text-center md:text-left  text-base leading-normal text-gray-200" >{{'6.2' | translate}}</p>
          <button routerLink="../register-customer" class="mt-6 shrink-0 w-full md:w-auto  lg:mt-8 py-2 md:py-3 px-10 flex justify-center duration-700  items-center text-base border-2 border-white transition hover:-translate-y-1 hover:bg-gray-100 hover:text-gray-800 font-medium text-white">
            {{'6.3' | translate}}
          </button>
        </div>
      </main>
    </div>
  </header>

  <!--section class="max-w-7xl mx-auto">
    <div class="mx-auto container bg-white pt-16">
      <div class="px-4 lg:px-0">
        <div role="contentinfo" class="flex items-center flex-col px-4">
          <h1 tabindex="0" class="focus:outline-none text-4xl lg:text-4xl pt-4 font-extrabold text-center leading-tight text-gray-800 lg:w-7/12 md:w-9/12 xl:w-5/12">Manage your event</h1>
          <p tabindex="0" class="focus:outline-none mt-8 uppercase text-sm text-center text-gray-500 leading-none">Optimize your time by managing your event on the platform in an intelligent way</p>
        </div>
      </div>
    </div>
  </section-->

  <section id="presentation-vendor-manager" class="max-w-7xl mx-auto mt-10 px-2">
    <div class="py-12">
      <div class="lg:flex items-center justify-center lg:space-x-12 2xl:space-x-6">
        <div class="">
          <p class="lg:text-4xl text-3xl font-extrabold leading-9 text-gray-800">{{'6.4' | translate}}</p>
          <p class="text-lg leading-7 text-gray-600 mt-4 xl:w-7/12 w-full">
            {{'6.5' | translate}} </p>
          <div class="lg:hidden lg:w-3/5 xl:w-3/5 w-full lg:mt-0 mt-6">
            <img src="assets/images/ill_16.jpg" alt="ongoing meeting" class="w-full obejct-fit object-center object-fill h-full" />
          </div>
          <div class="mt-6 md:mt-10 grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-6 lg:mt-6 2xl:mt-12">
            <div class="flex items-center">
              <div class="w-16 h-16 relative">
                <div class=" flex-shrink-0 z-20  w-16 h-16 flex items-center justify-center mt-2 mr-3">
                  <svg xmlns="http://www.w3.org/2000/svg" class="text-indigo-600" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M2.166 4.999A11.954 11.954 0 0010 1.944 11.954 11.954 0 0017.834 5c.11.65.166 1.32.166 2.001 0 5.225-3.34 9.67-8 11.317C5.34 16.67 2 12.225 2 7c0-.682.057-1.35.166-2.001zm11.541 3.708a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                  </svg>
                </div>
              </div>
              <div class="flex items-start flex-col ml-6 pt-8">
                <h2 class="text-lg font-semibold leading-4 text-gray-800">{{'6.6' | translate}}</h2>
                <p class="lg:w-40 2xl:w-52 text-base leading-6 mt-2 text-gray-600">{{'6.7' | translate}}</p>
              </div>
            </div>
            <div class="flex items-center">
              <div class="w-16 h-16 relative">
                <div class=" flex-shrink-0 z-20  w-16 h-16 flex items-center justify-center mt-2 mr-3">
                  <svg xmlns="http://www.w3.org/2000/svg" class="text-indigo-600" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
                    <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
                  </svg>
                </div>
              </div>
              <div class="flex items-start flex-col ml-6 pt-8">
                <h2 class="text-lg font-semibold leading-4 text-gray-800">{{'6.8' | translate}}</h2>
                <p class="lg:w-40 2xl:w-52 text-base leading-6 mt-2 text-gray-600">{{'6.9' | translate}}</p>
              </div>
            </div>
            <div class="flex items-center">
              <div class="w-16 h-16 relative">
                <div class=" flex-shrink-0 z-20  w-16 h-16 flex items-center justify-center mt-2 mr-3">
                  <svg xmlns="http://www.w3.org/2000/svg" class="text-indigo-600" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
                  </svg>
                </div>
              </div>
              <div class="flex items-start flex-col ml-6 pt-8">
                <h2 class="text-lg font-semibold leading-4 text-gray-800">{{'6.10' | translate}}</h2>
                <p class="lg:w-40 2xl:w-52 text-base leading-6 mt-2 text-gray-600">{{'6.11' | translate}}</p>
              </div>
            </div>
            <div class="flex items-center">
              <div class="w-16 h-16 relative">
                <div class=" flex-shrink-0 z-20  w-16 h-16 flex items-center justify-center mt-2 mr-3">
                  <svg xmlns="http://www.w3.org/2000/svg" class="text-indigo-600" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122" />
                  </svg>
                </div>
              </div>
              <div class="flex items-start flex-col ml-6 pt-8">
                <h2 class="text-lg font-semibold leading-4 text-gray-800">{{'6.12' | translate}}</h2>
                <p class="lg:w-40 2xl:w-52 text-base leading-6 mt-2 text-gray-600">{{'6.13' | translate}}</p>
                <p class="mt-2 text-base sm:text-lg md:text-xl 2xl:text-2xl text-gray-50">
                  <button routerLink="../register-customer" class="hover:bg-indigo-600 hover:text-white my-2 bg-transparent transition duration-150 ease-in-out focus:outline-none rounded text-indigo-600 border border-indigo-600 px-8 py-3 text-sm">{{'6.14' | translate}}</button>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="hidden lg:block lg:w-3/5 xl:w-3/5 w-full lg:mt-0 mt-6">
          <img src="assets/images/ill_16.jpg" alt="ongoing meeting" class="w-full obejct-fit object-center object-fill h-full rounded-xl" />
        </div>
      </div>
    </div>
  </section>

  <section id="presentation-guests-lists" class="max-w-7xl mx-auto px-2">
    <div class="py-12">
      <div class="lg:flex items-center justify-center lg:space-x-12 2xl:space-x-6">
        <div class="">
          <p class="lg:text-4xl text-3xl font-extrabold leading-9 text-gray-800">{{'6.15' | translate}}</p>
          <p class="text-lg leading-7 text-gray-600 mt-4 xl:w-7/12 w-full">
            {{'6.16' | translate}}
          </p>
          <div class="lg:hidden lg:w-3/5 xl:w-3/5 w-full lg:mt-0 mt-6">
            <img src="assets/images/ill_29.jpg" alt="ongoing meeting" class="w-full obejct-fit object-center object-fill h-full" />
          </div>
          <div class="mt-6 md:mt-10 grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-6 lg:mt-6 2xl:mt-12">
            <div class="flex items-center">
              <div class="w-16 h-16 relative">
                <div class=" flex-shrink-0 z-20  w-16 h-16 flex items-center justify-center mt-2 mr-3">
                  <svg xmlns="http://www.w3.org/2000/svg" class="text-indigo-600" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M2.166 4.999A11.954 11.954 0 0010 1.944 11.954 11.954 0 0017.834 5c.11.65.166 1.32.166 2.001 0 5.225-3.34 9.67-8 11.317C5.34 16.67 2 12.225 2 7c0-.682.057-1.35.166-2.001zm11.541 3.708a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                  </svg>
                </div>
              </div>
              <div class="flex items-start flex-col ml-6 pt-8">
                <h2 class="text-lg font-semibold leading-4 text-gray-800">{{'6.17' | translate}}</h2>
                <p class="lg:w-40 2xl:w-52 text-base leading-6 mt-2 text-gray-600">{{'6.18' | translate}}</p>
              </div>
            </div>
            <div class="flex items-center">
              <div class="w-16 h-16 relative">
                <div class=" flex-shrink-0 z-20  w-16 h-16 flex items-center justify-center mt-2 mr-3">
                  <svg xmlns="http://www.w3.org/2000/svg" class="text-indigo-600" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
                    <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
                  </svg>
                </div>
              </div>
              <div class="flex items-start flex-col ml-6 pt-8">
                <h2 class="text-lg font-semibold leading-4 text-gray-800">{{'6.19' | translate}}</h2>
                <p class="lg:w-40 2xl:w-52 text-base leading-6 mt-2 text-gray-600">{{'6.20' | translate}}</p>
              </div>
            </div>
            <div class="flex items-center">
              <div class="w-16 h-16 relative">
                <div class=" flex-shrink-0 z-20  w-16 h-16 flex items-center justify-center mt-2 mr-3">
                  <svg xmlns="http://www.w3.org/2000/svg" class="text-indigo-600" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
                  </svg>
                </div>
              </div>
              <div class="flex items-start flex-col ml-6 pt-8">
                <h2 class="text-lg font-semibold leading-4 text-gray-800">{{'6.21' | translate}}</h2>
                <p class="lg:w-40 2xl:w-52 text-base leading-6 mt-2 text-gray-600">{{'6.22' | translate}}</p>
              </div>
            </div>
            <div class="flex items-center">
              <div class="w-16 h-16 relative">
                <div class=" flex-shrink-0 z-20  w-16 h-16 flex items-center justify-center mt-2 mr-3">
                  <svg xmlns="http://www.w3.org/2000/svg" class="text-indigo-600" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122" />
                  </svg>
                </div>
              </div>
              <div class="flex items-start flex-col ml-6 pt-8">
                <h2 class="text-lg font-semibold leading-4 text-gray-800">{{'6.23' | translate}}</h2>
                <p class="lg:w-40 2xl:w-52 text-base leading-6 mt-2 text-gray-600">{{'6.24' | translate}}</p>
                <p class="mt-2 text-base sm:text-lg md:text-xl 2xl:text-2xl text-gray-50">
                  <button routerLink="../register-customer" class="hover:bg-indigo-600 hover:text-white my-2 bg-transparent transition duration-150 ease-in-out focus:outline-none rounded text-indigo-600 border border-indigo-600 px-8 py-3 text-sm">{{'6.25' | translate}}</button>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="hidden lg:block lg:w-3/5 xl:w-3/5 w-full lg:mt-0 mt-6">
          <img src="assets/images/ill_29.jpg" alt="ongoing meeting" class="w-full obejct-fit object-center object-fill h-full rounded-xl" />
        </div>
      </div>
    </div>
  </section>

  <section id="presentation-checklist">
    <div class="bg-orange-500 py-12 mt-12">
      <div class="mx-auto container">
        <div class="px-4 lg:px-0 pb-12">
          <div role="contentinfo" class="flex items-center flex-col px-4">
            <h1 tabindex="0" class="focus:outline-none text-4xl lg:text-4xl pt-4 font-extrabold text-center leading-tight text-white lg:w-7/12 md:w-9/12 xl:w-5/12">{{'6.26' | translate}}</h1>
            <p tabindex="0" class="focus:outline-none mt-8 uppercase text-sm text-center text-white leading-none">{{'6.27' | translate}}</p>
          </div>
        </div>
      </div>
      <div tabindex="0" aria-label="group of cards" class="focus:outline-none px-4 lg:px-0">
        <div class="mx-auto container flex flex-wrap px-2 lg:px-24">
          <div tabindex="0" aria-label="card 1" class="focus:outline-none flex sm:w-full md:w-1/2 lg:border-r md:border-r sm:border-r-0 border-white pb-10 lg:pt-10">
            <div class=" flex flex-shrink-0 mr-5 text-white">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
              </svg>
            </div>
            <div class="md:w-9/12 lg:w-9/12">
              <h2 tabindex="0" class="focus:outline-none text-lg font-semibold leading-5 text-white">{{'6.28' | translate}}</h2>
              <p tabindex="0" class="focus:outline-none text-base text-white leading-normal xl:w-10/12 pt-2">
                {{'6.29' | translate}}
              </p>
            </div>
          </div>
          <div tabindex="0" aria-label="card 2" class="focus:outline-none flex sm:w-full md:w-1/2 lg:pb-10 lg:pt-10">
            <div class=" flex flex-shrink-0 sm:ml-0 md:ml-10 lg:ml-10 mr-5 text-white">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8 13v-1m4 1v-3m4 3V8M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z" />
              </svg>
            </div>
            <div class="md:w-9/12 lg:w-9/12 ">
              <h2 tabindex="0" class="focus:outline-none text-lg font-semibold leading-5 text-white">{{'6.30' | translate}}</h2>
              <p tabindex="0" class="focus:outline-none text-base text-white leading-normal xl:w-10/12 pt-2">
                {{'6.31' | translate}}
              </p>
            </div>
          </div>
          <div tabindex="0" aria-label="card 3" class="focus:outline-none flex sm:w-full md:w-1/2 lg:border-t md:border-t sm:border-t-0 lg:border-r md:border-r sm:border-r-0 border-white pt-10 lg:pb-20">
            <div class=" flex flex-shrink-0 mr-5 text-white">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
              </svg>
            </div>
            <div class="md:w-9/12 lg:w-9/12 ">
              <h2 tabindex="0" class="focus:outline-none text-lg font-semibold leading-5 text-white">{{'6.32' | translate}}</h2>
              <p tabindex="0" class="focus:outline-none text-base text-white leading-normal xl:w-10/12 pt-2">
                {{'6.33' | translate}}
              </p>
            </div>
          </div>
          <div tabindex="0" aria-label="card 4" class="focus:outline-none flex sm:w-full md:w-1/2 lg:border-t md:border-t sm:border-t-0 border-white pt-10 lg:pb-20">
            <div class=" flex flex-shrink-0 sm:ml-0 md:ml-10 lg:ml-10 mr-5 text-white">
              <!--svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
              </svg-->
            </div>
            <div class="md:w-9/12 lg:w-9/12 ">
              <!--h2 tabindex="0" class="focus:outline-none text-lg font-semibold leading-5 text-white">{{'6.32' | translate}}</h2>
              <p tabindex="0" class="focus:outline-none text-base text-white leading-normal xl:w-10/12 pt-2">{{'6.33' | translate}}</p-->
              <p class="mt-2 text-base sm:text-lg md:text-xl 2xl:text-2xl text-gray-50">
                <button routerLink="../login-customer" class="hover:bg-gray-50 hover:text-orange-500 my-2 bg-transparent transition duration-150 ease-in-out focus:outline-none rounded text-white border border-white px-8 py-3 text-sm">{{'6.34' | translate}}</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</section>

<section class="max-w-7xl mx-auto px-2">
  <div class="container py-12 mt-12 mx-auto grid sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 pt-6 gap-8">
    <div class="bg-center bg-fixed bg-no-repeat bg-center bg-cover relative rounded-lg">
      <div class="flex flex-col items-center py-16 md:py-12 rounded-lg bg-cover" [style]="'background-image:url(assets/images/ill_22.jpg);'">
        <div class="absolute top-0 right-0 bottom-0 left-0 bg-black opacity-75 rounded-lg"></div>
        <div class="w-full flex items-center justify-center z-10">
          <div class="flex flex-col items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="h-24 w-24 text-white">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21 11.25v8.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5v-8.25M12 4.875A2.625 2.625 0 109.375 7.5H12m0-2.625V7.5m0-2.625A2.625 2.625 0 1114.625 7.5H12m0 0V21m-8.625-9.75h18c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125h-18c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z" />
            </svg>

            <p class="mt-2 text-xs sm:text-sm md:text-base font-semibold text-center text-white">{{'6.35' | translate}}</p>
          </div>
        </div>
        <div class="flex items-center text-center mt-7 z-10">
          <div class="container px-10">
            <p class="text-xs text-gray-300">
              {{'6.36' | translate}}
            </p>
            <p class="mt-2 text-base sm:text-lg md:text-xl 2xl:text-2xl text-gray-50">
              <button routerLink="../login-customer" class="hover:bg-gray-50 hover:text-indigo-600 mx-2 my-2 bg-transparent transition duration-150 ease-in-out focus:outline-none rounded text-white border border-white px-8 py-3 text-sm">{{'6.37' | translate}}</button>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-center bg-fixed bg-no-repeat bg-center bg-cover relative rounded-lg">
      <div class="flex flex-col items-center py-16 md:py-12 bg-cover rounded-lg" [style]="'background-image:url(assets/images/ill_23.jpg);'">
        <div class="absolute top-0 right-0 bottom-0 left-0 bg-black opacity-75 rounded-lg"></div>
        <div class="w-full flex items-center justify-center z-10">
          <div class="flex flex-col items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-24 w-24 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <p class="mt-2 text-xs sm:text-sm md:text-base font-semibold text-center text-white">{{'6.38' | translate}}</p>
          </div>
        </div>
        <div class="flex items-center text-center mt-7 z-10">
          <div class="container px-10">
            <p class="text-xs text-gray-300">
              {{'6.39' | translate}}
            </p>
            <p class="mt-2 text-base sm:text-lg md:text-xl 2xl:text-2xl text-gray-50">
              <button routerLink="../login-customer" class="hover:bg-gray-50 hover:text-indigo-600 mx-2 my-2 bg-transparent transition duration-150 ease-in-out focus:outline-none rounded text-white border border-white px-8 py-3 text-sm">{{'6.40' | translate}}</button>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-center bg-fixed bg-no-repeat bg-center bg-cover relative rounded-lg">
      <div class="flex flex-col items-center py-16 md:py-12 bg-cover rounded-lg" [style]="'background-image:url(assets/images/ill_24.jpg);'">
        <div class="absolute top-0 right-0 bottom-0 left-0 bg-black opacity-75 rounded-lg"></div>
        <div class="w-full flex items-center justify-center z-10">
          <div class="flex flex-col items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-24 w-24 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
            </svg>
            <p class="mt-2 text-xs sm:text-sm md:text-base font-semibold text-center text-white">{{'6.41' | translate}}</p>
          </div>
        </div>
        <div class="flex items-center text-center mt-7 z-10">
          <div class="container px-10">
            <p class="text-xs text-gray-300">
              {{'6.42' | translate}}
            </p>
            <p class="mt-2 text-base sm:text-lg md:text-xl 2xl:text-2xl text-gray-50">
              <button routerLink="../login-customer" class="hover:bg-gray-50 hover:text-indigo-600 mx-2 my-2 bg-transparent transition duration-150 ease-in-out focus:outline-none rounded text-white border border-white px-8 py-3 text-sm">{{'6.43' | translate}}</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<br><br><br><br><br>

<app-footer></app-footer>
