<app-header></app-header>

<!-- black_div  -->
<!-- vender page links -->
<div class="vendor-pg-links">
  <a href="./Client  Checklist page.html">
    <div class="pg-link-box">
      <img src="assets/icons/checklist icon.png" alt="" width="100px" />
      <p>Checklist</p>
    </div>
  </a>
  <a href="./Client Favourite Vendors.html">
    <div class="pg-link-box acc">
      <img src="assets/icons/hand shake icon.png" alt="" width="100px" />
      <p>Vendor Manager</p>
    </div>
  </a>
  <a href="./custmer Budget.html">
    <div class="pg-link-box acc">
      <img src="assets/icons/dollar.png" alt="" width="100px" />
      <p>Budget</p>
    </div>
  </a>
  <a href="./Guests Lists.html">
    <div class="pg-link-box acc">
      <img src="assets/icons/Group 489.png" alt="" width="100px" />
      <p>Guests List</p>
    </div>
  </a>
  <a href="./Client Inbox.html">
    <div class="pg-link-box acc">
      <img src="assets/icons/messeges.png" alt="" width="100px" />
      <p>Messeges</p>
    </div>
  </a>
  <a href="./payments.html">
    <div class="pg-link-box acc">
      <img src="assets/icons/PAYMENTS.png" alt="" width="100px" />
      <p>Payments</p>
    </div>
  </a>
</div>
<button class="fav_fil_catga_btn">
  <i class="fas fa-filter"></i>
</button>
<div class="fav_vender_catga Checklist_body">
  <div class="fav_fil_catga"  >
    <h4>Checklist</h4>
    <div class="Checklist_seac">
      <h6>Search status</h6>
      <ul>
        <li>
          Completed <span>04</span>
        </li>
        <li>
          To DO <span>20</span>
        </li>
      </ul>
    </div>
    <div class=" catgo_list">
      <h6>By Date:</h6>
      <ul>
        <li><a href="">October 2021</a> <span>04</span></li>
        <li><a href="">Novemeber 2021</a> <span>8</span> </li>
        <li><a href="">December 2021</a> <span>4</span></li>
        <li><a href="">January  2022</a> <span>3</span></li>
        <li><a href="">Others</a> <span>3</span></li>


      </ul>
    </div>
    <div class="catgo_list">
      <h6>Categories</h6>
      <ul>
        <li><a href="">Accomodation</a> <span>04</span></li>
        <li><a href="">Budget</a> </li>
        <li><a href="">Beauty</a> </li>
        <li><a href="">Guests</a> </li>
        <li><a href="">Dress & Attire</a> </li>
        <li><a href="">Jewelery</a> </li>
        <li><a href="">April 2022</a> </li>
      </ul>
    </div>
  </div>
  <div class="Checklist_sec">
    <div class="wed_chcklist_sec">
      <div class="wed_chcklist">
        <div class="wed_chcklist_left">
          <h2>Your Wedding Checklist</h2>
          <div class="wed_chck-day">
            382 days to go
          </div>
          <div class="wed_comp_mo">
            <div class="wed_complete"></div>
          </div>
          <div class="web_comp_num">
            2% Completed
          </div>
        </div>
        <div class="wed_chcklist_right">
          <button>
            Edit Checklist
          </button>
          <button>
            Add New To-Do
          </button>
        </div>
      </div>
    </div>
    <div class="chck_down_prnt">
      <button>
        <img src="assets/icons/Group 284.png" alt=""> Download
      </button>
      <button>
        <img src="assets/icons/Group 285.png" alt=""> Print
      </button>
    </div>
    <div class="chck_to_do_sec">
      <div class="paln_list_menu">
        <div class="paln_checkbox chck_add_new">
          <img src="assets/icons/Group 219.png" height="70px" alt="">
          <!-- <i class="far fa-circle"></i> -->
          Add New Task
        </div>
      </div>
      <h4>
        overdue
      </h4>
      <div class="paln_list_menu">
        <div class="paln_checkbox">
          <i class="far fa-check-circle"></i>
          <!-- <i class="far fa-circle"></i> -->

        </div>
        <div class="paln_title">
          <p class="editable">Start your shopping</p>
          <div class="dates">
            <p>October 29 </p>
            <div class="icon"><img src="assets/icons/Frame.png" alt="" width="25px"></div>
            <span>$ - $$</span>
          </div>
        </div>
        <div class="paln_deletebox">
          <i class="fas fa-times-circle"></i>
        </div>
      </div>
      <div class="paln_list_menu">
        <div class="paln_checkbox">
          <i class="far fa-check-circle"></i>
          <!-- <i class="far fa-circle"></i> -->

        </div>
        <div class="paln_title">
          <p class="editable">Start your shopping</p>
          <div class="dates">
            <p>October 29 </p>
            <div class="icon"><img src="assets/icons/Frame.png" alt="" width="25px"></div>
            <span>$ - $$</span>
          </div>
        </div>
        <div class="paln_deletebox">
          <i class="fas fa-times-circle"></i>
        </div>
      </div>
      <div class="paln_list_menu">
        <div class="paln_checkbox">
          <i class="far fa-check-circle"></i>
          <!-- <i class="far fa-circle"></i> -->

        </div>
        <div class="paln_title">
          <p class="editable">Start your shopping</p>
          <div class="dates">
            <p>October 29 </p>
            <div class="icon"><img src="assets/icons/Frame.png" alt="" width="25px"></div>
            <span>$ - $$</span>
          </div>
        </div>
        <div class="paln_deletebox">
          <i class="fas fa-times-circle"></i>
        </div>
      </div>
      <div class="paln_list_menu">
        <div class="paln_checkbox">
          <i class="far fa-check-circle"></i>
          <!-- <i class="far fa-circle"></i> -->

        </div>
        <div class="paln_title">
          <p class="editable">Start your shopping</p>
          <div class="dates">
            <p>October 29 </p>
            <div class="icon"><img src="assets/icons/Frame.png" alt="" width="25px"></div>
            <span>$ - $$</span>
          </div>
        </div>
        <div class="paln_deletebox">
          <i class="fas fa-times-circle"></i>
        </div>
      </div>
      <h4>
        November 2021
      </h4>
      <div class="paln_list_menu">
        <div class="paln_checkbox">
          <i class="far fa-check-circle"></i>
          <!-- <i class="far fa-circle"></i> -->

        </div>
        <div class="paln_title">
          <p class="editable">Start your shopping</p>
          <div class="dates">
            <p>October 29 </p>
            <div class="icon"><img src="assets/icons/Frame.png" alt="" width="25px"></div>
            <span>$ - $$</span>
          </div>
        </div>
        <div class="paln_deletebox">
          <i class="fas fa-times-circle"></i>
        </div>
      </div>
      <div class="paln_list_menu">
        <div class="paln_checkbox">
          <i class="far fa-check-circle"></i>
          <!-- <i class="far fa-circle"></i> -->

        </div>
        <div class="paln_title">
          <p class="editable">Start your shopping</p>
          <div class="dates">
            <p>October 29 </p>
            <div class="icon"><img src="assets/icons/Frame.png" alt="" width="25px"></div>
            <span>$ - $$</span>
          </div>
        </div>
        <div class="paln_deletebox">
          <i class="fas fa-times-circle"></i>
        </div>
      </div>
      <div class="paln_list_menu">
        <div class="paln_checkbox">
          <i class="far fa-check-circle"></i>
          <!-- <i class="far fa-circle"></i> -->

        </div>
        <div class="paln_title">
          <p class="editable">Start your shopping</p>
          <div class="dates">
            <p>October 29 </p>
            <div class="icon"><img src="assets/icons/Frame.png" alt="" width="25px"></div>
            <span>$ - $$</span>
          </div>
        </div>
        <div class="paln_deletebox">
          <i class="fas fa-times-circle"></i>
        </div>
      </div>
      <div class="paln_list_menu">
        <div class="paln_checkbox">
          <i class="far fa-check-circle"></i>
          <!-- <i class="far fa-circle"></i> -->

        </div>
        <div class="paln_title">
          <p class="editable">Start your shopping</p>
          <div class="dates">
            <p>October 29 </p>
            <div class="icon"><img src="assets/icons/Frame.png" alt="" width="25px"></div>
            <span>$ - $$</span>
          </div>
        </div>
        <div class="paln_deletebox">
          <i class="fas fa-times-circle"></i>
        </div>
      </div>
      <div class="paln_list_menu">
        <div class="paln_checkbox">
          <i class="far fa-check-circle"></i>
          <!-- <i class="far fa-circle"></i> -->

        </div>
        <div class="paln_title">
          <p class="editable">Start your shopping</p>
          <div class="dates">
            <p>October 29 </p>
            <div class="icon"><img src="assets/icons/Frame.png" alt="" width="25px"></div>
            <span>$ - $$</span>
          </div>
        </div>
        <div class="paln_deletebox">
          <i class="fas fa-times-circle"></i>
        </div>
      </div>
      <div class="paln_list_menu">
        <div class="paln_checkbox">
          <i class="far fa-check-circle"></i>
          <!-- <i class="far fa-circle"></i> -->

        </div>
        <div class="paln_title">
          <p class="editable">Start your shopping</p>
          <div class="dates">
            <p>October 29 </p>
            <div class="icon"><img src="assets/icons/Frame.png" alt="" width="25px"></div>
            <span>$ - $$</span>
          </div>
        </div>
        <div class="paln_deletebox">
          <i class="fas fa-times-circle"></i>
        </div>
      </div>
      <div class="paln_list_menu">
        <div class="paln_checkbox">
          <i class="far fa-check-circle"></i>
          <!-- <i class="far fa-circle"></i> -->

        </div>
        <div class="paln_title">
          <p class="editable">Start your shopping</p>
          <div class="dates">
            <p>October 29 </p>
            <div class="icon"><img src="assets/icons/Frame.png" alt="" width="25px"></div>
            <span>$ - $$</span>
          </div>
        </div>
        <div class="paln_deletebox">
          <i class="fas fa-times-circle"></i>
        </div>
      </div>
      <div class="paln_list_menu">
        <div class="paln_checkbox">
          <i class="far fa-check-circle"></i>
          <!-- <i class="far fa-circle"></i> -->

        </div>
        <div class="paln_title">
          <p class="editable">Start your shopping</p>
          <div class="dates">
            <p>October 29 </p>
            <div class="icon"><img src="assets/icons/Frame.png" alt="" width="25px"></div>
            <span>$ - $$</span>
          </div>
        </div>
        <div class="paln_deletebox">
          <i class="fas fa-times-circle"></i>
        </div>
      </div>
      <h4>
        December 2021
      </h4>
      <div class="paln_list_menu">
        <div class="paln_checkbox">
          <i class="far fa-check-circle"></i>
          <!-- <i class="far fa-circle"></i> -->

        </div>
        <div class="paln_title">
          <p class="editable">Start your shopping</p>
          <div class="dates">
            <p>October 29 </p>
            <div class="icon"><img src="assets/icons/Frame.png" alt="" width="25px"></div>
            <span>$ - $$</span>
          </div>
        </div>
        <div class="paln_deletebox">
          <i class="fas fa-times-circle"></i>
        </div>
      </div>
      <div class="paln_list_menu">
        <div class="paln_checkbox">
          <i class="far fa-check-circle"></i>
          <!-- <i class="far fa-circle"></i> -->

        </div>
        <div class="paln_title">
          <p class="editable">Start your shopping</p>
          <div class="dates">
            <p>October 29 </p>
            <div class="icon"><img src="assets/icons/Frame.png" alt="" width="25px"></div>
            <span>$ - $$</span>
          </div>
        </div>
        <div class="paln_deletebox">
          <i class="fas fa-times-circle"></i>
        </div>
      </div>
      <div class="paln_list_menu">
        <div class="paln_checkbox">
          <i class="far fa-check-circle"></i>
          <!-- <i class="far fa-circle"></i> -->

        </div>
        <div class="paln_title">
          <p class="editable">Start your shopping</p>
          <div class="dates">
            <p>October 29 </p>
            <div class="icon"><img src="assets/icons/Frame.png" alt="" width="25px"></div>
            <span>$ - $$</span>
          </div>
        </div>
        <div class="paln_deletebox">
          <i class="fas fa-times-circle"></i>
        </div>
      </div>
      <div class="paln_list_menu">
        <div class="paln_checkbox">
          <i class="far fa-check-circle"></i>
          <!-- <i class="far fa-circle"></i> -->

        </div>
        <div class="paln_title">
          <p class="editable">Start your shopping</p>
          <div class="dates">
            <p>October 29 </p>
            <div class="icon"><img src="assets/icons/Frame.png" alt="" width="25px"></div>
            <span>$ - $$</span>
          </div>
        </div>
        <div class="paln_deletebox">
          <i class="fas fa-times-circle"></i>
        </div>
      </div>
      <div class="paln_list_menu">
        <div class="paln_checkbox">
          <i class="far fa-check-circle"></i>
          <!-- <i class="far fa-circle"></i> -->

        </div>
        <div class="paln_title">
          <p class="editable">Start your shopping</p>
          <div class="dates">
            <p>October 29 </p>
            <div class="icon"><img src="assets/icons/Frame.png" alt="" width="25px"></div>
            <span>$ - $$</span>
          </div>
        </div>
        <div class="paln_deletebox">
          <i class="fas fa-times-circle"></i>
        </div>
      </div>
      <div class="paln_list_menu">
        <div class="paln_checkbox">
          <i class="far fa-check-circle"></i>
          <!-- <i class="far fa-circle"></i> -->

        </div>
        <div class="paln_title">
          <p class="editable">Start your shopping</p>
          <div class="dates">
            <p>October 29 </p>
            <div class="icon"><img src="assets/icons/Frame.png" alt="" width="25px"></div>
            <span>$ - $$</span>
          </div>
        </div>
        <div class="paln_deletebox">
          <i class="fas fa-times-circle"></i>
        </div>
      </div>
      <div class="paln_list_menu">
        <div class="paln_checkbox">
          <i class="far fa-check-circle"></i>
          <!-- <i class="far fa-circle"></i> -->

        </div>
        <div class="paln_title">
          <p class="editable">Start your shopping</p>
          <div class="dates">
            <p>October 29 </p>
            <div class="icon"><img src="assets/icons/Frame.png" alt="" width="25px"></div>
            <span>$ - $$</span>
          </div>
        </div>
        <div class="paln_deletebox">
          <i class="fas fa-times-circle"></i>
        </div>
      </div>
      <div class="paln_list_menu">
        <div class="paln_checkbox">
          <i class="far fa-check-circle"></i>
          <!-- <i class="far fa-circle"></i> -->

        </div>
        <div class="paln_title">
          <p class="editable">Start your shopping</p>
          <div class="dates">
            <p>October 29 </p>
            <div class="icon"><img src="assets/icons/Frame.png" alt="" width="25px"></div>
            <span>$ - $$</span>
          </div>
        </div>
        <div class="paln_deletebox">
          <i class="fas fa-times-circle"></i>
        </div>
      </div>
      <div class="paln_list_menu">
        <div class="paln_checkbox">
          <i class="far fa-check-circle"></i>
          <!-- <i class="far fa-circle"></i> -->

        </div>
        <div class="paln_title">
          <p class="editable">Start your shopping</p>
          <div class="dates">
            <p>October 29 </p>
            <div class="icon"><img src="assets/icons/Frame.png" alt="" width="25px"></div>
            <span>$ - $$</span>
          </div>
        </div>
        <div class="paln_deletebox">
          <i class="fas fa-times-circle"></i>
        </div>
      </div>
      <div class="paln_list_menu">
        <div class="paln_checkbox">
          <i class="far fa-check-circle"></i>
          <!-- <i class="far fa-circle"></i> -->

        </div>
        <div class="paln_title">
          <p class="editable">Start your shopping</p>
          <div class="dates">
            <p>October 29 </p>
            <div class="icon"><img src="assets/icons/Frame.png" alt="" width="25px"></div>
            <span>$ - $$</span>
          </div>
        </div>
        <div class="paln_deletebox">
          <i class="fas fa-times-circle"></i>
        </div>
      </div>
      <h4>
        January 2021
      </h4>
      <div class="paln_list_menu">
        <div class="paln_checkbox">
          <i class="far fa-check-circle"></i>
          <!-- <i class="far fa-circle"></i> -->

        </div>
        <div class="paln_title">
          <p class="editable">Start your shopping</p>
          <div class="dates">
            <p>October 29 </p>
            <div class="icon"><img src="assets/icons/Frame.png" alt="" width="25px"></div>
            <span>$ - $$</span>
          </div>
        </div>
        <div class="paln_deletebox">
          <i class="fas fa-times-circle"></i>
        </div>
      </div>
      <div class="paln_list_menu">
        <div class="paln_checkbox">
          <i class="far fa-check-circle"></i>
          <!-- <i class="far fa-circle"></i> -->

        </div>
        <div class="paln_title">
          <p class="editable">Start your shopping</p>
          <div class="dates">
            <p>October 29 </p>
            <div class="icon"><img src="assets/icons/Frame.png" alt="" width="25px"></div>
            <span>$ - $$</span>
          </div>
        </div>
        <div class="paln_deletebox">
          <i class="fas fa-times-circle"></i>
        </div>
      </div>
      <div class="paln_list_menu">
        <div class="paln_checkbox">
          <i class="far fa-check-circle"></i>
          <!-- <i class="far fa-circle"></i> -->

        </div>
        <div class="paln_title">
          <p class="editable">Start your shopping</p>
          <div class="dates">
            <p>October 29 </p>
            <div class="icon"><img src="assets/icons/Frame.png" alt="" width="25px"></div>
            <span>$ - $$</span>
          </div>
        </div>
        <div class="paln_deletebox">
          <i class="fas fa-times-circle"></i>
        </div>
      </div>
      <div class="paln_list_menu">
        <div class="paln_checkbox">
          <i class="far fa-check-circle"></i>
          <!-- <i class="far fa-circle"></i> -->

        </div>
        <div class="paln_title">
          <p class="editable">Start your shopping</p>
          <div class="dates">
            <p>October 29 </p>
            <div class="icon"><img src="assets/icons/Frame.png" alt="" width="25px"></div>
            <span>$ - $$</span>
          </div>
        </div>
        <div class="paln_deletebox">
          <i class="fas fa-times-circle"></i>
        </div>
      </div>
      <h4>
        Others (After Wedding)
      </h4>
      <div class="paln_list_menu">
        <div class="paln_checkbox">
          <i class="far fa-check-circle"></i>
          <!-- <i class="far fa-circle"></i> -->

        </div>
        <div class="paln_title">
          <p class="editable">Start your shopping</p>
          <div class="dates">
            <p>October 29 </p>
            <div class="icon"><img src="assets/icons/Frame.png" alt="" width="25px"></div>
            <span>$ - $$</span>
          </div>
        </div>
        <div class="paln_deletebox">
          <i class="fas fa-times-circle"></i>
        </div>
      </div>
      <div class="paln_list_menu">
        <div class="paln_checkbox">
          <i class="far fa-check-circle"></i>
          <!-- <i class="far fa-circle"></i> -->

        </div>
        <div class="paln_title">
          <p class="editable">Start your shopping</p>
          <div class="dates">
            <p>October 29 </p>
            <div class="icon"><img src="assets/icons/Frame.png" alt="" width="25px"></div>
            <span>$ - $$</span>
          </div>
        </div>
        <div class="paln_deletebox">
          <i class="fas fa-times-circle"></i>
        </div>
      </div>
      <div class="paln_list_menu">
        <div class="paln_checkbox">
          <i class="far fa-check-circle"></i>
          <!-- <i class="far fa-circle"></i> -->

        </div>
        <div class="paln_title">
          <p class="editable">Start your shopping</p>
          <div class="dates">
            <p>October 29 </p>
            <div class="icon"><img src="assets/icons/Frame.png" alt="" width="25px"></div>
            <span>$ - $$</span>
          </div>
        </div>
        <div class="paln_deletebox">
          <i class="fas fa-times-circle"></i>
        </div>
      </div>

    </div>
  </div>
</div>

<app-footer></app-footer>
