<app-navbar></app-navbar>

<section class="border-y">
  <p class="py-5 text-sm items-center leading-none text-gray-400 px-10 capitalize">
    <a class="hover:text-indigo-600 cursor-pointer inline" routerLink="../home"><svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 inline" viewBox="0 0 24 24"><path fill="currentColor" d="M6 21q-.825 0-1.412-.587Q4 19.825 4 19v-9q0-.475.213-.9q.212-.425.587-.7l6-4.5q.275-.2.575-.3q.3-.1.625-.1t.625.1q.3.1.575.3l6 4.5q.375.275.588.7q.212.425.212.9v9q0 .825-.587 1.413Q18.825 21 18 21h-4v-7h-4v7Z"/></svg></a> -
    <a class="cursor-pointer hover:text-indigo-600 inline">{{'26.1' | translate}}</a>
  </p>
</section>

<section class="p-5">
  <div class="grid md:grid-cols-7 md:gap-3 grid-cols-1 gap-2">
    <div class="md:col-span-1 border-r border-gray-300 justify-center px-3">
      <div class="border-b border-gray-300 py-3">
        <button (click)="viewElement = 'inbox'; currentMessageOpen = null" type="button" class="w-full {{viewElement === 'inbox' ? 'text-white bg-indigo-500 hover:bg-indigo-800' : 'text-indigo-500 border border-indigo-500 bg-transparent hover:bg-indigo-100'}} focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">{{'26.2' | translate}} {{mesMessagesLu.length}}</button>
        <br>
        <button (click)="viewElement = 'unread'; currentMessageOpen = null" type="button" class="w-full {{viewElement === 'unread' ? 'text-white bg-indigo-500 hover:bg-indigo-800' : 'text-indigo-500 border border-indigo-500 bg-transparent hover:bg-indigo-100'}} focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">{{'26.3' | translate}} {{mesMessagesNonLu.length}}</button>
        <br>
        <button (click)="viewElement = 'send'; currentMessageOpen = null" type="button" class="w-full {{viewElement === 'send' ? 'text-white bg-indigo-500 hover:bg-indigo-800' : 'text-indigo-500 border border-indigo-500 bg-transparent hover:bg-indigo-100'}} focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">{{'26.4' | translate}} {{mesMessagesSend.length}}</button>
      </div>
      <div class="space-y-3 text-sm py-5 text-right">
        <a class="block cursor-pointer hover:text-indigo-700">&nbsp;{{'26.5' | translate}}&nbsp;</a>
        <a class="block cursor-pointer hover:text-indigo-700">&nbsp;{{'26.6' | translate}}&nbsp;</a>
      </div>
    </div>
    <div class="md:col-span-6">
      <ng-container>
        <div *ngIf="currentMessageOpen">
          <div class="flex items-center justify-start cursor-pointer" (click)="currentMessageOpen = null">
            <button type="button" class="mr-3  font-medium text-black">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                <path fill-rule="evenodd" d="M7.72 12.53a.75.75 0 010-1.06l7.5-7.5a.75.75 0 111.06 1.06L9.31 12l6.97 6.97a.75.75 0 11-1.06 1.06l-7.5-7.5z" clip-rule="evenodd" />
              </svg>
            </button>
            <h2 class="text-2xl">
              {{'26.10' | translate}}
            </h2>
          </div>
          <div class="p-5">
            <h2 class="text-base sm:text-lg md:text-xl lg:text-2xl font-bold leading-normal text-gray-800 capitalize">
              {{currentMessageOpen.objet ? (currentMessageOpen.objet.split('#').length > 1 && currentMessageOpen.objet.includes('@') ? currentMessageOpen.objet.split('#')[0] : currentMessageOpen.objet) : '...'}}
            </h2>
            <p class="mt-2">
              {{'26.11' | translate}} {{currentMessageOpen.date | date:"HH:mm dd MMM, yyyy"}}
            </p>
            <div class="bg-gray-100 grid md:grid-cols-12 gap-2 rounded-3xl m-8 p-8">
              <app-miniature-avatar-user class="md:col-span-1" [idUser]="currentMessageOpen.auteur"></app-miniature-avatar-user>
              <div class="md:col-span-11">
                <app-miniature-name-user [idUser]="currentMessageOpen.auteur"></app-miniature-name-user>
                <p class="my-4" [innerHTML]="currentMessageOpen.message"></p>
                <button (click)="openWrite(currentMessageOpen.auteur, currentMessageOpen.id)" type="button" class="float-right font-bold text-xl text-black bg-orange-700 hover:bg-blue-800  hover:text-white focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-base px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Reply</button>
                <button (click)="invalidBook(currentMessageOpen.auteur)" *ngIf="comptNombreOccurance(currentMessageOpen.objet, '#') === 2 && comptNombreOccurance(currentMessageOpen.objet, '@') === 1" type="button" class="float-left font-bold text-base text-white bg-red-700 hover:bg-red-900 hover:text-white focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Reject the reservation for this event</button>
                <button (click)="validBook(currentMessageOpen.objet.split('#')[1].split('@')[0], currentMessageOpen.objet.split('#')[1].split('@')[1])" *ngIf="comptNombreOccurance(currentMessageOpen.objet, '#') === 2 && comptNombreOccurance(currentMessageOpen.objet, '@') === 1" type="button" class="float-left font-bold text-base text-black bg-orange-700 hover:bg-blue-800 hover:text-white focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Confirm booking for this event</button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!currentMessageOpen">
        <h1 class="text-2xl font-semibold uppercase">{{viewElement}}</h1>
        <p class="py-8 pl-8 pr-6 text-2xl font-light text-gray-400" *ngIf="viewElement === 'inbox' ? mesMessagesLu.length === 0 : (viewElement === 'unread' ? mesMessagesNonLu.length === 0 : (viewElement === 'send' ? mesMessagesSend.length === 0 : false))">
          {{'26.9' | translate}}
        </p>
        <div class="mx-auto container bg-white" *ngIf="viewElement === 'inbox' ? mesMessagesLu.length > 0 : (viewElement === 'unread' ? mesMessagesNonLu.length > 0 : (viewElement === 'send' ? mesMessagesSend.length : 0))">
          <div class="flex flex-col lg:flex-row p-4 lg:p-8 justify-between items-start lg:items-stretch w-full">
            <div class="w-full lg:w-1/3 flex flex-col lg:flex-row items-start lg:items-center">
              <div class="flex items-center">
                <input (change)="checkAll($event)" type="checkbox" [checked]="elementSelect.length === (viewElement === 'inbox' ? mesMessagesLu.length : (viewElement === 'unread' ? mesMessagesNonLu.length : (viewElement === 'send' ? mesMessagesSend.length : 0)))"
                       class="cursor-pointer relative w-5 h-5 border rounded border-gray-400 bg-white dark:bg-gray-800 outline-none" />
                <span class="pl-6">{{'26.7' | translate}}</span>
              </div>
            </div>
            <div class="w-full lg:w-2/3 flex flex-col lg:flex-row items-start lg:items-center justify-end">
              <div class="lg:ml-6 flex items-center">
                <button (click)="markMessageCommeLu()" *ngIf="viewElement === 'inbox'" [disabled]="elementSelect.length === 0"
                        class="disabled:opacity-50 bg-transparent transition duration-150 ease-in-out focus:outline-none border border-transparent focus:border-gray-800 focus:shadow-outline-gray hover:bg-gray-300 rounded-full text-gray-800 px-7 border border-gray-800 h-10 flex items-center text-sm">
                  {{'26.8' | translate}}
                </button>
                <div
                  class="{{elementSelect.length === 0 ? 'opacity-50' : ''}} text-gray-800 ml-4 cursor-pointer focus:outline-none border border-transparent focus:border-gray-800 focus:shadow-outline-gray transition duration-150 ease-in-out hover:bg-indigo-600 items-center justify-center">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8">
                    <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z" clip-rule="evenodd" />
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="overflow-x-scroll xl:overflow-x-hidden">
            <table class="w-full bg-white dark:bg-gray-800">
              <tbody class="border-l-8 border-indigo-700 border-t-2">
              <ng-container *ngFor="let message of (viewElement === 'inbox' ? mesMessagesLu : (viewElement === 'unread' ? mesMessagesNonLu : (viewElement === 'send' ? mesMessagesSend : [])))">
                <tr (click)="currentMessageOpen = message; markCurrentMessageRead()"
                    class="{{elementSelect.includes(message.id)  ? 'bg-orange-300 h-24' : 'bg-gray-50 h-24'}} cursor-pointer"
                >
                  <td
                    class="pl-8 pr-6 text-left whitespace-no-wrap text-sm text-gray-800 dark:text-gray-100 tracking-normal leading-4">
                    <input type="checkbox" [checked]="elementSelect.includes(message.id)"
                           class="cursor-pointer relative w-5 h-5 border rounded border-gray-400 bg-white dark:bg-gray-800 outline-none"
                           (change)="elementSelect.includes(message.id) ? elementSelect.push(message.id) : elementSelect.splice(elementSelect.indexOf(message.id), 1)"
                    />

                  </td>
                  <td class="pr-4 whitespace-no-wrap">
                    <div class="flex items-center">
                      <app-miniature-avatar-user [idUser]="message.auteur"></app-miniature-avatar-user>
                      <div class="ml-2 truncate text-gray-800 dark:text-gray-100 tracking-normal leading-4 text-sm">
                        <app-miniature-name-user [idUser]="message.auteur"></app-miniature-name-user>
                        <p class="truncate mt-2" [innerHTML]="message.message"></p>
                      </div>
                    </div>
                  </td>
                  <td
                    class="text-sm font-semibold whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4">
                    {{message.date | date:"MMM dd, yy ⋅ HH:mm"}}
                    {{getNombreJoursRestant(message.date)}}
                  </td>
                </tr>
              </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>

<br><br><br><br><br>

<app-footer></app-footer>
