<!-- Header -->
<app-header></app-header>

<!-- black_div  -->
<section>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000" style="background: linear-gradient(0deg,rgba(0, 0, 0, 0.60),rgba(0, 0, 0, 0.60)) fixed, url('/assets/images/sliderr.jpg') fixed; height: 700px; width: 100%; background-attachment: fixed; background-repeat: no-repeat; background-size: cover;">
        <div class="carousel-caption d-none d-md-block">
          <h3>Let's start your</h3>
          <h2>Wedding <span>With us</span></h2>
          <p class="mb-3">We are all ready to plan your wedding and all events. Are you?</p>
          <a class="default-btn" href="login.html">Login</a>&nbsp;&nbsp;&nbsp;<a class="default-btn" href="signup.html">Signup</a>&nbsp;
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="10000" style="background: linear-gradient(0deg,rgba(0, 0, 0, 0.60),rgba(0, 0, 0, 0.60)) fixed, url('/assets/images/slider.png') fixed; height: 700px; width: 100%; background-attachment: fixed; background-repeat: no-repeat; background-size: cover;">
        <div class="carousel-caption d-none d-md-block">
          <h3>Let's start your</h3>
          <h2>Wedding <span>With us</span></h2>
          <p class="mb-3">We are all ready to plan your wedding and all events. Are you?</p>
          <a class="default-btn" href="login.html">Login</a>&nbsp;&nbsp;&nbsp;<a class="default-btn" href="signup.html">Signup</a>&nbsp;
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="10000" style="background: linear-gradient(0deg,rgba(0, 0, 0, 0.60),rgba(0, 0, 0, 0.60)) fixed, url('/assets/images/sliderrr.jpg') fixed; height: 700px; width: 100%; background-attachment: fixed; background-repeat: no-repeat; background-size: cover;">
        <div class="carousel-caption d-none d-md-block">
          <h3>Let's start your</h3>
          <h2>Wedding <span>With us</span></h2>
          <p class="mb-3">We are all ready to plan your wedding and all events. Are you?</p>
          <a class="default-btn" href="login.html">Login</a>&nbsp;&nbsp;&nbsp;<a class="default-btn" href="signup.html">Signup</a>&nbsp;
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>


<div class="container">
  <div class="row">
    <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12" style="text-align: center;">
      <i class="fa fa-search searchIcon"></i>
      <h1>Find your weeding Dream, Team</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12" style="text-align: center; margin-top: 20px;">
      <form action="">
        <div class="searchSectionMainDiv1">
          <i class="fa fa-book eventIcon"></i>
          <select name="" id="" class="eventNameSelector">
            <option value="">Event Name or Place</option>
            <option value="">Value 1</option>
            <option value="">Value 2</option>
            <option value="">Value 3</option>
          </select>
        </div>
        <div class="searchSectionMainDiv2">
          <i class="fa fa-map-marker mapMarkerIcon"></i>
          <select name="" id="" class="locationSelector">
            <option value="">Location</option>
            <option value="">Value 1</option>
            <option value="">Value 2</option>
            <option value="">Value 3</option>
          </select>
        </div>
        <input type="date" name="" value="" placeholder="Date" class="dateInput">
        <button class="btn btnSearch">Search <i class="fa fa-search searchIcon2"></i></button>
      </form>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-12 col-xl-12 col-lg-12 colmd-12 col-sm-12" style="padding-top: 80px;">
      <h1>Our Fetured Vendors</h1>
    </div>
  </div>
  <div class="row" style="padding: 0; margin: 0;">
    <div class="col-xl-1 col-lg-1"></div>
    <div class="col-12 col-xl-5 col-lg-5 col-md-6 col-sm-12" style="padding: 10px; margin: 0;">
      <img src="assets/images/wedding_image.jpeg" alt="img" class="img-fluid" style="padding: 0; margin: 0; width: 100%;">
    </div>
    <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12" style="padding: 10px; margin: 0;">
      <img src="assets/images/venue_image.jpeg" alt="img" class="img-fluid" style="padding: 0; margin: 0; width: 100%; height: 50%">
      <img src="assets/images/arrangements_image.jpeg" alt="img" class="img-fluid" style="padding: 10px 10px 0px 0px; margin: 0; width: 50%; height: 50%; float: left;">
      <img src="assets/images/dinner_image.jpeg" alt="img" class="img-fluid" style="padding: 10px 0px 0px 10px; margin: 0; width: 50%; height: 50%;">
    </div>
  </div>
  <div class="row" style="margin-top: 60px;">
    <div class="col-12 col-xl-6 col-lg-4 col-md-5 col-sm-12">
      <div class="getInTouchBox">
        <h2>Get in touch with us!</h2>
        <p>Ask Question, Schedule meeting or request a porposal. Lets Get Started</p>
        <button class="contactUsBtn">Contact Us Now</button>
      </div>
    </div>
    <div class="col-12 col-xl-6 col-lg-4 col-md-5 col-sm-12">
      <div class="getInTouchBox">
        <h2>Do you want to work with us?</h2>
        <p>If you're talanted enough than you can join us and have a bright future!</p>
        <button class="contactUsBtn">Join our team</button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12" style="padding: 0;">
      <div class="bgImgae1">
        <span class="overlay"></span>
        <p class="para">With full Range of events Planning servics, our clients have successful and prosperous events.</p>
        <div class="row">
          <div class="col-6 col-xl-3 col-lg-3 col-md-4 col-sm-6">
            <h1>320</h1>
            <p>Featured Events</p>
          </div>
          <div class="col-6 col-xl-3 col-lg-3 col-md-4 col-sm-6">
            <h1>156</h1>
            <p>Loyal Customers</p>
          </div>
          <div class="col-6 col-xl-3 col-lg-3 col-md-4 col-sm-6">
            <h1>594</h1>
            <p>Happy Clients</p>
          </div>
          <div class="col-6 col-xl-3 col-lg-3 col-md-4 col-sm-6">
            <h1>167</h1>
            <p>Trophy Won</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row text-center">
    <div class="col-12 col-xl-12 col-lg-12 colmd-12 col-sm-12" style="padding-top: 80px;">
      <h1>Our Fetured Vendors</h1>
    </div>
  </div>
  <div class="row" style="padding: 0; margin: 0;">
    <div class="col-xl-1 col-lg-1"></div>
    <div class="col-12 col-xl-5 col-lg-5 col-md-6 col-sm-12" style="padding: 10px; margin: 0;">
      <img src="assets/images/dinning_table.jpeg" alt="img" class="img-fluid" style="padding: 0; margin: 0; width: 100%;">
    </div>
    <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12" style="padding: 10px; margin: 0;">
      <img src="assets/images/sea.jpeg" alt="img" class="img-fluid" style="padding: 0; margin: 0; width: 100%; height: 50%">
      <img src="assets/images/house.jpeg" alt="img" class="img-fluid" style="padding: 10px 10px 0px 0px; margin: 0; width: 50%; height: 50%; float: left;">
      <img src="assets/images/beach.jpeg" alt="img" class="img-fluid" style="padding: 10px 0px 0px 10px; margin: 0; width: 50%; height: 50%;">
    </div>
  </div>
</div>
<div class="container">
  <div class="row text-center">
    <div class="col-12 col-xl-12 col-lg-12 colmd-12 col-sm-12" style="padding-top: 80px;">
      <h1>Our Blogs</h1>
    </div>
  </div>
  <div class="row" style="padding: 0; margin: 0;">
    <div class="col-xl-1 col-lg-1"></div>
    <div class="col-12 col-xl-7 col-lg-7 col-md-7 col-sm-12" style="padding: 10px; margin: 0;">
      <div class="cardDiv1" *ngIf="listeBlogs.length > 0">
        <img src="{{listeBlogs[0].images[0] ? listeBlogs[0].images[0] : ''}}" alt="img" class="img-fluid" style="float: left; width: 200px; height: 200px;">
        <p class="para1">{{listeBlogs[0].date | date:"dd MMM"}}</p>
        <p class="para2">{{listeBlogs[0].titre}}</p>
        <p class="para3" style="text-transform: capitalize;">{{listeBlogs[0].auteur}}</p>
        <p class="para4">{{ listeBlogs[0].contenu }} <br *ngIf="listeBlogs[0].contenu.length <= 64"> &nbsp; </p>
        <button routerLink="../blog-detail/{{listeBlogs[0].id}}" class="readMoreBtn">Read More</button>
      </div>
      <div class="cardDiv2" *ngIf="listeBlogs.length > 1">
        <img src="{{listeBlogs[1].images[0] ? listeBlogs[1].images[0] : ''}}" alt="img" class="img-fluid" style="float: left; width: 200px; height: 200px;">
        <p class="para1">{{listeBlogs[1].date | date:"dd MMM"}}</p>
        <p class="para2">{{listeBlogs[1].titre}}</p>
        <p class="para3" style="text-transform: capitalize;">{{listeBlogs[1].auteur}}</p>
        <p class="para4">{{listeBlogs[1].contenu}} <br *ngIf="listeBlogs[1].contenu.length <= 64"> &nbsp; </p>
        <button routerLink="../blog-detail/{{listeBlogs[1].id}}" class="readMoreBtn">Read More</button>
      </div>
    </div>
    <div class="col-12 col-xl-3 col-lg-4 col-md-5 col-sm-12" style="padding: 10px; margin: 0;">
      <div class="cardDiv3" *ngIf="listeBlogs.length > 2">
        <img src="{{listeBlogs[2].images[0] ? listeBlogs[2].images[0] : ''}}" alt="img" class="img-fluid" style="width: 100%; height: 200px;">
        <p class="para1">{{listeBlogs[2].date | date:"dd MMM"}}</p>
        <p class="para2">{{listeBlogs[2].titre}}</p>
        <p class="para3" style="text-transform: capitalize;">{{listeBlogs[2].auteur}}</p>
        <p class="para4">{{listeBlogs[2].contenu}} <br *ngIf="listeBlogs[2].contenu.length <= 64"> &nbsp; </p>
        <button routerLink="../blog-detail/{{listeBlogs[2].id}}" class="readMoreBtn">Read More</button>
      </div>
    </div>
  </div>
</div>

<div class="demo">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div id="testimonial-slider" class="owl-carousel">
          <div class="testimonial">
            <div class="col-xl-2 col-lg-2 col-md-1"></div>
            <div class="col-12 col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <div class="pic"><img src="assets/images/commenter.png" alt=""></div>
              <h3 class="title">Peter Clark</h3>
            </div>
            <div class="col-1 col-xl-1 col-sm-1">
              <span class="icon fa fa-quote-left"></span>
            </div>
            <div class="col-11 col-xl-5 col-lg-6 col-md-7 col-sm-11">
              <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, aliquet sit amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis sed sagittis at, sagittis quis neque. Praesent.Vivamus arcu metus, mattis sed sagittis at, sagittis quis neque. Praesent.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- =============================== testimonial ended ================================= -->

<div class="container-fluid" style="margin-top: 50px;">
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6" style="padding: 0;">
      <img src="assets/images/flower_img.jpeg" alt="flower" class="img-fluid">
    </div>
    <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 contactFormDiv">
      <h1>Evauxie Contact Form</h1>
      <p>Send us a message for your persnalized event bookings!</p>
      <form #form="ngForm" (ngSubmit)="saveNewContact(form)">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <label for="" class="fullNameLabel">Full Name:</label> <br>
            <input [disabled]="isLoadingFormContact" name="fullName" ngModel class="fullNameInput" type="text">
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <label for="" class="emailLabel">Email</label> <br>
            <input [disabled]="isLoadingFormContact" name="email" class="emailInput" type="email" ngModel>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <label for="" class="phoneNumberLabel">Phone Number:</label> <br>
            <input [disabled]="isLoadingFormContact" name="phone" class="phoneNumberInput" type="number" ngModel>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <label for="" class="eventTypeLabel">Event Type</label> <br>
            <input [disabled]="isLoadingFormContact" name="typeEvent" class="eventTypeInput" type="text" ngModel>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label for="" class="msgLabel">Message</label> <br>
            <textarea [disabled]="isLoadingFormContact" class="msgInput" name="message" ngModel rows="1" cols="70"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button class="sendMsgBtn" type="submit" [disabled]="form.invalid || isLoadingFormContact">Send Message</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Footer -->
<app-footer></app-footer>

