.carousel {

  .carousel-caption{
    text-align: center;
  }

  .carousel-caption{
    text-align: center;
  }
  .carousel-caption h3 {
    color: #fff;
    font-family: inherit;
    font-size: 52px;
    font-weight: 800;
    line-height: 58px;
    padding-top: 80px;
    text-transform: capitalize;
  }

  .carousel-caption h2 {
    color: #FDA172;
    font-family: inherit;
    font-size: 58px;
    font-weight: 800;
    line-height: 64px;
    text-transform: capitalize;
  }
  .carousel-caption h2 span{
    color: #fff;
  }
  .carousel-caption h2 {
    line-height: 80px;
  }

  .carousel-caption p {
    margin-bottom: 40px;
  }

  .carousel-caption p {
    color: white;
    font-family: inherit;
    margin-top: 12px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 35px;
  }
}
