<a href="../company/{{currentCompany.id}}" *ngIf="currentCompany &&  skin === 'images-simple'" class="relative items-start h-40 flex w-full rounded-lg shadow-md bg-cover bg-center" >
  <div class="absolute h-full w-full bg-cover bg-center rounded-lg" style="backgroundImage: url({{currentCompany.phototheque.length > 0 ? currentCompany.phototheque[0] : 'assets/images/ill_14.png'}})"></div>
  <div class="absolute top-0 right-0 bottom-0 left-0 bg-gradient-to-b from-gray-700 rounded-lg"></div>
  <div class="p-2 text-left" style="z-index: 1">
    <div class="flex-1 min-w-0">
      <p class="text-xl font-bold truncate text-white">
        {{currentCompany.nom}}
      </p>
    </div>
  </div>
</a>

<div *ngIf="currentCompany &&  skin === 'images'" class="max-w-xs mx-auto overflow-hidden bg-white rounded-lg border border-gray-200 dark:bg-gray-800">
  <a class="px-4 py-2 block" href="../company/{{currentCompany.id}}" >
    <h1 class="tracking-normal text-xl lg:text-2xl font-bold text-gray-800 capitalize dark:text-white cursor-pointer hover:text-indigo-600">{{currentCompany.nom}}</h1>
    <p class="mt-1 text-sm text-gray-600 dark:text-gray-400 h-16 overflow-hidden overflow-ellipsis">{{getPureTexte(currentCompany.description)}}</p>
    <div class="flex lg:items-center items-start flex-col lg:flex-row">
      <div class="flex items-center">
        <p class="text-indigo-600 dark:text-gray-400 text-xs font-normal {{!categorie ? 'animate-pulse' : ''}}">{{categorie ? categorie.titre : '...'}}, {{currentCompany.pays}}</p>
      </div>
    </div>
    <div class="mt-2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline text-yellow-400" viewBox="0 0 20 20" fill="currentColor" *ngFor="let et of [].constructor(calculMoyenneAvis())">
        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
      </svg>

      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline text-gray-400" viewBox="0 0 20 20" fill="currentColor" *ngFor="let et of [].constructor(calculMoyenneAvis() <= 5 ? 5 - calculMoyenneAvis() : 0)">
        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
      </svg>
    </div>
  </a>

  <img routerLink="../company/{{currentCompany.id}}"  class="object-cover w-full h-48 mt-2" src="{{currentCompany.phototheque.length > 0 ? currentCompany.phototheque[0] : 'assets/images/ill_14.png'}}" alt="">

  <div class="flex items-center justify-between px-4 py-2 bg-gray-900">
    <div class="flex">
      <div (click)="updateLikeCompany()" class="text-gray-50 cursor-pointer mr-4 {{ isLike === null ? 'animate-pulse' : ''}}">
        {{isLike === null ? '...' : ''}}
        <svg *ngIf="isLike !== null && isLike === false" class="feather feather-bookmark" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
          <path  class="text-gray-50" stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
        </svg>
        <svg *ngIf="isLike !== null && isLike === true" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path class="text-red-700" fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
        </svg>
      </div>
      <div (click)="updateSolliciteCompany()" class="text-gray-50 cursor-pointer {{ isSollicite === null ? 'animate-pulse' : ''}}">
        {{isSollicite === null ? '...' : ''}}
        <svg *ngIf="isSollicite !== null && isSollicite === false" class="feather feather-share-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
          <path class="text-gray-50" stroke-linecap="round" stroke-linejoin="round" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
        </svg>
        <svg *ngIf="isSollicite !== null && isSollicite === true" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path class="text-indigo-600" d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z" />
        </svg>
      </div>
    </div>
    <button (click)="requestPrice()" class="px-2 py-1 text-xs font-semibold text-gray-900 uppercase transition-colors duration-200 transform bg-white rounded hover:bg-gray-200 focus:bg-gray-400 focus:outline-none">Request pricing</button>
  </div>
</div>

<div *ngIf="currentCompany && skin === 'list'" class="flex flex-col-reverse lg:flex-row w-full my-3 bg-white dark:bg-gray-800 border border-gray-200 rounded">
  <div class="w-full lg:w-1/2">
    <div class="pb-2 lg:pb-3 pl-4 lg:pl-6 pr-4 lg:pr-6" routerLink="../company/{{currentCompany.id}}" >
      <h2 class="text-gray-800 dark:text-gray-100 mt-4 mb-2 tracking-normal text-xl lg:text-2xl font-bold cursor-pointer hover:text-indigo-600">{{currentCompany.nom}}</h2>
      <p class="mb-6 font-normal text-gray-700 dark:text-gray-500 text-sm tracking-normal w-11/12 lg:w-9/12 h-16 overflow-hidden overflow-ellipsis">{{getPureTexte(currentCompany.description)}}</p>
      <div class="flex lg:items-center items-start flex-col lg:flex-row">
        <div class="flex items-center">
          <p class="text-gray-600 dark:text-gray-400 text-xs font-normal ml-1{{!categorie ? 'animate-pulse' : ''}}">{{categorie ? categorie.titre : '...'}}, {{currentCompany.pays}}</p>
        </div>
      </div>
    </div>
    <div class="px-5 lg:px-5 md:px-10 py-3 lg:py-4 flex flex-row items-center justify-between border-t border-gray-200">
      <div class="flex items-center">
        <div class="flex items-center">
          <button (click)="requestPrice()" type="button" class="text-white bg-indigo-600 hover:bg-indigo-700 focus:ring-4 focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Request pricing</button>
        </div>
        <div class="mx-5 md:mt-0 inline">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline text-yellow-400" viewBox="0 0 20 20" fill="currentColor" *ngFor="let et of [].constructor(calculMoyenneAvis())">
            <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
          </svg>

          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline text-gray-400" viewBox="0 0 20 20" fill="currentColor" *ngFor="let et of [].constructor(calculMoyenneAvis() <= 5 ? 5 - calculMoyenneAvis() : 0)">
            <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
          </svg>
        </div>
      </div>
      <div class="flex items-center">
        <div (click)="updateLikeCompany()" class="dark:text-gray-400 hover:text-gray-700 cursor-pointer mr-4 {{ isLike === null ? 'animate-pulse' : ''}}">
          {{isLike === null ? '...' : ''}}
          <svg *ngIf="isLike !== null && isLike === false" class="feather feather-bookmark" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
            <path  class="text-gray-600" stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
          </svg>
          <svg *ngIf="isLike !== null && isLike === true" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path class="text-red-700" fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
          </svg>
        </div>
        <div (click)="updateSolliciteCompany()" class="dark:text-indigo-600 cursor-pointer {{ isSollicite === null ? 'animate-pulse' : ''}}">
          {{isSollicite === null ? '...' : ''}}
          <svg *ngIf="isSollicite !== null && isSollicite === false" class="feather feather-share-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
            <path class="text-gray-600" stroke-linecap="round" stroke-linejoin="round" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
          </svg>
          <svg *ngIf="isSollicite !== null && isSollicite === true" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path class="text-indigo-600" d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z" />
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div routerLink="../company/{{currentCompany.id}}" class="relative w-full h-40 lg:h-auto lg:w-1/2 rounded-t lg:rounded-t-none lg:rounded-r inline-block">
    <img class="w-full h-full absolute inset-0 object-cover rounded-t lg:rounded-r lg:rounded-t-none" src="{{currentCompany.phototheque.length > 0 ? currentCompany.phototheque[0] : 'assets/images/ill_14.png'}}" alt="" />
  </div>
</div>


<div class="mx-auto rounded-lg" *ngIf="!currentCompany && skin === 'images'">
  <div class="animate-pulse flex">
    <div class="flex bg-slate-200 h-72 w-full rounded"></div>
  </div>
</div>

<div class="my-3" *ngIf="!currentCompany && skin === 'list'">
  <div class="animate-pulse flex">
    <div class="flex bg-slate-200 h-60 w-full rounded"></div>
  </div>
</div>
