<app-header></app-header>

<!-- black_div  -->

<div class="Weding_planning_hero_img">

</div>
<!-- lets start start -->
<div class="container">
  <div class="row ">
    <div class="col-lg-6">
      <img class="glass-img" src="assets/images/wedding-planning-glass.png" alt="">
    </div>
    <div class="col-lg-6 lets-start text-center">
      <h3 class="lets-start-heading1">Weeding PlanningTools</h3>
      <p>The #1 ranked, Helped over 50,000 couples <br> around the country.</p>
      <h3 class="lets-start-h2">Let's start:</h3>
      <form action="">
        <input class="lets-start-input" placeholder="First & last name" type="text" name="" id="">
        <input class="lets-start-input" placeholder="Email" type="email" name="" id=""> <br>
        <button class="start-pln-btn">Start Planning</button> <br>
        <a href="#" class="already-acc">Already have and account?<span>Login</span></a>
      </form>
    </div>
  </div>
</div>
<!-- lets start end -->

<!-- vendor cards -->
<div class="container">
  <div class="row d-flex justify-content-center" style="margin-top: 20px;">
    <div class="col-lg-3 col-md-6 col-sm-12 make-checklist">
      <img src="assets/images/checklist-icon.png" alt="">
      <h3 class="feature-heading">Checklist</h3>
      <p class="checklist-text">Get the ultimate wedding checklist to make sure everything gets done</p>
      <button class="checklist-btn">Make Checklist</button>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 make-checklist">
      <img src="assets/images/handshake-icon.png" alt="">
      <h3 class="feature-heading">Vendor Manager</h3>
      <p class="checklist-text">find, manage and messege your favourite vendors</p>
      <button class="checklist-btn" style="margin-top: 30px;">Make Checklist</button>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 make-checklist">
      <img src="assets/images/dollar.png" alt="">
      <h3 class="feature-heading">Budget</h3>
      <p class="checklist-text">Get the ultimate wedding checklist to make sure everything gets done</p>
      <button class="checklist-btn">Make Checklist</button>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 make-checklist">
      <img src="assets/images/guestlist-icon.png" alt="">
      <h3 class="feature-heading">Guests list</h3>
      <p class="checklist-text">Seamlessly manage your guest list for all of your wedding events</p>
      <button class="checklist-btn">Make Checklist</button>
    </div>
  </div>
</div>

<!-- vendors card end -->

<!-- checklist section start -->
<div class="container-fluid container-xl container-lg container-md">
  <div class="row">
    <div class="col-xl-2 col-lg-1"></div>
    <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 checkListContainer">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1>CheckList</h1>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-lg-12">
          <p>Get the ultimate wedding checklist to make sure everything gets done</p>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-lg-12">
          <p style="color: blue;">Discover more..</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-1 col-lg-1"></div>
        <div class="col-12 col-xl-5 col-lg-5 col-md-6 col-sm-12">
          <form action="">
            <input class="discover-more-input" type="checkbox" name="personalize-task" id="">
            <label for="personalize-task" class="discovermore-lable">Personalize your task</label><br>
            <p class="discover-more-txt">Add, edit or delete anytime <br> to easily customize your wedding wire <br> checklist</p>
            <input class="discover-more-input" type="checkbox" name="track-progress" id="">
            <label for="track-progress" class="discovermore-lable">Track your progress</label><br>
            <p class="discover-more-txt">Easily tracked what tasks you've crossed <br> off and what's left to do for your <br>wedding</p>
            <input class="discover-more-input" type="checkbox" name="sync-bdget" id="">
            <label class="discovermore-lable" for="sync-bdget">Sync your budget</label><br>
            <p class="discover-more-txt">Your weddingwire budget integrates <br> with your checklist to ensure your <br> never miss anything </p>
          </form>
        </div>
        <div class="col-12 col-xl-5 col-lg-5 col-md-6 col-sm-12">
          <form action="/action_page.php" style="margin-top: 30px;">
            <div class="radioButtonList">
              <input type="radio" id="customize" name="fav_language" value="customize">
              <label for="customize">customize your wedding</label><br>
              <input type="radio" id="fav-board" name="fav_language" value="fav-board">
              <label for="fav-board">Start a favourite board</label><br>
              <input type="radio" id="manage-budget" name="fav_language" value="manage-budget">
              <label for="manage-budget">Contact to manage budget</label><br>
              <input type="radio" id="research" name="fav_language" value="research">
              <label for="research">Research wedding venues</label><br>
              <input type="radio" id="book-vanue" name="fav_language" value="book-vanue">
              <label for="book-vanue">Find and book your venue</label>
            </div>
            <br>
            <input type="submit" value="Get Your Checklist" class="getYourCheckListBtn">
          </form>
        </div>
        <div class="col-xl-1 col-lg-1"></div>
      </div>
      <div class="col-xl-2 col-lg-1"></div>
    </div>
  </div>

  <!-- vendor manager -->
  <div class="row ">
    <div class="col-lg-12  text-center vendor-manager">
      <h1>Vendor Manager</h1>
    </div>
    <div class="col-lg-12 text-center">
      <p>Millions of engaged couples turn to dreama as ther trusted wedding resource wih the largest <br> directory of local wedding vendor </p>
    </div>
    <div class="row" style="margin-top: 50px; margin-bottom: 50px;">
      <div class="col-lg-7">
        <div class="row" style="margin-bottom: 30px;">
          <div class="col-lg-6 d-flex justify-content-center">
            <img src="assets/images/vendor-manager-pic1.jpg" alt="">
          </div>
          <div class="col-lg-6 text-center wedding-venue-card">
            <h1 class="Wedding-venue-heading">Wedding venue Vendors</h1>
            <p>Select the best venue in your area <br> and contact our wedding <br> vendors</p>

            <button class="Wedding-venue-button">Hired</button>
            <button class="Wedding-venue-button">Saved</button>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 d-flex justify-content-center">
            <img src="assets/images/vendor-manager-pic1.jpg" alt="">
          </div>
          <div class="col-lg-6 text-center wedding-venue-card">
            <h1 class="Wedding-venue-heading">Wedding venue Vendors</h1>
            <p>Select the best venue in your area <br> and contact our wedding <br> vendors</p>

            <button class="Wedding-venue-button">Hired</button>
            <button class="Wedding-venue-button">Saved</button>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <h1 class=" text-center wedding-vendors-heding">Wedding Vendors</h1>

        <form action="" style="margin-left: 50px;">
          <input class="wedding-vendor-radio" type="radio" name="wedding-vendors" id="personalize-task">
          <label for="personalize-task" class="wedding-vendor-lable">Contact Professionals</label><br>
          <p class="wedding-vendor-txt">Easily find and messege vendors <br> right from your wedding wire.</p>
          <input class="wedding-vendor-radio" type="radio" name="wedding-vendors" id="track-progress">
          <label for="track-progress" class="wedding-vendor-lable"><del>Don't Relay on memory</del></label><br>
          <p class="wedding-vendor-txt">Easily tracked what tasks you've crossed <br> off and what's left to do for your <br>wedding</p>
          <input class="wedding-vendor-radio" type="radio" name="wedding-vendors" id="sync-bdget">
          <label class="wedding-vendor-lable" for="sync-bdget">Save Your Favorites</label><br>
          <p class="wedding-vendor-txt">Compare vendors with pricing  <br> and reviews to help you decide</p>
        </form>
      </div>

    </div>
  </div>


  <!-- vendor manager -->





  <div class="row">
    <div class="col-12">
      <h2 style="text-align: center; margin-top: 30px; margin-bottom: 30px;">Manage your Budget</h2>
    </div>
    <div class="row">
      <div class="col-xl-1"></div>
      <div class="col-12 col-xl-5 col-lg-5 col-md-6 col-sm-12 imgDiv">
        <img src="assets/images/Rectangle 76.png" alt="" class="img-fluid">
      </div>
      <div class="col-xl-1 col-lg-1"></div>
      <div class="col-12 col-xl-4 col-lg-5 col-md-6 col-sm-12 paraDiv">
        <h1 class="trackExpenses">Track your expenses</h1>
        <p class="trackExpensesPara">Keep track of your wedding expenses and not what's paid vs what's pending.</p>
        <button class="addYourExpensesBtn"><b>ADD YOUR EXPENSES</b></button>
      </div>
      <div class="col-xl-1 col-lg-1"></div>
    </div>
  </div>

</div>

<div style="background-color: #EFEFEF;">
  <div class="container">
    <div class="row" style="padding-bottom: 50px;">
      <div class="col-lg-8 col-md-8 col-sm-12 text-center">
        <h1 class="wedding-list-heading"><span style="color: #FDA172;">Wedding</span> Guest List</h1>
        <h2 class="wedding-list-heading2">Your Wedding Guests list Done for you</h2>
        <p class="wedding-list-para">Spread sheets, contacts, Info, Upload it all, then group guests by <br> wedding celebration</p>
        <button class="wedding-list-btn"><u>Start your guests list</u></button>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12" style="margin-top: 80px;">
        <img src="assets/images/guests list helper.jpg" alt="" height="400px">
      </div>
    </div>
  </div>
</div>




<div class="container-fluid mb-5">
  <div class="row">
    <div class="col-12 freeAccountPlanningBg">
      <div class="freeAccountPlanningBgoverlay"></div>
      <h1>Create your free Evauixe account to start planning</h1>
      <p>While you’re working on your wedding website, you should also start thinking about the guest list.</p>
      <button class="signUpBtn">Sign Up</button>
    </div>
  </div>
  <br> <br>
</div>

<!-- checklist section end -->

<app-footer></app-footer>


