<div *ngIf="currentBlog && skin === 'item'" class="hover:cursor-pointer">
  <div class="hover:bg-auto hover:transition-transform w-full h-56 rounded-md bg-center bg-cover" style="background-image: url({{currentBlog && extractImage(currentBlog.contenu) !== '' ? extractImage(currentBlog.contenu) : 'assets/images/ill_14.png'}})"></div>
  <a href="../article/{{currentBlog.id}}" class="block text-xl font-semibold leading-5 mt-8 text-gray-800" [innerHTML]="getValueTraduct(currentBlog.titre)"></a>
  <div class="mt-6 flex items-center cursor-pointer">
    <a href="../article/{{currentBlog.id}}" class="pr-3 text-base font-medium leading-4 underline text-gray-800">{{'14.1' | translate}}</a>
    <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 5H15" stroke="#1F2937" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M11 9L15 5" stroke="#1F2937" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M11 1L15 5" stroke="#1F2937" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </div>
  <p class="text-base mt-4 italic font-italic leading-4 text-gray-600">{{currentBlog.date | date:"MMMM dd, yyyy"}}</p>
</div>

<!--div class="w-fit m-5 hover:cursor-pointer" routerLink="../article/{{currentBlog.id}}" *ngIf="currentBlog && skin === 'item'">
  <div class="bg-center bg-fixed bg-no-repeat bg-center bg-center">
    <div class="w-96 h-96 hover:scale-105 hover:transition-transform" style="background-image:url({{currentBlog && extractImage(currentBlog.contenu) !== '' ? extractImage(currentBlog.contenu) : 'assets/images/ill_14.png'}})">

    </div>
    <div class="bg-white absolute top-0 left-0" *ngIf="extractNombreJour(currentBlog.date) < 1">
      <p class="text-base leading-4 py-3 px-5 text-white bg-orange-500">News</p>
    </div>
  </div>
  <p class="text-base font-light leading-4 text-gray-800 mt-6 capitalize">{{currentUser ? currentUser.nom : 'Evauxie'}} · <span class="text-orange-500"> {{currentBlog.date | date:"MMMM dd, yyyy"}} </span> </p>
  <h1 class="text-2xl font-semibold leading-7 sm:pr-20 mt-2 text-gray-800 w-96 capitalize">{{currentBlog.titre}}</h1>
  <p class="text-base leading-normal mt-4 sm:pr-20 md:pr-10 text-gray-600 overflow-hidden whitespace-nowrap overflow-ellipsis w-96">{{getPureTexte(currentBlog.contenu)}}</p>
  <button routerLink="../article/{{currentBlog.id}}" class="focus:outline-none flex items-center justify-between w-72 mt-6 bg-indigo-600 p-4 hover:bg-indigo-500 focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
    <p class="text-base font-medium leading-4 text-white">Read more</p>
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M3.33203 8H12.6654" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M10 10.6667L12.6667 8" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M10 5.33344L12.6667 8.0001" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </button>
</div-->

<div class="w-60 h-60 relative m-5 rounded-md" *ngIf="currentBlog && skin === 'suggestion'">
  <div class="w-full h-full absolute bg-black opacity-75 rounded-md"></div>
  <div>
    <p class="p-6 text-xs font-medium leading-3 text-white absolute top-0 right-0">{{currentBlog.date | date:"MMMM dd, yyyy"}}</p>
    <div class="absolute bottom-0 left-0 p-6">
      <h2 class="text-xl font-semibold 5 text-white overflow-hidden whitespace-nowrap overflow-ellipsis w-48 capitalize" [innerHTML]="getValueTraduct(currentBlog.titre)"></h2>
      <p class="text-base leading-4 text-white mt-2 overflow-hidden whitespace-nowrap overflow-ellipsis w-48" [innerHTML]="getValueTraduct(getPureTexte(currentBlog.contenu))"></p>
      <a class="focus:outline-none focus:underline flex items-center mt-4 cursor-pointer text-white hover:text-gray-200 hover:underline">
        <a href="../article/{{currentBlog.id}}" class="pr-2 text-sm font-medium leading-none">{{'14.2' | translate}}</a>
        <svg class="fill-stroke" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.75 12.5L10.25 8L5.75 3.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </a>
    </div>
  </div>
  <div class="hover:bg-auto hover:transition-transform w-60 h-60 rounded-md bg-center bg-cover" style="background-image: url({{currentBlog && extractImage(currentBlog.contenu) !== '' ? extractImage(currentBlog.contenu) : 'assets/images/ill_14.png'}})"></div>
</div>


<div class="w-60 h-60 m-5 relative" *ngIf="!currentBlog && skin === 'suggestion'">
  <div class="animate-pulse space-y-4">
    <div class="bg-slate-200 w-60 h-60"></div>
  </div>
</div>

<div class="w-full m-5" *ngIf="!currentBlog && skin === 'item'">
  <div class="animate-pulse space-y-4">
    <div class="bg-slate-200 h-96 w-96"></div>
    <div class="h-4 w-96 bg-slate-200"></div>
    <div class="h-4 w-96 bg-slate-200"></div>
  </div>
</div>
