<app-navbar></app-navbar>

<header class="bg-center h-fit bg-fixed bg-no-repeat bg-center bg-cover relative">
  <div class="relative h-fit w-full flex items-center justify-start text-left bg-cover bg-center" [style]="'background-image:url(assets/images/s_'+ slideselect + '.jpg);'">
    <div class="absolute top-0 right-0 bottom-0 left-0 bg-black opacity-75"></div>
    <main class="px-10 lg:px-24 py-44" style="z-index: 1">
      <div class="sm:text-center lg:text-left">
        <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-7xl">
          <span class="block inline text-gray-50">Let's Celebrate Your</span> <br>
          <span class="block text-indigo-600 inline">Wedding  With Us</span>
        </h1>
        <p class="mt-3 text-base text-gray-100 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-7 md:text-xl lg:mx-0">We are all ready to plan your wedding and all events. Are you?</p>
        <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start" *ngIf="currentEmailUser === ''">
          <div class="rounded-md shadow">
            <a routerLink="../register-customer" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-bold rounded-md text-white bg-indigo-600 hover:bg-indigo-700 md:py-4 md:text-lg md:px-10"> Create your account </a>
          </div>
          <div class="mt-3 sm:mt-0 sm:ml-3">
            <a routerLink="../login-customer" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-bold rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 md:py-4 md:text-lg md:px-10"> Login you </a>
          </div>
        </div>
      </div>
    </main>
  </div>
</header>

<section>
  <div class="mx-auto container pt-16">
    <div class="px-4 lg:px-0">
      <div role="contentinfo" class="flex items-center flex-col px-4">
        <h1 tabindex="0" class="focus:outline-none text-4xl lg:text-4xl pt-4 font-extrabold text-center leading-tight text-gray-800 lg:w-7/12 md:w-9/12 xl:w-5/12">Find your weeding Dream, Team</h1>
        <p tabindex="0" class="focus:outline-none mt-8 uppercase text-sm text-center text-gray-500 leading-none">Make a search among our many places.</p>
      </div>
    </div>
  </div>

  <app-barre-search></app-barre-search>

</section>

<section>
  <div class="px-8 py-2 lg:flex lg:justify-center">
    <div>
      <div class="mx-auto container bg-white pt-16">
        <div class="px-4 lg:px-0">
          <div role="contentinfo" class="flex items-center flex-col px-4">
            <h1 tabindex="0" class="focus:outline-none text-4xl lg:text-4xl pt-4 font-extrabold text-center leading-tight text-gray-800 lg:w-7/12 md:w-9/12 xl:w-5/12">Our Featured Vendors</h1>
            <p tabindex="0" class="focus:outline-none mt-8 uppercase text-sm text-center text-gray-500 leading-none">Quickly find, manage and message your favorite vendors.</p>
          </div>
        </div>
      </div>

      <div class="grid grid-flow-row-dense md:grid-cols-2 md:grid-rows-1 sm:grid-cols-12 sm:grid-rows-12 mt-12">
        <img src="assets/images/ill_1.png" alt="img" class="img-fluid h-full w-full p-1 object-center object-cover rounded-3xl">
        <div class="grid grid-flow-row-dense md:grid-cols-1 md:grid-rows-2 sm:grid-cols-12 sm:grid-rows-12">
          <img src="assets/images/ill_2.png" alt="img" class="h-full w-full p-1 object-center object-cover rounded-3xl">
          <div class="grid grid-flow-row-dense md:grid-cols-2 md:grid-rows-1 sm:grid-cols-12 sm:grid-rows-12">
            <img src="assets/images/ill_3.png" alt="img" class="w-full h-full p-1 object-center object-cover rounded-3xl">
            <img src="assets/images/ill_4.png" alt="img" class="w-full h-full p-1 object-center object-cover rounded-3xl">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="px-8 py-12 lg:flex lg:justify-center">
    <div class="grid md:grid-cols-2 md:grid-rows-1 sm:grid-cols-1 sm:grid-rows-2">
      <div class="max-w-full rounded shadow-sm shadow-orange-500 bg-orange-500 p-4 m-5 rounded-tr-3xl rounded-bl-3xl">
        <div class="bg-orange-500 rounded-tr-3xl rounded-bl-3xl py-3">
          <div class="text-center">
            <h2 class="mb-4 text-xl font-bold text-gray-100">
              Get in touch with us!
            </h2>
            <p class="text-gray-100">
              Ask Question, Schedule meeting or request a porposal. Lets Get Started
            </p>
            <button class="mt-5 bg-transparent hover:bg-white text-white font-semibold hover:text-orange-500 py-2 px-4 border border-white hover:border-transparent rounded">
              Contact us Now
            </button>
          </div>
        </div>
      </div>
      <div class="max-w-full rounded shadow-sm shadow-indigo-600 bg-indigo-600 p-4 m-5 rounded-tr-3xl rounded-bl-3xl">
        <div class="bg-indigo-600 rounded-tr-3xl rounded-bl-3xl py-3">
          <div class="text-center">
            <h2 class="mb-4 text-xl font-bold text-gray-100">
              Do you want to work with us?
            </h2>
            <p class="text-gray-100">
              If you are talented enough then you can join us and have a brigt future!
            </p>
            <button class="mt-5 bg-transparent hover:bg-white text-white font-semibold hover:text-indigo-600 py-2 px-4 border border-white hover:border-transparent rounded">
              Join our team
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="py-10 flex-col items-center justify-center px-4">
    <div class="mx-auto container bg-white">
      <div class="px-4 lg:px-0">
        <div role="contentinfo" class="flex items-center flex-col px-4">
          <h1 tabindex="0" class="focus:outline-none text-4xl lg:text-4xl pt-4 font-extrabold text-center leading-tight text-gray-800 lg:w-7/12 md:w-9/12 xl:w-5/12">Our Blogs</h1>
          <p tabindex="0" class="focus:outline-none mt-8 uppercase text-sm text-center text-gray-500 leading-none">Quickly find, manage and message your favorite vendors.</p>
        </div>
      </div>
    </div>
    <div class="pt-10">
      <app-suggestions-article skin="card-home"></app-suggestions-article>
    </div>
  </div>
</section>

<section>
  <div class="pb-16  flex flex-col items-center justify-center">
    <!-- Code block starts -->
    <div>
      <div class="mx-auto container bg-white pt-16">
        <div class="px-4 lg:px-0">
          <div role="contentinfo" class="flex items-center flex-col px-4">
            <h1 tabindex="0" class="focus:outline-none text-4xl lg:text-4xl pt-4 font-extrabold text-center leading-tight text-gray-800 lg:w-7/12 md:w-9/12 xl:w-5/12">Some numbers</h1>
            <p tabindex="0" class="focus:outline-none mt-8 uppercase text-sm text-center text-gray-500 leading-none">With a full range of event planning services, our clients have successful and prosperous events.</p>
          </div>
        </div>
      </div>
      <div class="2xl:px-20 lg:px-12 px-4 flex flex-wrap items-start mt-4">
        <div class="mt-24">
          <div class="flex items-end">
            <img tabindex="0" src="https://i.ibb.co/kBgtHK6/Rectangle-5.png" alt="girl with blue background" class="w-20 h-20 rounded-lg mr-6" />
            <img tabindex="0" src="https://i.ibb.co/9nLBtjx/Rectangle-3.png" alt="guy winking" class="w-48 h-36 rounded-lg" />
          </div>
          <div class="flex items-center justify-end my-6">
            <img tabindex="0" src="https://i.ibb.co/jRbF1KF/Rectangle-4.png" alt="guy smiling" />
          </div>
          <div class="flex items-start">
            <img tabindex="0" src="https://i.ibb.co/Sf4Q94L/Rectangle-6.png" alt="girl with bluw background" class="w-48 h-48 rounded-lg" />
            <img tabindex="0" src="https://i.ibb.co/fnNqJrx/Rectangle-7.png" alt="guy with glasses" class="w-20 h-20 rounded-lg ml-6 flex-shrink-0 object-cover object-fit" />
          </div>
        </div>
        <div class="ml-6 mt-32">
          <img tabindex="0" src="https://i.ibb.co/LSxy7fy/Rectangle-9.png" class="w-72 h-80 rounded-lg" alt="guy with sunglasses" />
          <div class="flex items-start mt-6">
            <img tabindex="0" src="https://i.ibb.co/X8PKD3q/Rectangle-8.png" alt="girl  laughing" class="w-48 h-48 rounded-lg" />
            <img tabindex="0" src="https://i.ibb.co/2Yj51CY/Rectangle-13.png" alt="guy with glasses" class="w-20 h-20 rounded-lg ml-6 object-cover object-fit" />
          </div>
        </div>
        <div class="mt-14 ml-6">
          <div class="lg:flex">
            <div>
              <img tabindex="0" src="https://i.ibb.co/bWGVSkP/Rectangle-10.png" alt="group of friends" class="w-96 h-72 rounded-lg object-center object-fit" />
            </div>
            <div>
              <div class="flex ml-6">
                <img tabindex="0" src="https://i.ibb.co/80jvpSv/Rectangle-16.png" class="w-20 h-20 rounded-lg mt-14" alt="man" />
                <img tabindex="0" src="https://i.ibb.co/6PR2Y74/Rectangle-15.png" class="w-20 h-24 rounded-lg ml-6" alt="woman" />
              </div>
              <img tabindex="0" src="https://i.ibb.co/M5rvjhk/Rectangle-14.png" alt="boy with blonde hair" class="ml-6 mt-6 w-48 h-32 rounded-lg" />
            </div>
          </div>
          <div class="mt-6 flex">
            <img tabindex="0" class="w-48 h-48 rounded-lg" src="https://i.ibb.co/GPpMsbr/Rectangle-12.png" alt="young girl with red hair" />
            <img tabindex="0" class="w-72 h-56 rounded-lg ml-6" src="https://i.ibb.co/VBcgkVL/Rectangle-11.png" alt="young girl with red hair" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="py-4 lg:py-8 relative">
    <img src="assets/images/ill_12.png" class="h-2/5 lg:h-full w-full lg:w-1/2 absolute inset-0 object-cover object-center xl:block hidden" alt="map" />
    <div class="xl:mx-auto xl:container relative">
      <div class="flex flex-wrap xl:mx-auto xl:container">
        <div class="w-full relative lg:w-1/2 xl:mt-10 mb-10 2xl:pr-24 2xl:pl-0 xl:pl-12 pl-0">
          <img src="assets/images/ill_12.png" class="h-full w-full xl:w-1/2 absolute inset-0 bg-cover bg-center xl:hidden" alt="map" />

          <div class="w-full flex flex-col items-start xl:justify-start relative z-20 xl:px-0 px-10 xl:py-0 py-10">
            <div class="w-full 2xl:pl-48 xl:pt-1">
              <h1 class="text-4xl md:text-5xl lg:text-7xl font-bold tracking-wider text-gray-50">We’re Here</h1>
              <div class="w-full md:w-10/12 mt-3">
                <h2 class="text-gray-50 text-base md:text-lg leading-8 tracking-wider">We believe digital innovation is at the heart of every business success</h2>
                <div class="mt-4 md:mt-8">
                  <h2 class="text-sm md:text-base text-gray-50 font-semibold">Address</h2>
                  <h2 class="text-gray-50 text-base md:text-lg leading-8 tracking-wider mt-2">Office #13, NSTP, NUST University H-12 Sector, Islamabad</h2>
                </div>
                <div class="mt-4 md:mt-8">
                  <h2 class="text-sm md:text-base text-gray-50 font-semibold">Contact</h2>
                  <h2 class="text-gray-50 text-base md:text-lg leading-8 tracking-wider mt-2">+92 051 4567890 (Phone)</h2>
                  <h2 class="text-gray-50 text-base md:text-lg leading-8 tracking-wider mt-2">+92 123 4567890 (Cell)</h2>
                </div>
                <div class="mt-4 md:mt-8">
                  <h2 class="text-sm md:text-base text-gray-50 font-semibold">Email</h2>
                  <h2 class="text-gray-50 text-base md:text-lg leading-8 tracking-wider mt-2">alphasquad@example.com</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/2 xl:pt-10 lg:pl-24">
          <div class="flex flex-col items-start xl:justify-start 2xl:justify-end xl:px-0 px-4">
            <h1 class="text-4xl md:text-5xl lg:text-7xl font-bold tracking-wider text-indigo-700">Evauxie Contact Form</h1>
            <div class="w-full 2xl:w-8/12 mt-3">
              <h2 class="text-gray-800 text-base md:text-lg leading-8 tracking-wider">Send us a message for your persnalized event bookings!</h2>
              <form #form="ngForm" (ngSubmit)="saveNewContact(form)">
                <div class="md:flex items-center md:space-x-5 mt-2">
                  <div class="mt-4 md:mt-8">
                    <p class="text-gray-800 text-base font-medium">Full Name</p>
                    <input name="fullName" id="fullName" ngModel required class="mt-3 text-base border-2 w-full hover:border-indigo-600 focus:border-indigo-600 focus:outline-none border-black py-5 pl-4 text-gray-800" type="text" placeholder="Evenxa" />
                  </div>
                  <div class="mt-4 md:mt-8">
                    <p class="text-gray-800 text-base font-medium">Email Address</p>
                    <input required name="email" id="email" ngModel class="mt-3 text-base border-2 w-full hover:border-indigo-600 focus:border-indigo-600 focus:outline-none border-black py-5 pl-4 text-gray-800" type="email" placeholder="Whrite..." />
                  </div>
                </div>
                <div class="md:flex items-center md:space-x-5">
                  <div class="mt-4 md:mt-8">
                    <p class="text-gray-800 text-base font-medium">Phone</p>
                    <input required name="phone" id="phone" ngModel class="mt-3 text-base border-2 w-full hover:border-indigo-600 focus:border-indigo-600 focus:outline-none border-black py-5 pl-4 text-gray-800" type="text" placeholder="+237 123 456 789" />
                  </div>
                  <div class="mt-4 md:mt-8">
                    <p class="text-gray-800 text-base font-medium">Event type</p>
                    <input required name="typeEvent" id="typeEvent" ngModel class="mt-3 text-base border-2 w-full hover:border-indigo-600 focus:border-indigo-600 focus:outline-none border-black py-5 pl-4 text-gray-800" type="text" placeholder="Whrite..." />
                  </div>
                </div>
                <div class="mt-4 md:mt-8">
                  <p class="text-gray-800 text-base font-medium">Message</p>
                  <textarea required name="message" id="message" ngModel class="mt-3 text-base border-2 w-full resize-none hover:border-indigo-600 focus:border-indigo-600 focus:outline-none border-black xl:h-40 py-5 pl-4 text-gray-800" type="text" placeholder="Write us something..."></textarea>
                </div>
                <div class="py-5">
                  <button [disabled]="form.invalid || isLoadingSendContact" type="submit" class="disabled:bg-gray-300 disabled:text-gray-600 py-3 md:py-5 px-5 md:px-10 bg-gray-900 text-white hover:opacity-90 ease-in duration-150 text-sm md:text-lg tracking-wider font-semibold">
                    <svg *ngIf="isLoadingSendContact" role="status" class="inline mr-3 w-4 h-4 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
                      <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
                    </svg>
                    Send Message
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br> <br>

<app-footer></app-footer>
