<app-navbar></app-navbar>

<header class="bg-center h-fit bg-fixed bg-no-repeat bg-center bg-cover relative">
  <div class="relative h-fit w-full flex items-center justify-start text-left bg-cover bg-center" [style]="'background-image:url(assets/images/s_'+ slideselect + '.jpg);'">
    <div class="absolute top-0 right-0 bottom-0 left-0 bg-black opacity-75"></div>
    <main class="px-10 lg:px-24 py-44" style="z-index: 1">
      <div class="sm:text-center lg:text-left">
        <h1 class="text-4xl tracking-tight font-normal capitalize text-gray-900 sm:text-5xl md:text-7xl">
          <span class="block inline text-gray-50">{{'3.1' | translate}}</span> <br>
          <span class="block text-orange-600 inline">{{'3.2' | translate}}&nbsp;</span>
          <span class="block text-gray-50 inline">{{'3.3' | translate}}</span>
        </h1>
        <h2 class="mt-3 text-base text-gray-100 sm:mt-5 sm:text-lg  sm:mx-auto md:mt-7 md:text-2xl lg:mx-0">{{'3.4' | translate}}</h2>
        <div class="space-x-8 flex absolute right-0 bottom-16 sm:bottom-5 left-0 m-5 sm:mt-8  justify-center" *ngIf="currentEmailUser === ''">
          <a routerLink="../register-customer" class="w-fit sm:flex md:flex items-center justify-center px-5 md:px-16 py-3 border border-transparent text-base font-bold rounded-full text-white bg-orange-500 hover:bg-orange-300 hover:opacity-80"> {{'3.5' | translate}} </a>

          <a routerLink="../login-customer" class="w-fit sm:flex md:flex items-center justify-center px-5 md:px-16 py-3 border border-transparent text-base font-bold rounded-full text-white bg-orange-500 hover:bg-orange-300 hover:opacity-80"> {{'3.6' | translate}} </a>
        </div>
      </div>
    </main>
  </div>
</header>

<section>
  <div class="pb-6 flex items-center sm:flex-row flex-wrap justify-center">
    <div tabindex="0" class="focus:outline-none h-16 w-16 lg:mb-0 mr-4 absolute">
      <img src="assets/images/icon-6.png" alt="man avatar" class="h-full w-full rounded-full overflow-hidden shadow-sm bg-white">
    </div>
  </div>
  <div class="mx-auto container pt-5">
    <div class="px-4 lg:px-0">
      <div role="contentinfo" class="flex items-center flex-col px-4">
        <h1 tabindex="0" class="focus:outline-none text-4xl lg:text-4xl pt-4 font-normal text-center leading-tight text-gray-800">{{'3.7' | translate}}</h1>
        <p tabindex="0" class="focus:outline-none mt-8 uppercase text-sm text-center text-gray-500 leading-none">{{'3.8' | translate}}</p>
      </div>
    </div>
  </div>

  <app-barre-search></app-barre-search>

</section>

<section class="container max-w-7xl mx-auto px-2 invisible md:visible h-0 md:h-full">
  <div class="mx-auto container pt-8 text-gray-600 body-font">
    <div class="px-4 lg:px-0">
      <div role="contentinfo" class="flex items-center flex-col px-4">
        <h1 tabindex="0" class="focus:outline-none text-4xl lg:text-4xl pt-4 font-normal text-center leading-tight text-gray-800 lg:w-7/12 md:w-9/12 xl:w-5/12">{{'3.9' | translate}}</h1>
      </div>
    </div>
  </div>

  <div class="mt-5 flex flex-wrap">
    <div class="md:w-1/3 w-full px-1">
      <div class="flex flex-wrap w-full h-full relative">
        <img alt="gallery" class="rounded-md w-full object-cover h-full object-top block absolute inset-0" src="assets/images/ill_3.jpg">
      </div>
    </div>
    <div class="md:w-2/3 w-full">
      <div class="w-full py-32 px-10 relative">
        <img alt="gallery" class="rounded-md w-full object-cover h-full object-top block absolute inset-0" src="assets/images/ill_33.jpg">
      </div>
      <div class="flex flex-wrap pt-1">
        <div class="w-full md:w-1/2 pr-1">
          <div class="flex flex-wrap w-full py-32 px-10 relative">
            <img alt="gallery" class="rounded-md w-full object-cover h-full object-top block absolute inset-0" src="assets/images/ill_2.jpg">
          </div>
        </div>
        <div class="w-full md:w-1/2">
          <div class="flex flex-wrap w-full py-32 px-10 relative">
            <img alt="gallery" class="rounded-md w-full object-cover h-full object-top block absolute inset-0" src="assets/images/ill_1.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="max-w-7xl mx-auto container px-2">
  <div class="py-10 flex-col items-center justify-center">
    <div class="mx-auto container bg-white">
      <div class="px-4 lg:px-0">
        <div role="contentinfo" class="flex items-center flex-col px-4">
          <h1 tabindex="0" class="focus:outline-none text-4xl lg:text-4xl font-normal text-center leading-tight text-gray-800 lg:w-7/12 md:w-9/12 xl:w-5/12">{{'3.10' | translate}}</h1>
          <p tabindex="0" class="focus:outline-none mt-8 uppercase text-sm text-center text-gray-500 leading-none">{{'3.11' | translate}}</p>
        </div>
      </div>
    </div>
    <div class="py-8">
      <app-suggestions-article skin="card-home"></app-suggestions-article>
    </div>
    <div tabindex="0" class="focus:outline-none mt-8 uppercase text-sm text-center text-gray-500 leading-none text-xl space-y-3">
      <p>
        <a href="./blogs-posts" type="button" class="text-white rounded-md bg-indigo-600 hover:bg-orange-500 focus:ring-4 focus:ring-blue-300 font-medium text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">{{'3.12' | translate}}</a>
      </p>
    </div>
  </div>
</section>

<section class="max-w-screen-2xl p-10 mx-auto container w-full grid md:grid-cols-2 grid-cols-1 gap-3">
  <div class="h-full rounded-md w-full justify-center items-center bg-gradient-to-l from-orange-400 to-orange-500">
    <div class="flex flex-col lg:justify-start justify-center items-center my-16 mx-5">
      <div>
        <p class="text-xl font-semibold text-center text-center leading-normal text-white">{{'3.13' | translate}}</p>
      </div>
      <div class="mt-8">
        <p class="text-base text-center leading-normal text-white">{{'3.14' | translate}} <br> {{'3.15' | translate}}</p>
      </div>
      <div class="mt-8 flex flex-row justify-start items-center space-x-4">
        <div class="">
          <a href="#contact_form"  class="block btn focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-800 text-xs lg:text-base border border-white py-2 px-4 md:py-4 md:px-8 text-white rounded-sm hover:bg-white hover:text-indigo-700">{{'3.16' | translate}}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="h-full rounded-md w-full justify-center items-center bg-gradient-to-l from-indigo-600 to-indigo-700">
    <div class="flex flex-col lg:justify-start justify-center items-center my-16 mx-5">
      <div>
        <p class="text-xl font-semibold text-center text-center leading-normal text-white">{{'3.17' | translate}}</p>
      </div>
      <div class="mt-8">
        <p class="text-base text-center leading-normal text-white">{{'3.18' | translate}} <br> {{'3.18.1' | translate}}</p>
      </div>
      <div class="mt-8 flex flex-row justify-start items-center space-x-4">
        <div class="">
          <a [routerLink]="currentEmailUser ? '../planning-tools' : '../register-vendor'" class="block btn focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-800 text-xs lg:text-base border border-white py-2 px-4 md:py-4 md:px-8 text-white rounded-sm hover:bg-white hover:text-indigo-700">{{'3.19' | translate}}</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="flex flex-col justify-center">
    <!-- Code block starts -->
    <div>
      <div class="bg-center h-fit bg-fixed bg-no-repeat bg-center bg-cover relative">
        <div class="relative py-8 h-fit w-full flex items-center justify-center text-left bg-cover bg-center" [style]="'background-image:url(assets/images/ill_19.jpg);'">
          <div class="absolute top-0 right-0 bottom-0 left-0 bg-black opacity-75"></div>
          <main class="px-2 grid md:grid-cols-9 grid-cols-1 md:gap-5 items-center" style="z-index: 1">
            <div class="justify-center text-right col-span-1">
              <div class="h-32 w-32 inline-block">
                <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="" class="h-full w-full rounded-full overflow-hidden shadow" />
              </div>
              <br>
              <span class="text-2xl text-white font-medium">Arthur F.</span>
            </div>
            <div class="col-span-1 text-right md:visible invisible">
              <svg xmlns="http://www.w3.org/2000/svg" class="inline-block text-orange-500 w-16 h-16" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M3.691 6.292C5.094 4.771 7.217 4 10 4h1v2.819l-.804.161c-1.37.274-2.323.813-2.833 1.604A2.902 2.902 0 0 0 6.925 10H10a1 1 0 0 1 1 1v7c0 1.103-.897 2-2 2H3a1 1 0 0 1-1-1v-5l.003-2.919c-.009-.111-.199-2.741 1.688-4.789zM20 20h-6a1 1 0 0 1-1-1v-5l.003-2.919c-.009-.111-.199-2.741 1.688-4.789C16.094 4.771 18.217 4 21 4h1v2.819l-.804.161c-1.37.274-2.323.813-2.833 1.604A2.902 2.902 0 0 0 17.925 10H21a1 1 0 0 1 1 1v7c0 1.103-.897 2-2 2z"/></svg>
            </div>
            <div class="col-span-6 text-white w-full text-base font-light text-center">
              service efficace et rapide. J'ai pu trouver mes prestataires rapidement avec Evauxie.
            </div>
            <div class="col-span-1 text-left md:visible invisible">
              <svg xmlns="http://www.w3.org/2000/svg" class="inline-block text-orange-500 w-16 h-16 rotate-180" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M3.691 6.292C5.094 4.771 7.217 4 10 4h1v2.819l-.804.161c-1.37.274-2.323.813-2.833 1.604A2.902 2.902 0 0 0 6.925 10H10a1 1 0 0 1 1 1v7c0 1.103-.897 2-2 2H3a1 1 0 0 1-1-1v-5l.003-2.919c-.009-.111-.199-2.741 1.688-4.789zM20 20h-6a1 1 0 0 1-1-1v-5l.003-2.919c-.009-.111-.199-2.741 1.688-4.789C16.094 4.771 18.217 4 21 4h1v2.819l-.804.161c-1.37.274-2.323.813-2.833 1.604A2.902 2.902 0 0 0 17.925 10H21a1 1 0 0 1 1 1v7c0 1.103-.897 2-2 2z"/></svg>
            </div>
          </main>
        </div>
      </div>
    </div>
  </div>
</section>

<!--section>
  <div class="flex flex-col justify-center">
    <div>
      <div class="bg-center h-fit bg-fixed bg-no-repeat bg-center bg-cover relative">
        <div class="relative py-28 h-fit w-full flex items-center justify-center text-left bg-cover bg-center" [style]="'background-image:url(assets/images/ill_19.jpg);'">
          <div class="absolute top-0 right-0 bottom-0 left-0 bg-black opacity-75"></div>
          <main class="px-10" style="z-index: 1">
            <div role="contentinfo" class="flex items-center flex-col px-4 text-white">
              <h1 tabindex="0" class="focus:outline-none text-4xl lg:text-4xl font-normal text-center leading-tight lg:w-7/12 md:w-9/12 xl:w-5/12">Some numbers</h1>
              <br>
              <p tabindex="0" class="focus:outline-none mt-8 uppercase text-sm text-center text-gray-500 leading-none">WITH OUR LARGE LIST OF TRUSTED VENDORS, OUR CLIENTS HAVE SUCCESSFUL AND PROSPEROUS EVENTS</p>
            </div>
            <br><br>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
              <div class="text-center text-white">
                <span class="italic text-5xl">
                  <app-miniature-slow-increment-number [number]="320"></app-miniature-slow-increment-number>
                </span> <br>
                <span class="font-light text-2xl">successful bookings</span>
              </div>
              <div class="text-center text-white">
                <span class="italic text-5xl">
                  <app-miniature-slow-increment-number [number]="156"></app-miniature-slow-increment-number>
                </span> <br>
                <span class="font-light text-2xl">Sastified clients</span>
              </div>
              <div class="text-center text-white">
                <span class="italic text-5xl">
                  <app-miniature-slow-increment-number [number]="594"></app-miniature-slow-increment-number>
                </span> <br>
                <span class="font-light text-2xl">Trusted partners</span>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
  </div>
</section-->

<section class="max-w-7xl mx-auto container px-2">
  <div class="py-10 flex-col items-center justify-center">
    <div class="mx-auto container bg-white">
      <div class="px-4 lg:px-0">
        <div role="contentinfo" class="flex items-center flex-col px-4">
          <h1 tabindex="0" class="focus:outline-none text-4xl lg:text-4xl font-normal text-center leading-tight text-gray-800 lg:w-7/12 md:w-9/12 xl:w-5/12">{{'3.20' | translate}}</h1>
          <p tabindex="0" class="focus:outline-none mt-8 uppercase text-sm text-center text-gray-500 leading-none">{{'3.21' | translate}}</p>
        </div>
      </div>
    </div>
    <div class="py-8">
      <app-suggestions-topic skin="card-home"></app-suggestions-topic>
    </div>
    <div tabindex="0" class="focus:outline-none mt-8 uppercase text-sm text-center text-gray-500 leading-none text-xl space-y-3">
      <p>
        <a href="./forum" type="button" class="text-white rounded-md bg-indigo-600 hover:bg-orange-500 focus:ring-4 focus:ring-blue-300 font-medium text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">{{'3.22' | translate}}</a>
      </p>
    </div>
  </div>
</section>

<section class="mt-10 bg-orange-800" id="contact_form">
  <div class="relative">
    <img src="assets/images/ill_12.png" class="h-2/5 lg:h-full w-full lg:w-1/2 absolute inset-0 object-cover object-center xl:block hidden" alt="map" />
    <div class="xl:mx-auto xl:container relative">
      <div class="flex flex-wrap xl:mx-auto xl:container">
        <div class="w-full relative lg:w-1/2 xl:mt-10 mb-10 2xl:pr-24 2xl:pl-0 xl:pl-12 pl-0">
          <img src="assets/images/ill_12.png" class="h-full w-full xl:w-1/2 absolute inset-0 bg-cover bg-center xl:hidden" alt="map" />

          <div class="w-full flex flex-col items-start xl:justify-start relative z-20 xl:px-0 px-10 xl:py-0 py-10">
            <div class="w-full 2xl:pl-48 xl:pt-1">
              <h1 class="text-4xl md:text-5xl lg:text-7xl font-bold tracking-wider text-gray-50">{{'3.23' | translate}}</h1>
              <div class="w-full md:w-10/12 mt-3">
                <h2 class="text-gray-50 text-base md:text-lg leading-8 tracking-wider">{{'3.24' | translate}}</h2>
                <div class="mt-4 md:mt-8">
                  <h2 class="text-sm md:text-base text-gray-50 font-semibold">{{'3.25' | translate}}</h2>
                  <h2 class="text-gray-50 text-base md:text-lg leading-8 tracking-wider mt-2">{{'3.26' | translate}}</h2>
                  <h2 class="text-gray-50 text-base md:text-lg leading-8 tracking-wider mt-2">{{'3.27' | translate}}</h2>
                  <h2 class="text-gray-50 text-base md:text-lg leading-8 tracking-wider mt-2">{{'3.28' | translate}}</h2>
                  <h2 class="text-gray-50 text-base md:text-lg leading-8 tracking-wider mt-2">{{'3.29' | translate}}</h2>
                </div>
                <div class="mt-4 md:mt-8">
                  <h2 class="text-sm md:text-base text-gray-50 font-semibold">{{'3.30' | translate}}</h2>
                  <h2 class="text-gray-50 text-base md:text-lg leading-8 tracking-wider mt-2">{{'3.31' | translate}}</h2>
                  <h2 class="text-gray-50 text-base md:text-lg leading-8 tracking-wider mt-2">{{'3.32' | translate}}</h2>
                  <h2 class="text-gray-50 text-base md:text-lg leading-8 tracking-wider mt-2">{{'3.33' | translate}}</h2>
                  <h2 class="text-gray-50 text-base md:text-lg leading-8 tracking-wider mt-2">{{'3.34' | translate}}</h2>
                  <h2 class="text-gray-50 text-base md:text-lg leading-8 tracking-wider mt-2">{{'3.35' | translate}}</h2>
                </div>
                <div class="mt-4 md:mt-8">
                  <h2 class="text-sm md:text-base text-gray-50 font-semibold">{{'3.36' | translate}}</h2>
                  <h2 class="text-gray-50 text-base md:text-lg leading-8 tracking-wider mt-2">{{'3.37' | translate}}</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/2 xl:pt-10 lg:px-24 px-5">
          <div class="flex flex-col items-center justify-center xl:px-0">
            <h1 class="text-4xl font-normal tracking-wider text-white">{{'3.38' | translate}}</h1>
            <div class="w-full mt-3">
              <h2 class="text-white w-full text-center text-sm leading-8 tracking-wider">{{'3.39' | translate}}</h2>
              <form #form="ngForm" (ngSubmit)="saveNewContact(form)">
                <div class="md:flex items-center md:space-x-5 mt-2">
                  <div class="mt-4 md:mt-8 w-full">
                    <p class="text-white text-base font-medium">{{'3.40' | translate}}</p>
                    <input name="fullName" id="fullName" ngModel required class="mt-3 text-base border-b w-full bg-transparent hover:border-indigo-600 focus:border-indigo-600 focus:outline-none border-white py-2 pl-4 text-gray-800" type="text" placeholder="" />
                  </div>
                  <div class="mt-4 md:mt-8 w-full">
                    <p class="text-white text-base font-medium">{{'3.41' | translate}}</p>
                    <input required name="email" id="email" ngModel class="mt-3 text-base border-b w-full bg-transparent hover:border-indigo-600 focus:border-indigo-600 focus:outline-none border-white py-2 pl-4 text-gray-800" type="email" placeholder="" />
                  </div>
                </div>
                <div class="md:flex items-center md:space-x-5 w-full">
                  <div class="mt-4 md:mt-8 w-full">
                    <p class="text-white text-base font-medium">{{'3.42' | translate}}</p>
                    <input required name="phone" id="phone" ngModel class="mt-3 text-base border-b w-full bg-transparent hover:border-indigo-600 focus:border-indigo-600 focus:outline-none border-white py-2 pl-4 text-gray-800" type="text" placeholder="" />
                  </div>
                  <div class="mt-4 md:mt-8 w-full">
                    <p class="text-white text-base font-medium">{{'3.43' | translate}}</p>
                    <input required name="typeEvent" id="typeEvent" ngModel class="mt-3 text-base border-b w-full bg-transparent hover:border-indigo-600 focus:border-indigo-600 focus:outline-none border-white py-2 pl-4 text-gray-800" type="text" placeholder="" />
                  </div>
                </div>
                <div class="mt-4 md:mt-8">
                  <p class="text-white text-base font-medium">{{'3.44' | translate}}</p>
                  <textarea required name="message" id="message" ngModel class="mt-3 text-base border-b w-full bg-transparent resize-none hover:border-indigo-600 focus:border-indigo-600 focus:outline-none border-white xl:h-30 py-2 pl-4 text-gray-800" type="text" placeholder=""></textarea>
                </div>
                <div class="py-5">
                  <button [disabled]="form.invalid || isLoadingSendContact" type="submit" class="disabled:bg-gray-100 disabled:text-gray-600 py-3 px-5 rounded-2xl bg-gray-900 text-white hover:opacity-90 ease-in duration-150 text-sm md:text-lg tracking-wider font-semibold">
                    <svg *ngIf="isLoadingSendContact" role="status" class="inline mr-3 w-4 h-4 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
                      <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
                    </svg>
                    {{'3.45' | translate}}
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
