<div class="px-6 pt-28 flex items-center sm:flex-row flex-wrap justify-center">
  <div tabindex="0" class="focus:outline-none h-32 w-32 lg:mb-0 mr-4 absolute">
    <img src="assets/images/logo-portrait.svg" alt="man avatar" class="h-full w-full rounded-full overflow-hidden shadow-sm bg-white" />
  </div>
</div>
<footer class="py-28 xl:px-20 lg:px-12 sm:px-6 px-4 bg-indigo-500">
  <div class="mx-auto container justify-center items-center mb-10 border-b border-gray-400 pb-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 md:gap-8 gap-4">
    <div class="text-white border-r border-gray-400 px-10 text-right">
      <span class="text-3xl">Get the Free Newsletter</span> <br>
      <small class="text-sm">signup to get the updates about news and events</small>
    </div>
    <div class="px-10 text-left">
      <form #form="ngForm" (ngSubmit)="newSubcriber(form)" class="inline-block">
        <input ngModel required name="email" id="email" type="email" class="bg-transparent text-base leading-4 w-full focus:outline-none text-white placeholder-gray-400" placeholder="Your email address" />
      </form>
      <form #form="ngForm" (ngSubmit)="newSubcriber(form)" class="inline-block">
        <button [disabled]="form.invalid || isLoading" aria-label="send" class="fill-current disabled:text-gray-200 text-orange-800 hover:text-gray-500 cursor-pointer focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800">
          <svg *ngIf="!isLoading" width="36" height="37" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path></svg>
          <svg *ngIf="isLoading" role="status" width="16" height="17" class="inline mr-3 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
          </svg>
        </button>
      </form>
    </div>
  </div>
  <div class="mx-auto container grid grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-5 md:gap-8 gap-4">
    <div class="flex flex-col flex-shrink-0">
      <p class="text-xl leading-none text-white mt-4">About Evauxie</p>
      <p class="text-sm leading-none text-gray-100 mt-4 leading-5">
        Lorem Ipsum is simply dummy  text of
        the printing and typesetting industry.
        Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s,
        when an unknown printer took a galley.
      </p>
    </div>
    <div class="sm:ml-0 ml-8 flex flex-col text-gray-100">
      <p class="text-xl leading-none text-white mt-4">Keep in touch</p>
      <a class="focus:outline-none focus:underline hover:text-gray-100 text-base leading-4 mt-6 cursor-pointer">
        <svg class="w-6 h-6 inline-block text-orange-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path></svg>
        38-2 Hilton Street, California, USA
      </a>
      <a class="focus:outline-none focus:underline hover:text-gray-200 text-base leading-4 mt-6 cursor-pointer">
        <svg class="w-6 h-6 inline-block text-orange-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"></path></svg>
        (+01) 123 456 7890</a>
      <a class="focus:outline-none focus:underline hover:text-gray-200 text-base leading-4 mt-6 cursor-pointer">
        <svg class="w-6 h-6 inline-block text-orange-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
        abc.123@evauxie.com</a>
      <a class="focus:outline-none focus:underline hover:text-gray-200 text-base leading-4 mt-6 cursor-pointer">
        <svg class="w-6 h-6 inline-block text-orange-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd"></path></svg>
        Monday -Friday 9.00 am to 6.00 pm </a>
    </div>
    <div class="flex flex-col">
      <p class="text-xl leading-none text-white mt-4 mb-6">Gallery</p>
      <a href=""><img src="assets/images/ill_31.png" width="150px" alt=""></a>
    </div>
    <div class="flex flex-col text-gray-100">
      <p class="text-xl leading-none text-white mt-4">Quick links</p>
      <a class="focus:outline-none focus:underline hover:text-gray-100 text-base leading-4 mt-6 cursor-pointer">
        <svg class="w-6 h-6 inline-block text-orange-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
        Our Services
      </a>
      <a class="focus:outline-none focus:underline hover:text-gray-200 text-base leading-4 mt-6 cursor-pointer">
        <svg class="w-6 h-6 inline-block text-orange-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
        Our Team
      </a>
      <a class="focus:outline-none focus:underline hover:text-gray-200 text-base leading-4 mt-6 cursor-pointer">
        <svg class="w-6 h-6 inline-block text-orange-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
        Our Blogs
      </a>
    </div>
    <div class="flex flex-col text-gray-100">
      <p class="text-xl leading-none text-white mt-4">&nbsp;</p>
      <a class="focus:outline-none focus:underline hover:text-gray-100 text-base leading-4 mt-6 cursor-pointer">
        <svg class="w-6 h-6 inline-block text-orange-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
        Rings & attire
      </a>
      <a class="focus:outline-none focus:underline hover:text-gray-200 text-base leading-4 mt-6 cursor-pointer">
        <svg class="w-6 h-6 inline-block text-orange-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
        About us
      </a>
      <a class="focus:outline-none focus:underline hover:text-gray-200 text-base leading-4 mt-6 cursor-pointer">
        <svg class="w-6 h-6 inline-block text-orange-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
        Vendors
      </a>
    </div>
  </div>
</footer>
