
<div class="px-4 py-9 md:px-6 md:py-12 lg:px-20 lg:py-12 bg-indigo-600">
  <div class="flex flex-col md:flex-row md:justify-between pb-10">
    <div class="flex flex-col items-center">
      <button class="w-full md:w-auto px-24 py-2 bg-white border rounded-md text-xl font-semibold leading-tight text-gray-800 hover:bg-gray-200 focus:ring-2 focus:outline-none focus:ring-gray-200 focus:ring-opacity-50">Get started</button>
      <p class="pt-2 text-sm leading-none text-gray-300 cursor-pointer hover:underline">Or see our plans</p>
    </div>
    <div>
      <p class="w-72 pt-9 md:py-0 text-sm leading-tight text-gray-300">10:00 AM to 6 PM, Monday - Friday Semurh inc 800 bolystan street suite 2475, Bostan MA</p>
    </div>
  </div>

  <div class="w-full px-8 border-white border rounded-md flex flex-col justify-start md:flex-row md:justify-between lg:justify-center gap-2 md:gap-20 py-6">
    <p class="text-sm leading-none text-gray-300 text-2xl">Get the Free Newsletter | signup to get the updates about news and events</p>
    <div class="flex justify-start gap-4">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
      </svg>
      <p class="text-sm leading-none text-gray-300">
        <input type="text" name="price" id="price" class="bg-transparent focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md" placeholder="mail@smrush .com">
      </p>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
    </div>
  </div>

  <div class="pt-10 flex flex-col xl:flex-row justify-between">
    <div class="flex flex-col md:gap-10">
      <div class="flex items-start w-3/4">
        <div class="pb-10 md:pb-0">
          <h3 class="text-xl cursor-default font-semibold leading-tight text-white mb-8">About Evauxie</h3>
          <p class="text-sm cursor-pointer leading-none text-gray-300 mb-6 text-2xl">
            Lorem Ipsum is simply dummy  text of
            the printing and typesetting industry.
            Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s,
            when an unknown printer took a galley.
          </p>
        </div>
        <div class="pb-10 md:pb-0 2xl:pl-20 pl-16">
          <h3 class="text-xl cursor-default font-semibold leading-tight text-white mb-8">Support</h3>
          <p class="text-sm cursor-pointer leading-none text-gray-300 mb-6">Generate lead</p>
          <p class="text-sm cursor-pointer leading-none text-gray-300 mb-6">Size Guide</p>
          <p class="text-sm cursor-pointer leading-none text-gray-300 mb-6">Shipping</p>
          <p class="text-sm cursor-pointer leading-none text-gray-300 mb-6">Payment Security</p>
        </div>
        <div class="pb-10 md:pb-0 2xl:pl-20 pl-16 md:block hidden">
          <h3 class="text-xl cursor-default font-semibold leading-tight text-white mb-8">Solutions</h3>
          <p class="text-sm cursor-pointer leading-none text-gray-300 mb-6">Generate Lead</p>
          <p class="text-sm cursor-pointer leading-none text-gray-300 mb-6">Self knowledge</p>
          <p class="text-sm cursor-pointer leading-none text-gray-300 mb-6">Work from home</p>
          <p class="text-sm cursor-pointer leading-none text-gray-300 mb-6">Engage customers</p>
          <p class="text-sm cursor-pointer leading-none text-gray-300 mb-6">Boost online sales</p>
        </div>
        <div class="pb-10 md:pb-0 2xl:pl-20 pl-16 md:block hidden">
          <h3 class="text-xl cursor-default font-semibold leading-tight text-white mb-8">Visit us</h3>
          <p class="text-sm cursor-pointer leading-none text-gray-300 mb-6">Mayfair</p>
          <p class="text-sm cursor-pointer leading-none text-gray-300 mb-6">Melbourne</p>
          <p class="text-sm cursor-pointer leading-none text-gray-300 mb-6">Wimbledon</p>
        </div>
      </div>
      <div class="flex items-start">
        <div class="pb-10 md:pb-0 md:hidden">
          <h3 class="text-xl cursor-default font-semibold leading-tight text-white mb-8">Solutions</h3>
          <p class="text-sm cursor-pointer leading-none text-gray-300 mb-6">Generate Lead</p>
          <p class="text-sm cursor-pointer leading-none text-gray-300 mb-6">Self knowledge</p>
          <p class="text-sm cursor-pointer leading-none text-gray-300 mb-6">Work from home</p>
          <p class="text-sm cursor-pointer leading-none text-gray-300 mb-6">Engage customers</p>
          <p class="text-sm cursor-pointer leading-none text-gray-300 mb-6">Boost online sales</p>
        </div>
        <div class="pb-10 md:pb-0 pl-16 md:hidden">
          <h3 class="text-xl cursor-default font-semibold leading-tight text-white mb-8">Visit us</h3>
          <p class="text-sm cursor-pointer leading-none text-gray-300 mb-6">Mayfair</p>
          <p class="text-sm cursor-pointer leading-none text-gray-300 mb-6">Melbourne</p>
          <p class="text-sm cursor-pointer leading-none text-gray-300 mb-6">Wimbledon</p>
        </div>
      </div>
      <div class="flex items-start w-full">
        <div class="pb-10 md:pb-0">
          <h3 class="text-xl cursor-default font-semibold leading-tight text-white mb-8">Pricing</h3>
          <p class="text-sm cursor-pointer leading-none text-gray-300 mb-6">Integration</p>
          <p class="text-sm cursor-pointer leading-none text-gray-300 mb-6">Affiliate program</p>
          <p class="text-sm cursor-pointer leading-none text-gray-300 mb-6">Agency Partner</p>
        </div>
        <div class="pb-10 md:pb-0 2xl:pl-20 pl-16">
          <h3 class="text-xl cursor-default font-semibold leading-tight text-white pb-8">Entreprenuer</h3>
          <p class="text-sm cursor-pointer leading-none text-gray-300 pb-6">Online Marketer</p>
          <p class="text-sm cursor-pointer leading-none text-gray-300 pb-6">Marketing Manager</p>
          <p class="text-sm cursor-pointer leading-none text-gray-300 pb-6">Mid and large companies</p>
        </div>
        <div class="2xl:pl-20 md:pl-16 md:block hidden">
          <h3 class="text-xl cursor-default font-semibold leading-tight text-white pb-8">About Getresponce</h3>
          <p class="text-sm cursor-pointer leading-none text-gray-300 pb-6">Career</p>
          <p class="text-sm cursor-pointer leading-none text-gray-300 pb-6">Api docs</p>
          <p class="text-sm cursor-pointer leading-none text-gray-300 pb-6">Accessibility</p>
        </div>
      </div>
      <div class="2xl:pl-20 md:pl-16 md:hidden">
        <h3 class="text-xl cursor-default font-semibold leading-tight text-white pb-8">About Getresponce</h3>
        <p class="text-sm cursor-pointer leading-none text-gray-300 pb-6">Career</p>
        <p class="text-sm cursor-pointer leading-none text-gray-300 pb-6">Api docs</p>
        <p class="text-sm cursor-pointer leading-none text-gray-300 pb-6">Accessibility</p>
      </div>
    </div>

    <div class="pt-16 md:pt-12 lg:pt-0">
      <h3 class="text-xl font-semibold leading-tight text-white">Blog</h3>
      <div class="pt-8 mb-6 flex justify-center cursor-pointer items-center flex-col md:flex-row md:justify-start gap-6">
        <img class="hidden lg:block" src="https://i.ibb.co/qYT5Rfg/Rectangle-93.png" alt="a workspace" />
        <img class="block lg:hidden" src="https://i.ibb.co/FxNmTwC/Rectangle-93-1.png" alt="a workspace" />
        <p class="text-center md:text-left text-base font-semibold cursor-pointer leading-normal text-gray-100">Email Marketing for beginners</p>
      </div>
      <div class="mb-6 flex justify-center cursor-pointer items-center flex-col md:flex-row md:justify-start gap-6">
        <img class="hidden lg:block" src="https://i.ibb.co/z88NZGh/Rectangle-94.png" alt="a woman" />
        <img class="block lg:hidden" src="https://i.ibb.co/pnbjk3y/Rectangle-93-2.png" alt="a woman" />
        <p class="text-center md:text-left text-base font-semibold cursor-pointer leading-normal text-gray-100">Essential guide for dress</p>
      </div>
      <div class="mb-6 flex justify-center cursor-pointer items-center flex-col md:flex-row md:justify-start gap-6">
        <img class="hidden lg:block" src="https://i.ibb.co/vZYLsMs/Rectangle-95.png" alt="a workspace" />
        <img class="block lg:hidden" src="https://i.ibb.co/qpCrNwx/Rectangle-93-3.png" alt="a workspace" />
        <p class="text-center md:text-left text-base font-semibold leading-normal text-gray-100">Essential guide for landing pages</p>
      </div>
      <div class="flex items-center md:justify-start justify-center">
        <button class="pt-8 hover:underline text-base font-medium leading-none text-white cursor-pointer">View all posts</button>
      </div>
    </div>
  </div>

  <div class="pt-10 lg:pt-24 flex justify-center md:justify-start gap-12">
    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/footer_4-svg2.svg" alt="facebook">
    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/footer_4-svg3.svg" alt="twitter">
    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/footer_4-svg4.svg" alt="instagram">
    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/footer_4-svg5.svg" alt="youtube">
    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/footer_4-svg6.svg" alt="pintrest">
  </div>
</div>

